.ui.secondary.padded.segment
  = form_tag books_path, method: :get, class: 'ui form' do
    .field
      .ui.action.fluid.input
        = text_field_tag :keyword, keyword, placeholder: 'キーワード'
        = button_tag type: :submit, class: 'ui primary button' do
          %i.search.icon
          検索
    .ui.inline.fields
      %label キーワード検索
      .field
        .ui.checkbox
          = check_box_tag 'target[work]', true, @target[:work]
          %label 作品名
      .field
        .ui.checkbox
          = check_box_tag 'target[author]', true, @target[:author]
          %label 著者名
    .ui.inline.fields
      %label 配信期間
      .field
        .ui.checkbox
          = check_box_tag 'length[lt_one]', true, @length[:lt_one]
          %label ~1ヶ月未満
      .field
        .ui.checkbox
          = check_box_tag 'length[one]', true, @length[:one]
          %label 1ヶ月
      .field
        .ui.checkbox
          = check_box_tag 'length[two]', true, @length[:two]
          %label 2ヶ月
      .field
        .ui.checkbox
          = check_box_tag 'length[three]', true, @length[:three]
          %label 3ヶ月
      .field
        .ui.checkbox
          = check_box_tag 'length[gt_four]', true, @length[:gt_four]
          %label 4ヶ月〜
%div
  %small
    = link_to 'https://www.aozora.gr.jp/index_pages/index_top.html', target: '_blank' do
      青空文庫で作品を探す
      %i.icon.external
