%tr.computer.only
  %td
    = link_to author_category_book_path(author_id: book.author_id, category_id: book.category_id, id: book.id) do
      = book.title.truncate(100)
      - if book.rights_reserved?
        %small
          %i.far.fa-copyright
    - if lang_locale == :ja && book.try(:published_at)
      %br
      %small (#{book.try(:published_at)}年)
  %td
    = link_to author_category_books_path(author_id: book.author_id, category_id: category[:id]) do
      = book.author_name
    - if lang_locale == :en
      %br
      %small (#{book.try(:birth_year)}-#{book.try(:death_year)})
  %td
    = link_to author_category_books_path(author_id: book.author_id, category_id: book.category_id) do
      = category_label(book.category)
    &nbsp;
    %small
      = book.words_count.to_s(:delimited)
      = t :words, scope: [:search, :defaults]
  - if lang_locale == :en && @category[:id] == "flash"
    %td
      %small #{book.try(:ngsl_ratio) || '--'}%
  %td
    = access_count_stars(book.access_rating(:stars))
  %td
    %small
      = truncated_beginning(book.beginning)

%tr.mobile.only.main
  %td
    = link_to author_category_book_path(author_id: book.author_id, category_id: book.category_id, id: book.id) do
      = book.title.truncate(75)
      - if book.rights_reserved?
        %small
          %i.far.fa-copyright
  %td
    = link_to author_category_books_path(author_id: book.author_id, category_id: category[:id]) do
      = book.author_name
  %td
    = link_to author_category_books_path(author_id: book.author_id, category_id: book.category_id) do
      = category_label(book.category)
    %small.right.floated= access_count_stars(book.access_rating(:stars))
%tr.mobile.only.sub.ellipsis
  %td(colspan="3")
    %small= book.beginning
