%tr.computer.only
  %td
    = link_to author_category_book_path(author_id: book.author_id, category_id: book.category_id, id: book.id) do
      = book.title.truncate(100)
      - if book.rights_reserved?
        %small
          %i.far.fa-copyright
    - if I18n.locale == :ja && book.published_at
      %br
      %small (#{book.published_at}年)
  %td
    = link_to author_category_books_path(author_id: book.author_id, category_id: category[:id]) do
      = book.author_name
    - if I18n.locale == :en
      %br
      %small (#{book.birth_year}-#{book.death_year})
  %td
    = link_to author_category_books_path(author_id: author[:id], category_id: book.category_id) do
      = category_label(book.category)
    &nbsp;
    %small
      = book.words_count.to_s(:delimited)
      = t :words, scope: [:search, :defaults]
  -# TMP: 検証用
  - if I18n.locale == :en
    %td
      - if book.ngsl_ratio
        %small #{book.ngsl_ratio}%
  %td
    = access_count_stars(book.access_rating(:stars))
  %td
    %small
      = truncated_beginning(book.beginning)

%tr.mobile.only.main
  %td
    = link_to author_category_book_path(author_id: book.author_id, category_id: book.category_id, id: book.id) do
      = book.title.truncate(75)
      - if book.rights_reserved?
        %small
          %i.far.fa-copyright
  %td
    = link_to author_category_books_path(author_id: book.author_id, category_id: category[:id]) do
      = book.author_name
  %td
    = link_to author_category_books_path(author_id: author[:id], category_id: book.category_id) do
      = category_label(book.category)
    %small.right.floated= access_count_stars(book.access_rating(:stars))
%tr.mobile.only.sub.ellipsis
  %td(colspan="3")
    %small= book.beginning
