%h1.ui.header
  = @meta_title
  %small （#{@books.total_count.to_s(:delimited)}作品）

%p
  - if @category.id == 'all'
    青空文庫で公開されている#{@author[:name]}の全作品一覧です。
  - else
    青空文庫で公開されている#{@author[:name]}の作品の中で、おおよその読了目安時間が「#{@category.name}」の#{category_title(@category)}#{@books.total_count.to_s(:delimited)}作品です。
    %br
    （#{characters_range(@category)}の作品を対象としています）

= render partial: 'table', locals: { books: @books, author: @author, category: @category }

.ui.basic.center.aligned.segment
  = paginate @books, window: 2
