%h1.ui.large.header
  = @meta_title

%p
  = @meta_description
  - if @category.id != 'all'
    %br
    %small
      （#{characters_range(@category)}の作品を対象としています。
      読了時間は「400字/分」の読書スピードで計算した場合の目安です）

.ui.divider
.ui.secondary.scrolling.menu
  .item(style="padding:0;")
    %i.icon.clock.outline.grey
  - @categories.each do |category|
    - active = 'active' if @category == category
    = link_to category.name, author_category_books_path(author_id: @author[:id], category_id: category.id), class: "item #{active}"
.ui.divider
- if request.format !=  :amp
  = form_tag(authors_path, method: :get, class: 'ui form') do
    .ui.transparent.fluid.left.icon.input
      %i.icon.outline.user
      - author_name = @author[:name] unless @author[:id] == 'all'
      = text_field_tag :author_name, author_name, placeholder: '著者名'
      = hidden_field_tag :category_id, @category.id
      - if @author[:id] != 'all'
        = link_to author_category_books_path(author_id: 'all', category_id: @category.id) do
          .ui.basic.icon.transparent.button.non-amp.only
            %i.icon.close
      %button.ui.basic.icon.button(type="submit")
        %i.icon.search
        %span.amp.mobile.only 検索
        %span.computer.only 検索
  .ui.divider
%br

= render partial: 'table', locals: { books: @books, author: @author, category: @category }

.ui.basic.center.aligned.segment
  = paginate @books, window: 2
