%h1.ui.large.header
  = @book.title
  .sub.header
    = @book.author_name

- if @book.rights_reserved?
  .ui.warning.message
    = t '.copyright_reserved.html'

%p= @meta_description

= link_to "https://twitter.com/intent/tweet?hashtags=#{t(:bungo_search, scope: [:search, :defaults]).downcase.delete(' ')}&url=#{url_for(only_path: false)}&text=#{@meta_title}", target: :_blank, class: 'ui mini twitter button' do
  %i.fab.fa-twitter
  Tweet

%table.ui.definition.fixed.unstackable.table
  %tbody
    %tr
      %td.three.wide
        %small= t :words_count, scope: [:search, :defaults]
      %td.thirteen.wide
        = category_label(@book.category)
        &nbsp;
        = @book.words_count.to_s(:delimited)
        %small= t :words, scope: [:search, :defaults]
    %tr
      %td
        %small= t :popularity, scope: [:search, :defaults]
      %td
        = access_count_stars(@book.access_rating(:stars))
        &nbsp;
        = (@book.popularity > 0 ) ? @book.popularity.to_s(:delimited) : '--'
        %small= t('.popularity_unit')
    %tr
      %td
        %small= t :beginning, scope: [:search, :defaults]
      %td
        = @book.beginning
    - if I18n.locale == :ja
      %tr
        %td
          %small= t :published_at, scope: [:search, :defaults]
        %td
          - if @book.published_at
            #{@book.published_at}年
            &nbsp;
            %small (#{@book.first_edition})
      %tr
        %td
          %small= t :character_type, scope: [:search, :defaults]
        %td
          = @book.character_type
    - else
      %tr
        %td
          %small= t :author, scope: [:search, :defaults]
        %td
          = @book.author_name
          &nbsp;
          (#{@book.birth_year} - #{@book.death_year})


%small
  = t '.popularity_calculation_logic'
%br
%br

= link_to  @book.original_file_url, class: 'ui blue basic button', target: '_blank' do
  = t '.read_at_original'
  &nbsp;
  %small
    %i.fas.fa-external-link-alt
%br
%br

.ui.divider

%div
  %h3.ui.header
    = t '.author_popular_books', author: @book.author
  .ui.four.scrolling.cards
    - @author_books.each do |book|
      = link_to author_category_book_path(author_id: book.author_id, category_id: book.category_id, id: book.id), class: 'ui card' do
        .content
          .header= book.title.truncate(50)
          .meta.ellipsis= book.author_name
          .description.ellipsis= book.beginning
        .extra.content
          .right.floated
            = category_label(book.category)
          = access_count_stars(book.access_rating(:stars))

  %br
  %br

  %h3.ui.header
    = t '.category_popular_books', category: @book.category[:title], category_name: @book.category[:name]
  .ui.four.scrolling.cards
    - @category_books.each do |book|
      = link_to author_category_book_path(author_id: book.author_id, category_id: book.category_id, id: book.id), class: 'ui card' do
        .content
          .header= book.title.truncate(50)
          .meta.ellipsis= book.author_name
          .description.ellipsis= book.beginning
        .extra.content
          .right.floated
            = category_label(book.category)
          = access_count_stars(book.access_rating(:stars))


%script(type="application/ld+json")
  :plain
    {
      "@context":"https://schema.org",
      "@type":"Book",
      "name" : "#{ @book.title }",
      "author": {
        "@type":"Person",
        "name":"#{ @book.author_name }"
      },
      "url" : "#{ @meta_canonical_url || url_for(only_path: false) }",
      "workExample" : [{
        "@type": "Book",
        "isbn": "#{@book.id.to_s.rjust(10, '0')}",
        "bookFormat": "https://schema.org/EBook",
        "potentialAction":{
          "@type":"ReadAction",
          "target": {
            "@type":"EntryPoint",
            "urlTemplate": "#{ @meta_canonical_url || url_for(only_path: false) }",
            "actionPlatform":[
              "http://schema.org/DesktopWebPlatform",
              "http://schema.org/MobileWebPlatform"
            ]
          },
          "expectsAcceptanceOf":{
            "@type":"Offer",
            "Price":"0",
            "priceCurrency":"JPY",
            "availability": "https://schema.org/InStock"
          }
        }
      }],
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "#{ @book.access_rating }",
        "bestRating": "5",
        "ratingCount": "#{ [@book.popularity, 1].max }"
      }
    }
