%h1.ui.large.header
  = @book.title
  .sub.header
    = @book.author

%p= @meta_description

%table.ui.definition.fixed.unstackable.table
  %tbody
    %tr
      %td.three.wide
        %small 文字数
      %td.thirteen.wide
        = category_label(@book.category)
        &nbsp;
        = @book.words_count.to_s(:delimited)
        %small 文字
    %tr
      %td
        %small 人気
      %td
        = access_count_stars(@book.access_count)
        &nbsp;
        = (@book.access_count > 0 ) ? @book.access_count.to_s(:delimited) : '--'
        %small PV
    %tr
      %td
        %small 書き出し
      %td
        = @book.beginning
%small ※「人気」は青空文庫の過去10年分のアクセスランキングを集計した累計アクセス数から算出しています。
%br
%br

= link_to  @book.aozora_file_url, class: 'ui blue basic button', target: '_blank' do
  青空文庫で読む
  &nbsp;
  %i.icon.small.external
%br
%br

.ui.divider

%div
  %h3.ui.header
    = @book.author
    の人気作品
  .ui.four.scrolling.cards
    - @author_books.each do |book|
      = link_to author_category_book_path(author_id: book.author_id, category_id: book.category.id, id: book.id), class: 'ui card' do
        .content
          .header= book.title
          .meta= book.author
          .description= book.beginning.truncate(15)
        .extra.content
          .right.floated
            = category_label(book.category)
          = access_count_stars(book.access_count)

  %br
  %br

  %h3.ui.header
    #{@book.category.title}（#{@book.category.name}）の人気作品
  .ui.four.scrolling.cards
    - @category_books.each do |book|
      = link_to author_category_book_path(author_id: book.author_id, category_id: book.category.id, id: book.id), class: 'ui card' do
        .content
          .header= book.title
          .meta= book.author
          .description= book.beginning.truncate(15)
        .extra.content
          .right.floated
            = category_label(book.category)
          = access_count_stars(book.access_count)


%script(type="application/ld+json")
  :plain
    {
      "@context":"https://schema.org",
      "@type":"Book",
      "name" : "#{ @book.title }",
      "author": {
        "@type":"Person",
        "name":"#{ @book.author }"
      },
      "url" : "#{ @meta_canonical_url || url_for(only_path: false) }",
      "workExample" : [{
        "@type": "Book",
        "isbn": "#{@book.id.to_s.rjust(10, '0')}",
        "bookFormat": "https://schema.org/EBook",
        "potentialAction":{
          "@type":"ReadAction",
          "target": {
            "@type":"EntryPoint",
            "urlTemplate": "#{ @meta_canonical_url || url_for(only_path: false) }",
            "actionPlatform":[
              "http://schema.org/DesktopWebPlatform",
              "http://schema.org/MobileWebPlatform"
            ]
          },
          "expectsAcceptanceOf":{
            "@type":"Offer",
            "Price":"0",
            "priceCurrency":"JPY",
            "availability": "https://schema.org/InStock"
          }
        }
      }],
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "#{ access_count_rating(@book.access_count) }",
        "bestRating": "3",
        "ratingCount": "#{ @book.access_count }"
      }
    }
