.mb-4
  %h1.text-lg.font-bold
    過去の配信作品一覧

.py-4.border-t.border-b.mb-8
  - [*(2018..Time.current.year)].reverse.each do |year|
    - active = 'bg-gray-100 font-bold' if year == params[:year].to_i || (params[:year].blank? && year == Time.current.year)
    = link_to "#{year}年", books_list_path(id: params[:id], year: year), class: "rounded px-2 sm:px-4 py-2 #{active}"

- colors = %w(red orange yellow olive green teal blue violet purple pink brown black)
.mb-4.space-y-4
  - @campaign_groups.each do |cg|
    - month = cg.start_at.month
    - end_month = (cg.count - 1).days.since(cg.start_at).month
    .item
      .content
        = link_to "https://bungo-search.com/authors/#{cg.book.author_id}/categories/#{cg.book.category_id}/books/#{cg.book_id}", class: 'header', target: :blank do
          %span.text-sm{class: colors[month - 1]} #{month}月
          - if month != end_month # ２ヶ月配信対応
            %span.text-sm{class: colors[end_month - 1]} #{end_month}月
          &nbsp;
          .inline.font-bold 『#{cg.book.title}』
          = cg.book.author_name
          &nbsp;
          %small
            %i.icon.external.small
        .extra
          %small
            = cg.start_at.strftime("%Y年%-m月%-d日")
            〜
            = (cg.count - 1).days.since(cg.start_at).strftime("%Y年%-m月%-d日")
