- content_for :breadcrumb do
  = link_to 'マイページ', user_path(current_user.token), class: 'item'
  %i.icon.right.angle.divider
  作成したリスト

%h1.ui.header マイページ

.ui.secondary.pointing.menu
  = link_to 'プロフィール', user_path(current_user.token), class: 'item'
  = link_to '購読中コース', subscriptions_path, class: 'item'
  .active.item 作成したコース

.ui.secondary.basic.center.aligned.segment
  = link_to  new_list_path, class: 'ui red button' do
    %i.icon.plus
    新しいコースを作成する


.ui.middle.alligned.divided.relaxed.large.list
  - @lists.each do |list|
    .item
      .right.floated.content
        - if list.status == 1
          = link_to publish_list_path(list), method: 'post', class: 'ui red basic icon small button', 'data-tooltip'=>'公開', 'data-inverted'=>'', data: {confirm: 'コースを公開すると、本の編集はできなくなります。本当によろしいですか？'} do
            %i.icon.globe
        = link_to edit_list_path(list), class: 'ui blue basic icon small button', 'data-tooltip'=>'編集', 'data-inverted'=>'' do
          %i.icon.write
        = link_to list_path(list), method: 'delete', class: 'ui black basic icon small button', 'data-tooltip'=>'削除', 'data-inverted'=>'', data: {confirm: 'コースを削除します。本当によろしいですか？'} do
          %i.icon.trash
      .content
        .header
          = link_to list_path(list) do
            = list.title
          %span.ui.mini.label{class: list.status==1 ? 'default' : 'orange'}
            = list.status==1 ? '下書き' : '公開中'
        %small.description
          = list.description.truncate(30)
