- if @channel.errors.any?
  .ui.error.visible.message
    .header データの保存に失敗しました
    .list
      - @channel.errors.full_messages.each do |e|
        %li= e

.required.field
  = f.label :title, 'タイトル'
  = f.text_field :title, placeholder: '例）SF小説チャネル'
.field
  = f.label :description, '説明'
  = f.text_area :description, rows: '3', placeholder: '改行が使えます。またURLは自動でリンクに変換されます。'
.field
  = f.label :deliver_at, '配信時間'
  = f.select :deliver_at, time_select, {}, class: 'ui dropdown'
  %small ※配信時間の変更は翌日分から反映されます。
%br


.ui.horizontal.divider 配信予定作品
%div
  %small
    = link_to 'https://www.aozora.gr.jp/index_pages/index_top.html', target: '_blank' do
      青空文庫で作品を探す
      %i.icon.external
.ui.secondary.padded.segment
  .ui.action.fluid.input
    %input#searchInput(type="text" placeholder="青空文庫の作品URL")
    = link_to '/books/url/?url=', id: 'searchButton', class: 'ui primary button', method: :post, remote: true do
      %i.add.icon
      追加
  %div
    %small
      （
      = link_to '図書カード', 'https://www.aozora.gr.jp/cards/000035/card1567.html', target: '_blank'
      もしくは
      = link_to 'XHTMLファイル', 'https://www.aozora.gr.jp/cards/000035/files/1567_14913.html', target: '_blank'
      のURL
      ）
#loader.ui.disabled.text.loader Loading..


#bookList.ui.middle.alligned.divided.relaxed.large.list
  = f.fields_for :channel_books do |cb|
    - channel_book = cb.object
    - book = channel_book.book
    .item(id="#{book.id}" data-saved="true" class="#{ channel_book.delivered? ? 'hidden' : '' }")
      .right.floated.content
        .ui.icon.basic.button(onclick="removeBook(#{book.id})")
          %i.icon.remove
      %i.icon.content.handler
      .content
        .header
          = book.title
        .description
          %small= book.author
        .extra
          %small
            （全#{book.chapters_count}回配信）
          = cb.hidden_field :id, value: channel_book.id
          = cb.hidden_field :book_id, value: channel_book.book_id
          = cb.hidden_field :index, value: channel_book.index, id: "#{channel_book.book_id}_index"
          = cb.hidden_field :_destroy, value: false, id: "#{channel_book.book_id}_destroy"

%br
%br


.ui.bottom.fixed.borderless.menu
  .item
    %button.ui.red.button(type="submit" value="draft") 保存する
    = link_to 'キャンセル', subscriptions_path, class: 'item'
