- if @channel.errors.any?
  .ui.error.visible.message
    .header データの保存に失敗しました
    .list
      - @channel.errors.full_messages.each do |e|
        %li= e

.required.field
  = f.label :title, 'タイトル'
  = f.text_field :title, placeholder: '例）SF小説チャネル'
.field
  = f.label :description, 'チャネルの説明'
  = f.text_area :description, rows: '1', placeholder: '改行が使えます。URLは自動でリンクに変換されます。'
.field
  = f.label :public do
    = f.check_box :public
    チャネルを公開する
.field
  = f.label :default do
    = f.check_box :default
    デフォルトのチャネルにする
    %span(data-tooltip="デフォルトの本の追加先がこのチャネルになります" data-inverted="")
      %i.icon.question.circle
%br


.ui.bottom.fixed.borderless.menu
  .item
    %button.ui.red.button(type="submit" value="draft") 保存する
    = link_to 'キャンセル', subscriptions_path, class: 'item'
