- if @channel.errors.any?
  .ui.error.visible.message
    .header データの保存に失敗しました
    .list
      - @channel.errors.full_messages.each do |e|
        %li= e

.required.field
  = f.label :title, 'タイトル'
  = f.text_field :title, placeholder: '例）SF小説チャネル'
.field
  = f.label :description, 'チャネルの説明'
  = f.text_area :description, rows: '1', placeholder: '改行が使えます。URLは自動でリンクに変換されます。'
  %small ※チャネルを公開する場合のみ、説明の入力が必須になります。
.inline.fields
  .field
    .ui.radio.checkbox
      = f.radio_button :status, 'private'
      %label(for="channel_status_private") 非公開
  .field
    .ui.radio.checkbox
      = f.radio_button :status, 'public'
      %label(for="channel_status_public") 公開
.field
  .ui.checkbox
    = f.check_box :default
    %label デフォルトのチャネルにする
  %span(data-tooltip="デフォルトの本の追加先がこのチャネルになります" data-inverted="")
    %i.icon.question.circle
%br


.ui.bottom.fixed.borderless.menu
  .item
    %button.ui.red.button(type="submit" value="draft") 保存する
  = link_to 'キャンセル', subscriptions_path, class: 'item'
