- content_for :breadcrumb do
  = link_to 'マイページ', user_path(current_user.token), class: 'section'
  %i.icon.right.angle.divider
  = link_to '配信チャネル', subscriptions_path, class: 'section'
  %i.icon.right.angle.divider
  = @channel.title

%h1= @channel.title

= form_for @channel, url: {action: 'update'}, html: {class: 'ui form'} do |f|
  = render partial: 'form', locals: {f: f}
