.mb-8
  %h1.text-lg.font-bold
    公開チャネル

.mb-8
  .grid.grid-cols-1.gap-x-8.gap-y-12(class="sm:grid-cols-2")
    - @channels.each do |channel|
      = link_to channel_path(channel.code), class: 'hover:opacity-75' do
        .border.rounded
          .rounded-t
            - image_path = "/assets/images/channels/#{channel.code}.png"
            - bg_position = %w(bungomail-official alterego).include?(channel.code) ? 'bg-top' : 'bg-center'
            .rounded-t.bg-cover.h-36.hidden(class="sm:block #{bg_position}" style="background-image: url(#{image_path});")
            = image_tag(image_path, alt: channel.title, class: 'mx-auto sm:hidden rounded-t')
          .px-3.py-4
            %h5.text-lg.font-bold.mb-2
              = channel.title
              - if channel.id == Channel::OFFICIAL_CHANNEL_ID
                .text-xs.rounded.inline-block.border.border-yellow-500.bg-yellow-50.text-yellow-700.font-bold.px-2.py-1(aria-label="このチャネルの購読には、Basicプランの登録が必要です" data-microtip-position="top" role="tooltip")
                  Basic
            .text-gray-500
              = channel.description.truncate(50)
          - if %w(dogramagra business-model alterego).include?(channel.code)
            .bg-indigo-600.text-white.text-center.p-2.rounded-b.opacity-50
              配信終了しました
          - else
            .bg-indigo-600.text-white.text-center.p-2.rounded-b
              詳細を見る
