.mb-8
  %h1.text-lg.font-bold
    公開チャネル

.mb-8
  .grid.grid-cols-1.gap-x-8.gap-y-12(class="sm:grid-cols-2")
    - @channels.each do |channel|
      - opacity = channel.finished? ? 'opacity-50 hover:opacity-75' : 'hover:opacity-75'
      = link_to channel_path(channel.code), class: opacity do
        .flex.flex-col.h-full.border.rounded
          .rounded-t
            - image_path = "/assets/images/channels/#{channel.code}.png"
            - bg_position = %w(bungomail-official alterego).include?(channel.code) ? 'bg-top' : 'bg-center'
            .rounded-t.bg-cover.h-36.hidden(class="sm:block #{bg_position}" style="background-image: url(#{image_path});")
            = image_tag(image_path, alt: channel.title, class: 'mx-auto sm:hidden rounded-t')
          .flex-1.px-3.py-4
            %h5.text-lg.font-bold.mb-2
              = channel.title
            .text-gray-500
              = channel.description.truncate(50)
          .bg-indigo-600.text-white.text-center.p-2.rounded-b
            = channel.finished? ? '配信終了しました' : '詳細を見る'
