%h1.ui.huge.header
  = @channel.title

  - if @channel.private?
    %small(data-tooltip="非公開" data-inverted="true")
      %i.mini.lock.icon

%div
  -# 購読管理
  - if @subscription
    = link_to '配信設定', edit_subscription_path(@subscription.token), class: 'ui red basic small button'
  - else
    - if @channel.books_count > 0 && current_user.try(:subscriptionable?)
      = link_to '配信開始', subscriptions_path(channel_id: @channel.token), method: :post, class: "ui small red button"
    - else
      %button.ui.small.red.disabled.button 配信開始

  -# ownerの場合は管理メニュー表示
  - if current_user && @channel.user_id == current_user.id
    = link_to 'チャネルの編集', edit_channel_path(@channel.token), class: 'ui primary basic small button', data: {turbolinks: false}

- if current_user && !@subscription && !current_user.subscriptionable?
  .ui.warning.small.message
    .content
      %i.icon.warning.circle
      購読チャネル数の上限に達しています。新しく購読したい場合は他の配信中チャネルの購読を解除してください。
%br


%div= simple_format_with_link @channel.description


- if @subscription
  - if @subscription.finished?
    .ui.warning.small.message
      %i.icon.warning.circle
      このチャネルの配信は終了しました。もう一度購読したい場合は、「配信設定」から一度購読を解除し、再度購読し直してください。

  .ui.small.header
    %i.icon.podcast
    配信中のタイトル
  .ui.secondary.padded.segment
    - if book = @subscription.current_chapter.try(:book)
      .ui.small.header
        #{book.author}『#{book.title}』
        = link_to book.aozora_card_url do
          %i.icon.mini.external
      %span.ui.label 次の配信
      第#{@subscription.current_chapter.index}回（全#{book.chapters_count}回）
      %i.icon.clock.outline
      = @subscription.next_deliver_at.strftime("%m月%d日 %H:%M")
    - else
      現在配信中のタイトルはありません
    .ui.hidden.divider
    %div
      %i.icon.rss
      = link_to subscription_path(@subscription.token, format: :atom), target: '_blank' do
        = subscription_url(@subscription.token, format: :atom)
        &nbsp;
        %i.icon.small.external

  .ui.secondary.pointing.menu
    - if @finished
      = link_to '今後の配信予定', channel_path(@channel.token), class: 'item'
      .active.item 過去の配信
    - else
      .active.item 今後の配信予定
      = link_to '過去の配信', channel_path(@channel.token, books: 'finished'), class: 'item'
- else
  .ui.small.dividing.header
    %i.icon.book
    配信タイトル

.ui.middle.alligned.relaxed.large.ordered.list
  - @books.each do |book|
    .item
      .content
        .header
          = book.title
          = link_to book.aozora_card_url, target: '_blank' do
            %i.icon.mini.external
          = delivery_period_label(book.chapters_count)
        .meta
          %small= book.author

- if @books.blank?
  - message = @finished ? 'まだ配信済みの本がないようです。' : '配信予定の本がありません。'
  %small= message
