- if @channel.code?
  .mb-4.bg-gray-500
    - image_path = "/assets/images/channels/#{@channel.code}.png"
    .bg-cover.bg-center.h-48.hidden(class="sm:block" style="background-image: url(#{image_path});")
    = image_tag(image_path, alt: @meta_title, class: 'max-h-64 mx-auto sm:hidden')

.mb-8
  .flex.items-center.mb-2.space-x-2
    %h1.text-lg.font-bold
      = @meta_title
    .text-xs.rounded.inline-block.border.border-yellow-500.bg-yellow-50.text-yellow-700.font-bold.px-2.py-1 Basic

  - if @channel.description.present?
    .mb-8.text-sm
      = simple_format @channel.description

.mb-16
  .flex.flex-col.space-x-2(class="sm:flex-row sm:items-center")
    - if current_user.membership.plan == 'free'
      .rounded.inline-block.bg-indigo-500.text-white.font-bold.px-4.py-2.text-center.opacity-50 購読する
      .text-sm ※このチャネルはBasicプラン以上で購読できます
    - else
      .rounded.inline-block.bg-indigo-500.text-white.font-bold.px-4.py-2.text-center 購読する
      .text-sm ※このチャネルはBasicプラン以上で購読できます

.mb-8
  %h3.font-bold.mb-4.pb-2.border-b ▼ 配信履歴
  .space-y-2
    - @book_assignments.each do |ba|
      .content
        = link_to "https://bungo-search.com/authors/#{ba.book.author_id}/categories/#{ba.book.category_id}/books/#{ba.book_id}", class: 'header', target: :blank do
          .inline.sm:text-lg.font-bold= ba.book.title
          = ba.book.author_name
          &nbsp;
          %small
            %i.icon.external.small
        .extra
          %small
            = ba.start_at.strftime("%Y年%-m月%-d日")
            〜
            = (ba.count - 1).days.since(ba.start_at).strftime("%Y年%-m月%-d日")

  .mt-8.mx-auto
    = paginate @book_assignments
