- if @channel.code?
  .mb-4.bg-gray-500
    - image_path = "/assets/images/channels/#{@channel.code}.png"
    - bg_position = %w(bungomail-official alterego).include?(@channel.code) ? 'bg-top' : 'bg-center'
    .bg-cover.h-60.hidden(class="sm:block #{bg_position}" style="background-image: url(#{image_path});")
    = image_tag(image_path, alt: @meta_title, class: 'max-h-64 mx-auto sm:hidden')

.mb-4
  .flex.flex-col.justify-between.space-y-4(class="sm:flex-row sm:items-center sm:space-y-0")
    .flex.items-center.space-x-2
      %h1.text-lg.font-bold
        = @meta_title
      - if @channel.code == 'bungomail-official'
        .text-xs.rounded.inline-block.border.border-yellow-500.bg-yellow-50.text-yellow-700.font-bold.px-2.py-1 Basic
    %div
      - if %w(alterego dogramagra business-model).include?(@channel.code)
        .rounded.block.bg-indigo-500.text-white.font-bold.px-6.py-2.text-center.opacity-50(class="sm:inline-block")
          配信終了しました
      - elsif @channel.code == 'bungomail-official'
        - if @subscription&.status == 'active'
          .space-x-0.space-y-2(class="sm:space-x-2 sm:space-y-0")
            %div(class="rounded block bg-indigo-500 text-white font-bold px-6 py-2 text-center sm:inline-block opacity-50") 購読中
            = link_to '解約する', subscription_path(@subscription), method: :delete, class: "rounded block bg-red-500 text-white font-bold px-6 py-2 text-center sm:inline-block", data: { confirm: 'このチャネルの購読を解約し、翌日からのメール配信を停止します。よろしいですか？' }
        - else
          = link_to '購読する', subscriptions_path(channel_id: @channel.id), method: :post, class: "rounded block bg-indigo-500 text-white font-bold px-6 py-2 text-center sm:inline-block"

- if @channel.description.present?
  .mb-8.text-sm
    = simple_format @channel.description

.mt-8.mb-8
  %h3.font-bold.mb-4.pb-2.border-b ▼ 配信履歴
  .space-y-2
    - @book_assignments.each do |ba|
      .content
        = link_to "https://bungo-search.com/authors/#{ba.book.author_id}/categories/#{ba.book.category_id}/books/#{ba.book_id}", class: 'header', target: :blank do
          .inline.sm:text-lg.font-bold= ba.book.title
          = ba.book.author_name
          &nbsp;
          %small
            %i.icon.external.small
        .extra
          %small
            = ba.start_date.strftime("%Y年%-m月%-d日")
            〜
            = ba.end_date.strftime("%Y年%-m月%-d日")
    - if @channel.code == 'business-model'
      .content
        = link_to "https://www.amazon.co.jp/dp/4046023619", class: 'header', target: :blank do
          .inline.sm:text-lg.font-bold ビジネスモデル2.0図鑑
          近藤 哲朗
          &nbsp;
          %small
            %i.icon.external.small
        .extra
          %small
            2019年6月1日
            〜
            2019年9月10日


  .mt-8.mx-auto.w-max
    = paginate @book_assignments
