- if @channel.streaming?
  .ui.inverted.attached.segment.channel-cover
    = image_tag("#{@meta_image}", class: 'ui centered image')

%h1.ui.huge.header
  = @channel.title
  = channel_status_icon(@channel.status)

- if @channel.streaming?
  .ui.middle.aligned.small.list
    .item
      = image_tag("/assets/images/avatars/#{@channel.id}.jpg", class: 'ui avatar bordered medium image', alt: @channel.user.display_name)
      .content
        .description= @channel.from_name || @channel.user.display_name

-# 購読管理
%div
  -# ownerの場合は管理メニュー表示
  - if @channel.user_id == current_user.try(:id)
    = link_to 'チャネルの編集', edit_channel_path(@channel), class: 'ui primary basic small button', data: {turbolinks: false}

  - if @channel.streaming?
    - if @subscription
      -# ストリーミングのownerは配信解除させない（かわりにコメント機能を提供）
      - if @channel.user_id == current_user.try(:id)
        = link_to '配信設定', edit_subscription_path(@subscription), class: 'ui red basic small button'
        = link_to 'コメント登録', subscription_comments_path(@subscription), class: 'ui black basic small button'
      - else
        %button.ui.small.red.disabled.responsive.button
          = @master_sub.not_started? ? "配信予約済み" : "配信中"
          - if @master_sub.not_started?
            %small （ #{@master_sub.next_delivery_date.strftime("%-m月%-d日")} 配信開始）
        %small
          = link_to subscription_path(@subscription), method: :delete, data: {confirm: '配信を解除します。本当によろしいですか？'} do
            %i.icon.trash
            配信を解除する
    - else
      - if current_user.try(:subscriptionable?)
        = link_to subscriptions_path(channel_id: @channel), method: :post, class: "ui red small responsive button" do
          - if @master_sub.not_started?
            配信予約する
            %small （ #{@master_sub.next_delivery_date.strftime("%-m月%-d日")} 配信開始）
          - else
            購読する
            %small （すでに配信は開始しています）
      - else
        %button.ui.small.red.disabled.responsive.button
          - if @master_sub.not_started?
            配信予約する
            %small （ #{@master_sub.next_delivery_date.strftime("%-m月%-d日")} 配信開始）
          - else
            購読する
            %small （すでに配信は開始しています）
        %small
          - if current_user
            （購読上限に達しています。他のチャネルを解約してから購読してください）
          - else
            （購読には
            = link_to 'ログイン', login_path
            が必要です）

  - else
    - if @subscription
      = link_to '配信設定', edit_subscription_path(@subscription), class: 'ui red basic small button'
    - else
      - if @channel.books_count > 0 && current_user.try(:subscriptionable?)
        = link_to '配信開始', subscriptions_path(channel_id: @channel), method: :post, class: "ui small red button"
      - else
        %button.ui.small.red.disabled.button 配信開始
        %small
          - if current_user
            ※購読上限に達しています。他のチャネルを解約してから購読してください。
          - else
            ※購読には
            = link_to 'ログイン', login_path
            が必要です

.ui.divider

- if @channel.description.present?
  %div= simple_format_with_link @channel.description
  .ui.divider

- if @subscription.try(:finished?)
  .ui.warning.small.message
    %i.icon.warning.circle
    このチャネルの配信は終了しました。もう一度購読したい場合は、「配信設定」から一度購読を解除し、再度購読し直してください。
  .ui.hidden.divider

- if @channel.from_email.present?
  .ui.info.small.message
    %i.icon.info.circle
    このチャネルは「
    %b= @channel.from_email
    」から配信されます。
    = link_to 'メーラーの受信設定など', 'https://bungomail.hatenablog.com/entry/2018/05/21/172542', target: '_blank'
    を事前にご確認ください。
  .ui.hidden.divider



-# streamingのときはシェアボタン表示、それ以外ではbookリストの表示
- sub = @channel.streaming? ? @master_sub : @subscription
.ui.horizontal.list
  - if sub.present?
    .item
      = link_to subscription_path(sub, format: :atom), target: '_blank', class: 'ui small green left labeled icon button' do
        %i.icon.rss
        RSSフィード
  .item
    = link_to "https://twitter.com/intent/tweet?#{URI.encode_www_form(hashtags: 'ブンゴウメールPRO')}&original_referer=https%3A%2F%2Fbungomail.com%2Fpro%2F&ref_src=twsrc%5Etfw&#{URI.encode_www_form(text: @channel.title)}&#{URI.encode_www_form(url: channel_url(@channel))}", target: '_blank', class: 'ui small twitter icon button' do
      %i.icon.twitter
  .item
    = link_to "https://www.facebook.com/sharer/sharer.php?#{URI.encode_www_form(u: channel_url(@channel))}&display=popup&ref=plugin&src=like&kid_directed_site=0&app_id=139414576217599", target: '_blank', class: 'ui small facebook icon button' do
      %i.icon.facebook.f


- if !@channel.streaming?
  -# 配信中タイトル
  - if sub.try(:current_chapter)
    .ui.small.header
      %i.icon.podcast
      配信中のタイトル
    .ui.secondary.padded.segment
      - if book = sub.current_chapter.try(:book)
        .ui.small.header
          #{book.author}『#{book.title}』
          = link_to book.aozora_card_url do
            %i.icon.mini.external
        %span.ui.label 次の配信
        第#{sub.current_chapter.index}回（全#{book.chapters_count}回）
        %i.icon.clock.outline
        = sub.next_deliver_at.strftime("%m月%d日 %H:%M")
      - else
        現在配信中のタイトルはありません

  -# 見出し
  - if @subscription
    .ui.secondary.pointing.menu
      - if @finished
        = link_to '今後の配信予定', channel_path(@channel), class: 'item'
        .active.item 過去の配信
      - else
        .active.item 今後の配信予定
        = link_to '過去の配信', channel_path(@channel, books: 'finished'), class: 'item'
  - else
    .ui.small.dividing.header
      %i.icon.book
      配信タイトル

  -# bookリスト
  .ui.middle.alligned.relaxed.large.ordered.list
    - @books.each do |book|
      .item
        .content
          .header
            = book.title
            = link_to book.aozora_card_url, target: '_blank' do
              %i.icon.mini.external
            = delivery_period_label(book.chapters_count)
          .meta
            %small= book.author

  - if @books.blank?
    - message = @finished ? 'まだ配信済みの本がないようです。' : '配信予定の本がありません。'
    %small= message
