.ui.basic.segment
  %h1.ui.header
    User Settings

  = form_for current_user, html: { class: 'ui form' } do |f|
    .field
      = f.label :timezone
      = f.time_zone_select :timezone, nil, {}, { class: 'ui dropdown' }

    .ui.divider

    = f.submit 'Save', class: 'ui blue small responsive button'
    &nbsp;
    = link_to 'Cancel', user_path(current_user), class: 'ui basic small responsive button'
