.mb-30
  .ui.breadcrumb
    = link_to 'Settings', user_path(@user), class: 'section'
    %i.icon.right.angle.divider
    Edit

.mb-50
  %h1.ui.large.header
    User Settings

  = form_for @user, html: { class: 'ui form' } do |f|
    .field
      = f.label :timezone
      = f.time_zone_select :timezone, nil, {}, { class: 'ui dropdown' }

    .ui.divider

    = f.submit 'Save', class: 'ui blue small responsive button'
    &nbsp;
    = link_to 'Cancel', user_path(@user), class: 'ui basic small responsive button'
