.mb-30
  .ui.breadcrumb
    = link_to 'Channels', channels_path, class: 'section'
    %i.icon.right.angle.divider
    = link_to @channel.title, channel_path(@channel), class: 'section'
    %i.icon.right.angle.divider
    .section Change book order

.mb-30
  %h1.ui.large.header.mb-0
    Change Book Order

%table.ui.fixed.unstackable.table
  - @book_assignments.each.with_index(1) do |assignment, index|
    %tr
      %td.one.wide.left.aligned.computer.only
        %i.icon.bars
      %td.two.wide.left.aligned.mobile.tablet.only
        %i.icon.bars

      %td.twelve.wide
        .ui.small.header.mb-0
          = assignment.book.title
        %small= assignment.book.author_name
        &nbsp;
        %span.ui.mini.label 1mth

      %td.two.wide.right.aligned.computer.only
        = link_to book_assignment_path(assignment), method: :delete,  data: { confirm: 'Delete the stocked book. You can not undo this after confirming.' }, class: 'ui transparent icon button' do
          %i.icon.remove
      %td.three.wide.right.aligned.mobile.tablet.only
        = link_to book_assignment_path(assignment), method: :delete,  data: { confirm: 'Delete the stocked book. You can not undo this after confirming.' }, class: 'ui transparent icon button' do
          %i.icon.remove

.ui.divider
.ui.red.button Save
= link_to 'Cancel', channel_path(@channel), class: 'ui basic button'
