= render partial: 'mail/channels/profile', locals: { channel: @channel }
= render partial: 'mail/channels/menu', locals: { channel: @channel, active: @active_tab }

%div.mb-50
  - if @book_assignments.blank?
    %p No books are stocked.
    %small *You can manually select and stock books for future distribution.
  - else
    %table.ui.fixed.celled.table
      %thead
        %tr
          %th.one.wide #
          %th.eight.wide Title
          %th.three.wide URL
          %th.four.wide
      %tbody
        - @book_assignments.each.with_index(1) do |assignment, index|
          %tr
            %td= index
            %td
              = assignment.book.title
              %br
              %small
                by
                = assignment.book.author_name
            %td
              - url = assignment.book.original_file_url
              = link_to url, target: :_blank do
                = url
                %i.icon.small.external
            %td
              = link_to 'Delete', book_assignment_path(assignment), method: :delete,  data: { confirm: 'Delete the stocked book. You can not undo this after confirming.' }
