%footer.ui.basic.center.aligned.inverted.segment
  %h5.ui.header
    = link_to root_path do
      ブンゴウメール
  %br
  .ui.horizontal.list
    = link_to 'Terms', page_path(:terms, locale: I18n.locale), class: 'item'
    = link_to 'Privacy Policy', page_path(:privacy, locale: I18n.locale), class: 'item'
    = link_to 'Contact', 'https://forms.gle/MFpUGvm68DLCmWDQ9', target: '_blank', class: 'item'
    = link_to 'Company', 'https://notsobad.jp', target: '_blank', class: 'item'
    = link_to 'Twitter', 'https://twitter.com/bungomail', target: '_blank', class: 'item'
  %br
  %br
  %br
  %div
    %small
      Copyright
      = link_to 'Bungo Mail', root_path
      2018 All rights reserved.
    %small
      Powered by
      %a{:href => "https://notsobad.jp", :target => "_blank"} NOT SO BAD, LLC.
