%footer.ui.basic.center.aligned.inverted.segment.mt-0
  %h5.ui.header
    = link_to root_path do
      ブンゴウメール
  %br
  .ui.horizontal.list
    = link_to '利用規約', page_path(:terms, juvenile: nil), class: 'item'
    = link_to 'プライバシーポリシー', page_path(:privacy, juvenile: nil), class: 'item'
    = link_to 'お問い合わせ', 'https://forms.gle/MFpUGvm68DLCmWDQ9', target: '_blank', class: 'item'
    = link_to '運営会社', 'https://notsobad.jp', target: '_blank', class: 'item'
    = link_to '公式Twitter', 'https://twitter.com/bungomail', target: '_blank', class: 'item'
  %br
  %br
  %br
  %div
    %small
      Copyright
      = link_to 'ブンゴウメール', root_path
      2018 All rights reserved.
    %small
      Powered by
      %a{:href => "https://notsobad.jp", :target => "_blank"} NOT SO BAD, LLC.
