%footer.ui.basic.center.aligned.inverted.segment.mt-0
  %h5.ui.header
    = link_to root_path do
      = t :bungo_mail, scope: [:mailing, :defaults]
  %br
  .ui.horizontal.list
    = link_to t(:terms, scope: [:mailing, :defaults]), page_path(:terms), class: 'item'
    = link_to t(:privacy_policy, scope: [:mailing, :defaults]), page_path(:privacy), class: 'item'
    = link_to t(:contact, scope: [:mailing, :defaults]), 'https://forms.gle/MFpUGvm68DLCmWDQ9', target: '_blank', class: 'item'
    = link_to t(:company, scope: [:mailing, :defaults]), 'https://notsobad.jp', target: '_blank', class: 'item'
    = link_to t(:twitter, scope: [:mailing, :defaults]), 'https://twitter.com/bungomail', target: '_blank', class: 'item'
  %br
  %br
  %br
  %div
    %small
      Copyright
      = link_to t(:bungo_mail, scope: [:mailing, :defaults]), root_path
      2018 All rights reserved.
    %small
      Powered by
      %a{:href => "https://notsobad.jp", :target => "_blank"} NOT SO BAD, LLC.
