!!!
%html(lang="ja")
  %head
    = render partial: 'mailing/layouts/meta'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link(href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet")
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: true

    -# Google Tag Manager
    - if Rails.env.production?
      :javascript
        document.addEventListener('turbolinks:load', function(event) {
          var url = event.data.url;
          dataLayer.push({
            'event':'pageView',
            'virtualUrl': url
          });
        });
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer', "#{ENV['GOOGLE_TAG_MANAGER_ID']}");


  %body(data-path="#{controller_name}##{action_name}" data-controller="#{controller_name}" data-action="#{action_name}")
    -# Google Tag Manager
    %noscript
      %iframe(src="https://www.googletagmanager.com/ns.html?id=#{ENV['GOOGLE_TAG_MANAGER_ID']}" height="0" width="0" style="display:none; visibility:hidden;")

    .ui.top.attached.borderless.seigaiha.menu
      = link_to(root_path, class: 'header item') do
        ブンゴウメール
      -# .right.menu
      -#   - if current_user
      -#     = link_to current_user.email, user_path(current_user), class: 'item'
      -#     = link_to 'ログアウト', logout_path, method: :post, class: 'item'
      -#   - else
      -#     = link_to 'ログイン', login_path, class: 'item'

    - if @alert_message
      .ui.attached.warning.message
        %i.icon.exclamation.triangle
        = @alert_message

    %div#main-content
      .ui.container
        .ui.stackable.centered.grid
          .ui.twelve.wide.column
            - %w(warning error success info).each do |status|
              - next unless flash[status]
              .ui.message(class="#{status}")
                - if %w(warning error).include?(status)
                  %i.icon.circle{class: "warning"}
                = sanitize flash[status]
            = yield
    = render partial: 'mailing/layouts/footer'
