= form_with model: channel, local: true, class: 'ui form' do |f|
  .field.required
    = f.label :title
    = f.text_field :title, required: true
  .field
    = f.label :delivery_time
    = f.time_field :delivery_time, required: true
  .field
    = f.label "Content Length (words per day)"
    = f.number_field :words_per_day, min: 200, max: 1000, step: 50, placeholder: '400'
    %small *Content length should be between 200-1,000 words per day.

  .ui.divider
  .field
    = f.submit 'Save', class: 'ui red responsive button'
    &nbsp;
    - cancel_path = channel.persisted? ? channel_path(channel) : channels_path
    = link_to 'Cancel', cancel_path, class: 'ui basic responsive button'
    - if channel.persisted?
      &nbsp;
      = link_to 'Delete', channel_path(channel), method: :delete, data: { confirm: 'Delete this channel. You can not undo this after confirming.' }
