%div.mb-50
  %h1.ui.header.mb-0
    = channel.title || "Default Channel"
    - if channel.default
      %small
        %i.icon.small.star.orange
    - unless channel.public
      %small
        %i.icon.small.lock.grey

  .ui.small.horizontal.list
    .item
      %i.icon.clock.outline
      = channel.delivery_time.strftime("%H:%M")
    .item
      %i.icon.align.left
      = channel.words_per_day
      words/day
    .item
      = link_to 'Edit settings', edit_channel_path(channel)

  - if channel.description.present?
    %p= simple_format(channel.description)
