.mb-30
  .ui.breadcrumb
    = link_to 'Channels', channels_path, class: 'section'
    %i.icon.right.angle.divider
    = link_to @channel.title, channel_path(@channel), class: 'section'
    %i.icon.right.angle.divider
    Edit

.mb-50
  %h1.ui.large.header
    = @channel.title
    - unless @channel.public
      %small
        %i.icon.small.lock.grey

  = form_with model: @channel, local: true, class: 'ui form' do |f|
    .field
      = f.label :title
      = f.text_field :title
    .field
      = f.label :description
      = f.text_area :description
    .field
      = f.label :delivery_time
      = f.time_field :delivery_time, required: true
    .field
      = f.label "Content Length (words per day)"
      = f.number_field :words_per_day, min: 200, max: 1000, step: 50, placeholder: '400'
      %small *Content length should be between 200-1,000 words per day.
    .field
      = f.label :public
      = f.check_box :public
    .field
      = f.label :default
      - disabled = @channel.default?
      = f.check_box :default, disabled: disabled
    .field
      = f.submit 'Save', class: 'ui red responsive button'
      &nbsp;
      = link_to 'Cancel', channel_path(@channel), class: 'ui basic responsive button'
