= render partial: 'profile', locals: { channel: @channel }
= render partial: 'menu', locals: { channel: @channel, active: 'current' }

- if @book_assignment.blank?
  %p (No book is scheduled yet.)
  .ui.secondary.center.aligned.segment
    %div= link_to 'Start Now!', channel_path(@channel), class: 'ui red responsive button'
    %p
      Leave it up to us and we select a good book for you😉
    %p
      Or you can
      = link_to 'select books by yourself.', locale_root_url
- else
  %table.ui.fixed.definition.table
    %tr
      %td.four.wide Title
      %td.twelve.wide= @book_assignment.book.title
    %tr
      %td Author
      %td= @book_assignment.book.author_name
    %tr
      %td Delivery Status
      %td= "Delivered #{@book_assignment.feeds.where.not(scheduled_at: nil).count} of #{@book_assignment.feeds.count}"
    %tr
      %td URL
      %td
        - url = @book_assignment.book.original_file_url
        = link_to url, target: :_blank do
          = url
          %i.icon.small.external
  = link_to 'Skip this book', skip_book_assignment_path(@book_assignment), method: :post, class: 'ui red small basic responsive button', data: { confirm: 'Skip the current book and start delivering next book. You can not undo this after confirming.' }
