!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:o" => "urn:schemas-microsoft-com:office:office", "xmlns:v" => "urn:schemas-microsoft-com:vml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / NAME: SIMPLE TEXT
    /[if gte mso 15]
      <xml>
      <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
      </xml>
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title *|MC:SUBJECT|*
    :css
      p{
      			margin:10px 0;
      			padding:0;
      		}
      		table{
      			border-collapse:collapse;
      		}
      		h1,h2,h3,h4,h5,h6{
      			display:block;
      			margin:0;
      			padding:0;
      		}
      		img,a img{
      			border:0;
      			height:auto;
      			outline:none;
      			text-decoration:none;
      		}
      		body,#bodyTable,#bodyCell{
      			height:100%;
      			margin:0;
      			padding:0;
      			width:100%;
      		}
      		.mcnPreviewText{
      			display:none !important;
      		}
      		#outlook a{
      			padding:0;
      		}
      		img{
      			-ms-interpolation-mode:bicubic;
      		}
      		table{
      			mso-table-lspace:0pt;
      			mso-table-rspace:0pt;
      		}
      		.ReadMsgBody{
      			width:100%;
      		}
      		.ExternalClass{
      			width:100%;
      		}
      		p,a,li,td,blockquote{
      			mso-line-height-rule:exactly;
      		}
      		a[href^=tel],a[href^=sms]{
      			color:inherit;
      			cursor:default;
      			text-decoration:none;
      		}
      		p,a,li,td,body,table,blockquote{
      			-ms-text-size-adjust:100%;
      			-webkit-text-size-adjust:100%;
      		}
      		.ExternalClass,.ExternalClass p,.ExternalClass td,.ExternalClass div,.ExternalClass span,.ExternalClass font{
      			line-height:100%;
      		}
      		a[x-apple-data-detectors]{
      			color:inherit !important;
      			text-decoration:none !important;
      			font-size:inherit !important;
      			font-family:inherit !important;
      			font-weight:inherit !important;
      			line-height:inherit !important;
      		}
      		#bodyCell{
      			padding:10px;
      		}
      		.templateContainer{
      			max-width:600px !important;
      			border:1px none ;
      		}
      		a.mcnButton{
      			display:block;
      		}
      		.mcnImage,.mcnRetinaImage{
      			vertical-align:bottom;
      		}
      		.mcnTextContent{
      			word-break:break-word;
      		}
      		.mcnTextContent img{
      			height:auto !important;
      		}
      		.mcnDividerBlock{
      			table-layout:fixed !important;
      		}
      	/*
      	@tab Page
      	@section Background Style
      	@tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
      	*/
      		body,#bodyTable{
      			/*@editable*/background-color:#ffffff;
      			/*@editable*/background-image:none;
      			/*@editable*/background-repeat:no-repeat;
      			/*@editable*/background-position:center;
      			/*@editable*/background-size:cover;
      		}
      	/*
      	@tab Page
      	@section Background Style
      	@tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
      	*/
      		#bodyCell{
      			/*@editable*/border-top:0;
      		}
      	/*
      	@tab Page
      	@section Email Border
      	@tip Set the border for your email.
      	*/
      		.templateContainer{
      			/*@editable*/border:1px none ;
      		}
      	/*
      	@tab Page
      	@section Heading 1
      	@tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
      	@style heading 1
      	*/
      		h1{
      			/*@editable*/color:#202020;
      			/*@editable*/font-family:Helvetica;
      			/*@editable*/font-size:26px;
      			/*@editable*/font-style:normal;
      			/*@editable*/font-weight:bold;
      			/*@editable*/line-height:125%;
      			/*@editable*/letter-spacing:normal;
      			/*@editable*/text-align:left;
      		}
      	/*
      	@tab Page
      	@section Heading 2
      	@tip Set the styling for all second-level headings in your emails.
      	@style heading 2
      	*/
      		h2{
      			/*@editable*/color:#202020;
      			/*@editable*/font-family:Helvetica;
      			/*@editable*/font-size:22px;
      			/*@editable*/font-style:normal;
      			/*@editable*/font-weight:bold;
      			/*@editable*/line-height:125%;
      			/*@editable*/letter-spacing:normal;
      			/*@editable*/text-align:left;
      		}
      	/*
      	@tab Page
      	@section Heading 3
      	@tip Set the styling for all third-level headings in your emails.
      	@style heading 3
      	*/
      		h3{
      			/*@editable*/color:#202020;
      			/*@editable*/font-family:Helvetica;
      			/*@editable*/font-size:20px;
      			/*@editable*/font-style:normal;
      			/*@editable*/font-weight:bold;
      			/*@editable*/line-height:125%;
      			/*@editable*/letter-spacing:normal;
      			/*@editable*/text-align:left;
      		}
      	/*
      	@tab Page
      	@section Heading 4
      	@tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
      	@style heading 4
      	*/
      		h4{
      			/*@editable*/color:#202020;
      			/*@editable*/font-family:Helvetica;
      			/*@editable*/font-size:18px;
      			/*@editable*/font-style:normal;
      			/*@editable*/font-weight:bold;
      			/*@editable*/line-height:125%;
      			/*@editable*/letter-spacing:normal;
      			/*@editable*/text-align:left;
      		}
      	/*
      	@tab Header
      	@section Header Style
      	@tip Set the borders for your email's header area.
      	*/
      		#templateHeader{
      			/*@editable*/border-top:0;
      			/*@editable*/border-bottom:0;
      		}
      	/*
      	@tab Header
      	@section Header Text
      	@tip Set the styling for your email's header text. Choose a size and color that is easy to read.
      	*/
      		#templateHeader .mcnTextContent,#templateHeader .mcnTextContent p{
      			/*@editable*/color:#202020;
      			/*@editable*/font-family:Helvetica;
      			/*@editable*/font-size:16px;
      			/*@editable*/line-height:150%;
      			/*@editable*/text-align:left;
      		}
      	/*
      	@tab Header
      	@section Header Link
      	@tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
      	*/
      		#templateHeader .mcnTextContent a,#templateHeader .mcnTextContent p a{
      			/*@editable*/color:#2BAADF;
      			/*@editable*/font-weight:normal;
      			/*@editable*/text-decoration:underline;
      		}
      	/*
      	@tab Body
      	@section Body Style
      	@tip Set the borders for your email's body area.
      	*/
      		#templateBody{
      			/*@editable*/border-top:0;
      			/*@editable*/border-bottom:0;
      		}
      	/*
      	@tab Body
      	@section Body Text
      	@tip Set the styling for your email's body text. Choose a size and color that is easy to read.
      	*/
      		#templateBody .mcnTextContent,#templateBody .mcnTextContent p{
      			/*@editable*/color:#333333;
      			/*@editable*/font-family:Helvetica;
      			/*@editable*/font-size:14px;
      			/*@editable*/line-height:150%;
      			/*@editable*/text-align:left;
      		}
      	/*
      	@tab Body
      	@section Body Link
      	@tip Set the styling for your email's body links. Choose a color that helps them stand out from your text.
      	*/
      		#templateBody .mcnTextContent a,#templateBody .mcnTextContent p a{
      			/*@editable*/color:#2BAADF;
      			/*@editable*/font-weight:normal;
      			/*@editable*/text-decoration:underline;
      		}
      	/*
      	@tab Footer
      	@section Footer Style
      	@tip Set the borders for your email's footer area.
      	*/
      		#templateFooter{
      			/*@editable*/border-top:0;
      			/*@editable*/border-bottom:0;
      		}
      	/*
      	@tab Footer
      	@section Footer Text
      	@tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
      	*/
      		#templateFooter .mcnTextContent,#templateFooter .mcnTextContent p{
      			/*@editable*/color:#202020;
      			/*@editable*/font-family:Helvetica;
      			/*@editable*/font-size:12px;
      			/*@editable*/line-height:150%;
      			/*@editable*/text-align:left;
      		}
      	/*
      	@tab Footer
      	@section Footer Link
      	@tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
      	*/
      		#templateFooter .mcnTextContent a,#templateFooter .mcnTextContent p a{
      			/*@editable*/color:#202020;
      			/*@editable*/font-weight:normal;
      			/*@editable*/text-decoration:underline;
      		}
      	@media only screen and (min-width:768px){
      		.templateContainer{
      			width:600px !important;
      		}

      }	@media only screen and (max-width: 480px){
      		body,table,td,p,a,li,blockquote{
      			-webkit-text-size-adjust:none !important;
      		}

      }	@media only screen and (max-width: 480px){
      		body{
      			width:100% !important;
      			min-width:100% !important;
      		}

      }	@media only screen and (max-width: 480px){
      		#bodyCell{
      			padding-top:10px !important;
      		}

      }	@media only screen and (max-width: 480px){
      		.mcnRetinaImage{
      			max-width:100% !important;
      		}

      }	@media only screen and (max-width: 480px){
      		.mcnImage{
      			width:100% !important;
      		}

      }	@media only screen and (max-width: 480px){
      		.mcnCartContainer,.mcnCaptionTopContent,.mcnRecContentContainer,.mcnCaptionBottomContent,.mcnTextContentContainer,.mcnBoxedTextContentContainer,.mcnImageGroupContentContainer,.mcnCaptionLeftTextContentContainer,.mcnCaptionRightTextContentContainer,.mcnCaptionLeftImageContentContainer,.mcnCaptionRightImageContentContainer,.mcnImageCardLeftTextContentContainer,.mcnImageCardRightTextContentContainer,.mcnImageCardLeftImageContentContainer,.mcnImageCardRightImageContentContainer{
      			max-width:100% !important;
      			width:100% !important;
      		}

      }	@media only screen and (max-width: 480px){
      		.mcnBoxedTextContentContainer{
      			min-width:100% !important;
      		}

      }	@media only screen and (max-width: 480px){
      		.mcnImageGroupContent{
      			padding:9px !important;
      		}

      }	@media only screen and (max-width: 480px){
      		.mcnCaptionLeftContentOuter .mcnTextContent,.mcnCaptionRightContentOuter .mcnTextContent{
      			padding-top:9px !important;
      		}

      }	@media only screen and (max-width: 480px){
      		.mcnImageCardTopImageContent,.mcnCaptionBottomContent:last-child .mcnCaptionBottomImageContent,.mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent{
      			padding-top:18px !important;
      		}

      }	@media only screen and (max-width: 480px){
      		.mcnImageCardBottomImageContent{
      			padding-bottom:9px !important;
      		}

      }	@media only screen and (max-width: 480px){
      		.mcnImageGroupBlockInner{
      			padding-top:0 !important;
      			padding-bottom:0 !important;
      		}

      }	@media only screen and (max-width: 480px){
      		.mcnImageGroupBlockOuter{
      			padding-top:9px !important;
      			padding-bottom:9px !important;
      		}

      }	@media only screen and (max-width: 480px){
      		.mcnTextContent,.mcnBoxedTextContentColumn{
      			padding-right:18px !important;
      			padding-left:18px !important;
      		}

      }	@media only screen and (max-width: 480px){
      		.mcnImageCardLeftImageContent,.mcnImageCardRightImageContent{
      			padding-right:18px !important;
      			padding-bottom:0 !important;
      			padding-left:18px !important;
      		}

      }	@media only screen and (max-width: 480px){
      		.mcpreview-image-uploader{
      			display:none !important;
      			width:100% !important;
      		}

      }	@media only screen and (max-width: 480px){
      	/*
      	@tab Mobile Styles
      	@section Heading 1
      	@tip Make the first-level headings larger in size for better readability on small screens.
      	*/
      		h1{
      			/*@editable*/font-size:22px !important;
      			/*@editable*/line-height:125% !important;
      		}

      }	@media only screen and (max-width: 480px){
      	/*
      	@tab Mobile Styles
      	@section Heading 2
      	@tip Make the second-level headings larger in size for better readability on small screens.
      	*/
      		h2{
      			/*@editable*/font-size:20px !important;
      			/*@editable*/line-height:125% !important;
      		}

      }	@media only screen and (max-width: 480px){
      	/*
      	@tab Mobile Styles
      	@section Heading 3
      	@tip Make the third-level headings larger in size for better readability on small screens.
      	*/
      		h3{
      			/*@editable*/font-size:18px !important;
      			/*@editable*/line-height:125% !important;
      		}

      }	@media only screen and (max-width: 480px){
      	/*
      	@tab Mobile Styles
      	@section Heading 4
      	@tip Make the fourth-level headings larger in size for better readability on small screens.
      	*/
      		h4{
      			/*@editable*/font-size:16px !important;
      			/*@editable*/line-height:150% !important;
      		}

      }	@media only screen and (max-width: 480px){
      	/*
      	@tab Mobile Styles
      	@section Boxed Text
      	@tip Make the boxed text larger in size for better readability on small screens. We recommend a font size of at least 16px.
      	*/
      		table.mcnBoxedTextContentContainer td.mcnTextContent,td.mcnBoxedTextContentContainer td.mcnTextContent p{
      			/*@editable*/font-size:14px !important;
      			/*@editable*/line-height:150% !important;
      		}

      }	@media only screen and (max-width: 480px){
      	/*
      	@tab Mobile Styles
      	@section Header Text
      	@tip Make the header text larger in size for better readability on small screens.
      	*/
      		td#templateHeader td.mcnTextContent,td#templateHeader td.mcnTextContent p{
      			/*@editable*/font-size:16px !important;
      			/*@editable*/line-height:150% !important;
      		}

      }	@media only screen and (max-width: 480px){
      	/*
      	@tab Mobile Styles
      	@section Body Text
      	@tip Make the body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
      	*/
      		td#templateBody td.mcnTextContent,td#templateBody td.mcnTextContent p{
      			/*@editable*/font-size:14px !important;
      			/*@editable*/line-height:150% !important;
      		}

      }	@media only screen and (max-width: 480px){
      	/*
      	@tab Mobile Styles
      	@section Footer Text
      	@tip Make the footer content text larger in size for better readability on small screens.
      	*/
      		td#templateFooter td.mcnTextContent,td#templateFooter td.mcnTextContent p{
      			/*@editable*/font-size:13px !important;
      			/*@editable*/line-height:150% !important;
      		}

      }
  %body
    %center
      %table#bodyTable{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :width => "100%"}
        %tr
          %td#bodyCell{:align => "left", :valign => "top"}
            / BEGIN TEMPLATE //
            /[if (gte mso 9)|(IE)]
              <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
              <tr>
              <td align="center" valign="top" width="600" style="width:600px;">
            %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tr
                %td#templateHeader{:valign => "top"}
              %tr
                %td#templateBody{:valign => "top"}
                  %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                    %tbody.mcnTextBlockOuter
                      %tr
                        %td.mcnTextBlockInner{:style => "padding-top:9px;", :valign => "top"}
                          /[if mso]
                            <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                            <tr>
                          /[if mso]
                            <td valign="top" width="600" style="width:600px;">
                          %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width:100%; min-width:100%;", :width => "100%"}
                            %tbody
                              %tr
                                %td.mcnTextContent{:style => "padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;", :valign => "top"}
                                  %p
                                    #{@subscription.channel.title}
                                    %br
                                    （#{@subscription.next_chapter.text.length}字。目安の読了時間：#{@subscription.next_chapter.text.length.quo(500).ceil}分）
                                  - if (image_url = @subscription.next_chapter.image_url)
                                    %p
                                      = image_tag(image_url, width: "350")
                                  %p
                                    = simple_format(@subscription.next_chapter.text)
                          /[if mso]
                            </td>
                          /[if mso]
                            </tr>
                            </table>
              %tr
                %td#templateFooter{:valign => "top"}
                  %table.mcnDividerBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                    %tbody.mcnDividerBlockOuter
                      %tr
                        %td.mcnDividerBlockInner{:style => "min-width:100%; padding:18px;"}
                          %table.mcnDividerContent{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width: 100%;border-top: 2px solid #EAEAEA;", :width => "100%"}
                            %tbody
                              %tr
                                %td
                                  %span
                          /
                            <td class="mcnDividerBlockInner" style="padding: 18px;">
                            <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
                  %table.mcnShareBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                    %tbody.mcnShareBlockOuter
                      %tr
                        %td.mcnShareBlockInner{:style => "padding:9px", :valign => "top"}
                          %table.mcnShareContentContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                            %tbody
                              %tr
                                %td{:align => "center", :style => "padding-top:0; padding-left:9px; padding-bottom:0; padding-right:9px;"}
                                  %table.mcnShareContent{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                                    %tbody
                                      %tr
                                        %td.mcnShareContentItemContainer{:align => "center", :style => "padding-top:9px; padding-right:9px; padding-left:9px;", :valign => "top"}
                                          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                                            %tbody
                                              %tr
                                                %td{:align => "left", :valign => "top"}
                                                  /[if mso]
                                                    <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                  /[if mso]
                                                    <td align="center" valign="top">
                                                  %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                    %tbody
                                                      %tr
                                                        %td.mcnShareContentItemContainer{:style => "padding-right:9px; padding-bottom:9px;", :valign => "top"}
                                                          %table.mcnShareContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate; border-radius: 3px;", :width => ""}
                                                            %tbody
                                                              %tr
                                                                %td{:align => "left", :style => "padding-top:5px; padding-right:9px; padding-bottom:5px; padding-left:9px;", :valign => "middle"}
                                                                  %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => ""}
                                                                    %tbody
                                                                      %tr
                                                                        - if @subscription.channel_id == Channel::BUNGOMAIL_ID
                                                                          %td.mcnShareIconContent{:align => "center", :valign => "middle", :width => "24"}
                                                                            %a{:href => "#{@subscription.current_book.twitter_share_url}", :target => "_blank"}
                                                                              %img{:height => "24", :src => "https://cdn-images.mailchimp.com/icons/social-block-v2/outline-dark-twitter-48.png", :style => "display:block;", :width => "24"}/
                                                                          %td.mcnShareTextContent{:align => "left", :style => "padding-left:5px;", :valign => "middle"}
                                                                            %a{:href => "#{@subscription.current_book.twitter_share_url}", :style => "color: #202020;font-family: Arial;font-size: 12px;font-weight: normal;line-height: normal;text-align: center;text-decoration: none;", :target => ""} ツイートする
                                                                        - else
                                                                          %td.mcnShareIconContent{:align => "center", :valign => "middle", :width => "24"}
                                                                            %a{:href => "#{twitter_share_link(@subscription.channel)}", :target => "_blank"}
                                                                              %img{:height => "24", :src => "https://cdn-images.mailchimp.com/icons/social-block-v2/outline-dark-twitter-48.png", :style => "display:block;", :width => "24"}/
                                                                          %td.mcnShareTextContent{:align => "left", :style => "padding-left:5px;", :valign => "middle"}
                                                                            %a{:href => "#{twitter_share_link(@subscription.channel)}", :style => "color: #202020;font-family: Arial;font-size: 12px;font-weight: normal;line-height: normal;text-align: center;text-decoration: none;", :target => ""} ツイートする
                                                  /[if mso]
                                                    </td>
                                                  /[if mso]
                                                    <td align="center" valign="top">
                                                  %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                    %tbody
                                                      %tr
                                                        %td.mcnShareContentItemContainer{:style => "padding-right:0; padding-bottom:9px;", :valign => "top"}
                                                          %table.mcnShareContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate; border-radius: 3px;", :width => ""}
                                                            %tbody
                                                              %tr
                                                                %td{:align => "left", :style => "padding-top:5px; padding-right:9px; padding-bottom:5px; padding-left:9px;", :valign => "middle"}
                                                                  %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => ""}
                                                                    %tbody
                                                                      %tr
                                                                        %td.mcnShareIconContent{:align => "center", :valign => "middle", :width => "24"}
                                                                          %a{:href => "#{facebook_share_link(@subscription.channel)}", :target => "_blank"}
                                                                            %img{:height => "24", :src => "https://cdn-images.mailchimp.com/icons/social-block-v2/outline-dark-facebook-48.png", :style => "display:block;", :width => "24"}/
                                                                        %td.mcnShareTextContent{:align => "left", :style => "padding-left:5px;", :valign => "middle"}
                                                                          %a{:href => "#{facebook_share_link(@subscription.channel)}", :style => "color: #202020;font-family: Arial;font-size: 12px;font-weight: normal;line-height: normal;text-align: center;text-decoration: none;", :target => ""} シェアする
                                                  /[if mso]
                                                    </td>
                                                  /[if mso]
                                                    </tr>
                                                    </table>
                  %table.mcnBoxedTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                    /[if gte mso 9]
                      <table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
                    %tbody.mcnBoxedTextBlockOuter
                      %tr
                        %td.mcnBoxedTextBlockInner{:valign => "top"}
                          /[if gte mso 9]
                            <td align="center" valign="top" ">
                          %table.mcnBoxedTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                            %tbody
                              %tr
                                %td{:style => "padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;"}
                                  %table.mcnTextContentContainer{:border => "0", :cellspacing => "0", :style => "min-width: 100% !important;background-color: #EFEFEF;", :width => "100%"}
                                    %tbody
                                      - if @comment
                                        %tr
                                          %td.mcnTextContent{:style => "padding: 9px 18px;color: #333333;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: center;", :valign => "top"}
                                            %div{:style => "text-align: left;"}
                                              = simple_format_with_link(@comment.text)
                                              \----------
                                      - if (footer = @subscription.footer.presence)
                                        %tr
                                          %td.mcnTextContent{:style => "padding: 9px 18px;color: #333333;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: center;", :valign => "top"}
                                            %div{:style => "text-align: left;"}
                                              = simple_format_with_link(footer)
                                              \----------
                                      - if @notification
                                        %tr
                                          %td.mcnTextContent{:style => "padding: 9px 18px;color: #333333;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: center;", :valign => "top"}
                                            %div{:style => "text-align: left;"}
                                              %h5 【お知らせ】
                                              = simple_format(@notification.text)
                                              \----------
                                      - today = Time.zone.today
                                      - if today.day == 30 && today.end_of_month.day == 31
                                        %tr
                                          %td.mcnTextContent{:style => "padding: 9px 18px;color: #333333;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: center;", :valign => "top"}
                                            %div{:style => "text-align: left;"}
                                              %h5 【お知らせ】
                                              %p
                                                ブンゴウメールでは毎月31日はメールが配信されません。
                                                次回の配信は翌月1日となります。ご了承ください。
                                              \----------

                                      %tr
                                        %td.mcnTextContent{:style => "padding: 9px 18px;color: #333333;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: center;", :valign => "top"}
                                          %div{:style => "text-align: left;"}
                                            %p
                                              配信元: ブンゴウメール編集部
                                              %br
                                              NOT SO BAD, LLC.
                                              %br
                                              Web: https://bungomail.com
                                              %br
                                              Mail: info@notsobad.jp
                          /[if gte mso 9]
                            </td>
                          /[if gte mso 9]
                            </tr>
                            </table>
                  %table.mcnFollowBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                    %tbody.mcnFollowBlockOuter
                      %tr
                        %td.mcnFollowBlockInner{:align => "center", :style => "padding:9px", :valign => "top"}
                          %table.mcnFollowContentContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                            %tbody
                              %tr
                                %td{:align => "center", :style => "padding-left:9px;padding-right:9px;"}
                                  %table.mcnFollowContent{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                                    %tbody
                                      %tr
                                        %td{:align => "center", :style => "padding-top:9px; padding-right:9px; padding-left:9px;", :valign => "top"}
                                          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                                            %tbody
                                              %tr
                                                %td{:align => "center", :valign => "top"}
                                                  /[if mso]
                                                    <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                  /[if mso]
                                                    <td align="center" valign="top">
                                                  %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "display:inline;"}
                                                    %tbody
                                                      %tr
                                                        %td.mcnFollowContentItemContainer{:style => "padding-right:10px; padding-bottom:9px;", :valign => "top"}
                                                          %table.mcnFollowContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                                            %tbody
                                                              %tr
                                                                %td{:align => "left", :style => "padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;", :valign => "middle"}
                                                                  %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => ""}
                                                                    %tbody
                                                                      %tr
                                                                        %td.mcnFollowIconContent{:align => "center", :valign => "middle", :width => "24"}
                                                                          %a{:href => "https://twitter.com/search?vertical=default&q=%23%E3%83%96%E3%83%B3%E3%82%B4%E3%82%A6%E3%83%A1%E3%83%BC%E3%83%AB&src=typd", :target => "_blank"}
                                                                            %img{:height => "24", :src => "https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png", :style => "display:block;", :width => "24"}/
                                                                        %td.mcnFollowTextContent{:align => "left", :style => "padding-left:5px;", :valign => "middle"}
                                                                          %a{:href => "https://twitter.com/search?vertical=default&q=%23%E3%83%96%E3%83%B3%E3%82%B4%E3%82%A6%E3%83%A1%E3%83%BC%E3%83%AB&src=typd", :style => "font-family: Arial;font-size: 11px;text-decoration: none;color: #202020;font-weight: normal;", :target => "_blank"} みんなの感想
                                                  /[if mso]
                                                    </td>
                                                  /[if mso]
                                                    <td align="center" valign="top">
                                                  %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "display:inline;"}
                                                    %tbody
                                                      %tr
                                                        %td.mcnFollowContentItemContainer{:style => "padding-right:10px; padding-bottom:9px;", :valign => "top"}
                                                          %table.mcnFollowContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                                            %tbody
                                                              %tr
                                                                %td{:align => "left", :style => "padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;", :valign => "middle"}
                                                                  %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => ""}
                                                                    %tbody
                                                                      %tr
                                                                        %td.mcnFollowIconContent{:align => "center", :valign => "middle", :width => "24"}
                                                                          %a{:href => "https://bungomail.com/pro", :target => "_blank"}
                                                                            %img{:height => "24", :src => "https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png", :style => "display:block;", :width => "24"}/
                                                                        %td.mcnFollowTextContent{:align => "left", :style => "padding-left:5px;", :valign => "middle"}
                                                                          %a{:href => "https://bungomail.com/pro", :style => "font-family: Arial;font-size: 11px;text-decoration: none;color: #202020;font-weight: normal;", :target => "_blank"} 公式HP
                                                  /[if mso]
                                                    </td>
                                                  /[if mso]
                                                    <td align="center" valign="top">
                                                  %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "display:inline;"}
                                                    %tbody
                                                      %tr
                                                        %td.mcnFollowContentItemContainer{:style => "padding-right:10px; padding-bottom:9px;", :valign => "top"}
                                                          %table.mcnFollowContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                                            %tbody
                                                              %tr
                                                                %td{:align => "left", :style => "padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;", :valign => "middle"}
                                                                  %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => ""}
                                                                    %tbody
                                                                      %tr
                                                                        %td.mcnFollowIconContent{:align => "center", :valign => "middle", :width => "24"}
                                                                          %a{:href => subscriptions_url, :target => "_blank"}
                                                                            %img{:height => "24", :src => "https://cdn-images.mailchimp.com/icons/social-block-v2/color-rss-48.png", :style => "display:block;", :width => "24"}/
                                                                        %td.mcnFollowTextContent{:align => "left", :style => "padding-left:5px;", :valign => "middle"}
                                                                          %a{:href => subscriptions_url, :style => "font-family: Arial;font-size: 11px;text-decoration: none;color: #202020;font-weight: normal;", :target => "_blank"} 配信設定
                                                  /[if mso]
                                                    </td>
                                                  /[if mso]
                                                    <td align="center" valign="top">
                                                  %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "display:inline;"}
                                                    %tbody
                                                      %tr
                                                        %td.mcnFollowContentItemContainer{:style => "padding-right:0; padding-bottom:9px;", :valign => "top"}
                                                          %table.mcnFollowContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                                            %tbody
                                                              %tr
                                                                %td{:align => "left", :style => "padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;", :valign => "middle"}
                                                                  %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => ""}
                                                                    %tbody
                                                                      %tr
                                                                        %td.mcnFollowIconContent{:align => "center", :valign => "middle", :width => "24"}
                                                                          %a{:href => "mailto:info@notsobad.jp", :target => "_blank"}
                                                                            %img{:height => "24", :src => "https://cdn-images.mailchimp.com/icons/social-block-v2/color-forwardtofriend-48.png", :style => "display:block;", :width => "24"}/
                                                                        %td.mcnFollowTextContent{:align => "left", :style => "padding-left:5px;", :valign => "middle"}
                                                                          %a{:href => "mailto:info@notsobad.jp", :style => "font-family: Arial;font-size: 11px;text-decoration: none;color: #202020;font-weight: normal;", :target => "_blank"} お問い合わせ
                                                  /[if mso]
                                                    </td>
                                                  /[if mso]
                                                    </tr>
                                                    </table>
            /[if (gte mso 9)|(IE)]
              </td>
              </tr>
              </table>
            / // END TEMPLATE
