#{@subscription.channel.title}

（#{@subscription.next_chapter.text.length}字。目安の読了時間：#{@subscription.next_chapter.text.length.quo(500).ceil}分）

= @subscription.next_chapter.text

\
\

\=========================
- if @comment
  = strip_tags(@comment.text)
  \
  \-------
  \

- if (footer = @subscription.footer.presence)
  = strip_tags(footer)
  \
  \-------
  \

- if @notification
  【お知らせ】
  = strip_tags(@notification.text)
  \
  \-------
  \

- today = Time.zone.today
- if today.day == 30 && today.end_of_month.day == 31
  ブンゴウメールでは毎月31日はメールが配信されません。
  次回の配信は翌月1日となります。ご了承ください。
  \
  \-------
  \

配信元: ブンゴウメール編集部
NOT SO BAD, LLC.
Web: https://bungomail.com
Mail: info@notsobad.jp
