#{@channel.title}
%br
（#{@chapter.text.length}字。目安の読了時間：#{@chapter.text.length.quo(500).ceil}分）

= simple_format(@chapter.text)
%br


- if @notification
  %hr
  %h5 【お知らせ】
  = simple_format(@notification.text)
  %br


- today = Time.zone.today
- if today.day == 30 && today.end_of_month.day == 31
  %hr
  ブンゴウメールでは配信が毎月30回になるよう調整しているため、明日31日はメールが配信されません。
  次回の配信は翌月1日となります。ご了承ください。
  %br
- elsif (today.month==2 && today.day==1) || (today.month==2 && today.day==2 && !today.leap)
  %hr
  ブンゴウメールでは配信が毎月30回になるよう調整しているため、2月のみ月初に2通お送りしています。
  ご了承ください。
  %br


%hr
%p ブンゴウメールPRO（ベータ版）

%ul.ui.small.list
  %li.item
    = link_to '配信設定', subscriptions_url, target: '_blank'
  %li.item
    公式サイト:
    = link_to 'https://bungomail.notsobad.jp', 'https://bungomail.notsobad.jp', target: '_blank'
  %li.item 運営: 合同会社NOT SO BAD
  %li.item お問い合わせ: info@notsobad.jp
