%h1
  『#{@comment.book.title}』（#{@comment.index}/#{@comment.book.chapters_count}）への配信コメント

- action = %w(new create).include?(controller.action_name) ? 'create' : 'update'
= form_for @comment, url: {action: action}, html: {class: 'ui form'} do |f|
  - if @comment.errors.any?
    .ui.error.visible.message
      .header データの保存に失敗しました
      .list
        - @comment.errors.full_messages.each do |e|
          %li= e

  .field
    = f.text_area :text
    %small ※メール配信時、ここで登録したコメントが本文の下に掲載されます。

  = f.hidden_field :book_id
  = f.hidden_field :index

  %button.ui.small.red.button(type="submit" value="draft") 保存する
  = link_to 'キャンセル', subscription_comments_path(@subscription), class: 'item'

.ui.divider

%h3.ui.small.header （本文）
%small= @comment.chapter.text
