%meta(charset="utf-8")
%script(async src="https://cdn.ampproject.org/v0.js")
%meta(name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1")
%link(rel="shortcut icon" href="/favicon.ico")
%link(rel="apple-touch-icon" sizes="128x128" href="/apple-touch-icon.png")
%link(rel="apple-touch-icon-precomposed" sizes="128x128" href="/apple-touch-icon-precomposed.png")

- title = current_page?(locale_root_url) ? t('.default_title') : "#{@meta_title} | #{t(:bungo_search, scope: [:search, :defaults])}"
%title= title
- description = current_page?(root_path) ? t('.default_description') : @meta_description
%meta(name="description" content="#{description}")
%meta(name="keywords" content="#{@meta_keywords},#{t('.default_keywords')}")

- canonical_url = @meta_canonical_url || url_for(only_path: false)
%link(rel="canonical" href="#{canonical_url}")

- if @meta_noindex
  %meta(name="robots" content="noindex")

%meta(property="og:site_name" content="#{t(:bungo_search, scope: [:search, :defaults])}")
%meta(property="og:title" content="#{title}")
%meta(property="og:type" content="website")
%meta(property="og:url" content="#{canonical_url}")
%meta(property="og:description" content="#{description}")
%meta(property="og:locale" content="ja_JP")

%meta(name="twitter:card" content="summary_large_image")
%meta(name="twitter:site" content="@bungomail")
%meta(name="twitter:description" content="#{description}")

- if @meta_image
  %meta(property="og:image" content="#{@meta_image}")
  %meta(name="twitter:image:src" content="#{@meta_image}")
- else
  - ogp_image = I18n.locale == :en ? 'ogp_gutenberg.png' : 'ogp_search.png'
  - ogp_image = 'ogp_juvenile.png' if params[:locale] == "juvenile"
  %meta(property="og:image" content="https://bungomail.com/assets/images/#{ogp_image}")
  %meta(name="twitter:image:src" content="https://bungomail.com/assets/images/#{ogp_image}")


%script(async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js")

%style(amp-boilerplate)
  body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
%noscript
  %style(amp-boilerplate)
    body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}

%link(href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet")

%style(amp-custom)
  = File.read(File.join(Rails.public_path, "assets", "stylesheets", "search.css")).html_safe
