%br
%br
%h4.ui.header
  %i.far.fa-clock
  = t '.minutes_to_read'
.ui.segment
  .ui.divided.very.relaxed.link.list
    - @categories.each do |category_id, category|
      = link_to author_category_books_path(author_id: 'all', category_id: category[:id]), class: 'item' do
        = category[:name]
        .right.floated.content
          %small
            = category[:books_count].to_s(:delimited)
            = t '.items'
%br

%h4.ui.header
  %i.far.fa-user
  = t '.popular_authors'
.ui.segment
  .ui.divided.very.relaxed.link.list
    - @authors.each do |author, sum_access_count|
      = link_to author_category_books_path(author_id: author[1], category_id: 'all'), class: 'item' do
        = Book.author_name(author[0])
%br
%br
