!!!
%html(amp lang="ja")
  %head
    = render partial: 'search/layouts/meta'

    -# Google Tag Manager
    - if Rails.env.production?
      %script(async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js")

  %body#search
    -# Google Tag Manager
    - if Rails.env.production?
      %amp-analytics(config="https://www.googletagmanager.com/amp.json?id=GTM-5W36WSW&gtm.url=SOURCE_URL" data-credentials="include")

    .ui.attached.borderless.menu
      = link_to locale_root_url, class: 'header item' do
        - if I18n.locale == :ja
          %amp-img(src="/assets/images/logo_search.png" width="190" height="22")
        - else
          Bungo Search
      = link_to root_url(subdomain: ''), target: '_blank', class: 'item computer only' do
        %small
          by
          = t :bungo_mail, scope: [:search, :defaults]
      .item.computer.only= t '.tagline'
      .right.floated.menu
        = link_to about_page_path, class: 'item' do
          %small
            %i.fas.fa-question-circle
            = t :about_this_site, scope: [:search, :defaults]

    - if current_page?(root_path)
      .ui.attached.mobile.only.segment= t '.tagline_sp'

    - if I18n.locale == :ja
      .ui.attached.info.message
        = link_to 'https://blog.bungomail.com/entry/2020/04/04/154926', target: :_blank do
          【お知らせ】「ゾラサーチ」は、2020年4月1日より「ブンゴウサーチ」に名称変更いたしました！
          %small
            %i.fas.fa-external-link-alt


    .ui.container
      .ui.stackable.grid
        .ui.thirteen.wide.column
          - if controller_name == 'books' && (@author[:id] == 'all' && @category[:id] == 'all')
            %br.computer.only
          - else
            = render partial: 'search/layouts/breadcrumb'
          - %w(warning error success info).each do |status|
            - if flash[status]
              .ui.row
                .column
                  .ui.message(class="#{status}")
                    = sanitize flash[status]
          = yield
        .ui.three.wide.column
          = render partial: 'search/layouts/sidebar'
    = render partial: 'search/layouts/footer'
