!!!
%html(amp lang="ja")
  %head
    = render partial: 'search/layouts/meta'

    -# Google Tag Manager
    - if Rails.env.production?
      %script(async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js")

  %body#search
    -# Google Tag Manager
    - if Rails.env.production?
      %amp-analytics(config="https://www.googletagmanager.com/amp.json?id=GTM-5W36WSW&gtm.url=SOURCE_URL" data-credentials="include")

    .ui.attached.borderless.menu
      = link_to locale_root_url, class: 'header item' do
        - if lang_locale == :en
          Bungo Search
        - else
          %amp-img.computer.only(src="/assets/images/logo_search.png" width="190" height="22")
          %span.mobile.only ブンゴウサーチ
        - if params[:juvenile] == "juvenile"
          &nbsp;
          &nbsp;
          .ui.orange.mini.label
            for Kids
      .item.computer.only= t '.tagline'
      .right.floated.menu
        - if params[:juvenile] == "juvenile"
          = link_to locale_root_url(juvenile: nil), class: 'item' do
            %small
              %i.fas.fa-sign-in-alt
              = t :normal_version, scope: [:search, :defaults]
        - elsif lang_locale == :ja
          = link_to locale_root_url(juvenile: :juvenile), class: 'item' do
            %small
              %i.fas.fa-sign-in-alt
              = t :juvenile_version, scope: [:search, :defaults]
        = link_to about_page_path, class: 'item' do
          %small
            %i.fas.fa-question-circle
            %span.computer.only= t :about_this_site, scope: [:search, :defaults]

    - if current_page?(locale_root_url)
      .ui.attached.mobile.only.segment= t '.tagline_sp'

    - if I18n.locale == :ja # juvenileのときは表示しないので、lang_localeを使わない
      .ui.attached.info.message
        = link_to "/juvenile" do
          【お知らせ】児童文学のみを検索できる「ブンゴウサーチ for Kids」をリリースしました。お子さまへの読み聞かせなどにぜひご活用ください。
          %small
            %i.fas.fa-external-link-alt


    .ui.container
      .ui.stackable.grid
        .ui.thirteen.wide.column
          - if controller_name == 'books' && (@author[:id] == 'all' && @category[:id] == 'all')
            %br.computer.only
          - else
            = render partial: 'search/layouts/breadcrumb'
          - %w(warning error success info).each do |status|
            - if flash[status]
              .ui.row
                .column
                  .ui.message(class="#{status}")
                    = sanitize flash[status]
          = yield
        .ui.three.wide.column
          = render partial: 'search/layouts/sidebar'
    = render partial: 'search/layouts/footer'
