!!!
%html(amp lang="ja")
  %head
    = render partial: 'search/layouts/meta'

    -# Google Tag Manager
    - if Rails.env.production?
      :javascript
        document.addEventListener('turbolinks:load', function(event) {
          var url = event.data.url;
          dataLayer.push({
            'event':'pageView',
            'virtualUrl': url
          });
        });
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer', "#{ENV['GOOGLE_TAG_MANAGER_ID']}");


  %body#search
    -# Google Tag Manager
    %noscript
      %iframe(src="https://www.googletagmanager.com/ns.html?id=#{ENV['GOOGLE_TAG_MANAGER_ID']}" height="0" width="0" style="display:none; visibility:hidden;")

    .ui.attached.borderless.menu
      = link_to locale_root_path, class: 'header item' do
        - if I18n.locale == :ja
          %amp-img(src="/assets/images/logo_search.png" width="130" height="22")
        - else
          Bungo Search
      = link_to root_url(subdomain: ''), target: '_blank', class: 'item computer only' do
        %small
          by
          = t :bungo_mail, scope: [:search, :defaults]
      .item.computer.only= t '.tagline'
      .right.floated.menu
        = link_to about_page_path, class: 'item' do
          %small
            %i.fas.fa-question-circle
            = t :about_this_site, scope: [:search, :defaults]

    - if current_page?(root_path)
      .ui.attached.mobile.only.segment= t '.tagline_sp'

    .ui.container
      .ui.stackable.grid
        .ui.thirteen.wide.column
          - if controller_name == 'books' && (@author[:id] == 'all' && @category[:id] == 'all')
            %br.computer.only
          - else
            = render partial: 'search/layouts/breadcrumb'
          - %w(warning error success info).each do |status|
            - if flash[status]
              .ui.row
                .column
                  .ui.message(class="#{status}")
                    = sanitize flash[status]
          = yield
        .ui.three.wide.column
          = render partial: 'search/layouts/sidebar'
    = render partial: 'search/layouts/footer'
