%tr.computer.only
  %td
    = link_to book_path(book_type: book.class.name, id: book.id) do
      = book.title.truncate(100)
      - if book.rights_reserved?
        %small
          %i.far.fa-copyright
    - if book.class.name == "AozoraBook" && book.try(:published_at)
      %br
      %small (#{book.try(:published_at)}年)
  %td
    = book.author_name
    - if book.class.name == "GutenBook"
      %br
      %small (#{book.try(:birth_year)}-#{book.try(:death_year)})
  %td
    %small
      = book.words_count.to_s(:delimited)
      = t :words, scope: [:search, :defaults]
  %td
    %span
      - book.access_rating(:stars).times do |i|
        %i.icon.yellow.star.small.m-0
      - (3- book.access_rating(:stars)).times do |i|
        %i.icon.yellow.outline.star.small.m-0
  %td
    %small
      = truncated_beginning(book.beginning)

%tr.mobile.only.main
  %td
    = link_to book_path(book_type: book.class.name, id: book.id) do
      = book.title.truncate(75)
      - if book.rights_reserved?
        %small
          %i.far.fa-copyright
  %td
    = book.author_name
  %td
    %small.right.floated
      - book.access_rating(:stars).times do |i|
        %i.icon.yellow.star.small.m-0
      - (3- book.access_rating(:stars)).times do |i|
        %i.icon.yellow.outline.star.small.m-0
