%div.mb-50
  %h1.ui.large.header
    Search Books

  .ui.secondary.segment
    Search Condition

%table.ui.fixed.unstackable.table
  %thead
    %tr.computer.only
      %th.five.wide= t :title, scope: [:search, :defaults]
      %th.four.wide= t :author, scope: [:search, :defaults]
      %th.four.wide= t :minutes_to_read, scope: [:search, :defaults]
      - if lang_locale == :en && @category[:id] == "flash"
        %th.two.wide NGSL
      %th.two.wide= t :popularity, scope: [:search, :defaults]
      %th.five.wide.computer.only= t :beginning, scope: [:search, :defaults]

    %tr.mobile.only
      %th.six.wide
        %small= t :title, scope: [:search, :defaults]
      %th.six.wide
        %small= t :author, scope: [:search, :defaults]
      %th.nine.wide
        %small= t :minutes_to_read, scope: [:search, :defaults]
        %small.right.floated= t :popularity, scope: [:search, :defaults]
  %tbody
    - if @books.blank?
      %tr
        %td(colspan="3")= t :no_results, scope: [:search, :books]
    = render partial: 'raw', collection: @books, as: :book
