.mb-30
  .ui.breadcrumb
    = link_to 'Search', request.referer, class: 'section'
    %i.icon.right.angle.divider
    = @book.title.truncate(30)

%h1.ui.large.header
  = @book.title
  .sub.header
    = @book.author_name

%p= t(:description, scope: [:search, :controllers, :books, :show], author: @author[:name], title: @book.title, category: @book.category[:name], category_title: @book.category[:title], words_count: @book.words_count.to_s(:delimited))

%table.ui.definition.fixed.unstackable.table
  %tbody
    %tr
      %td.three.wide
        %small= t :words_count, scope: [:search, :defaults]
      %td.thirteen.wide
        = category_label(@book.category)
        &nbsp;
        = @book.words_count.to_s(:delimited)
        %small= t :words, scope: [:search, :defaults]
    %tr
      %td
        %small= t :popularity, scope: [:search, :defaults]
      %td
        %span
          - @book.access_rating(:stars).times do |i|
            %i.icon.yellow.star.m-0
          - (3- @book.access_rating(:stars)).times do |i|
            %i.icon.yellow.outline.star.m-0
        &nbsp;
        = (@book.popularity > 0 ) ? @book.popularity.to_s(:delimited) : '--'
        %small= t(:popularity_unit, scope: [:search, :books, :show])
    %tr
      %td
        %small= t :beginning, scope: [:search, :defaults]
      %td
        = @book.beginning
    %tr
      %td
        %small= t :author, scope: [:search, :defaults]
      %td
        = @book.author_name
        &nbsp;
        (#{@book.try(:birth_year)} - #{@book.try(:death_year)})

.ui.simple.dropdown.red.responsive.center.aligned.button
  Add to channel
  %i.icon.dropdown
  .menu
    - @channels.each do |channel|
      = link_to channel.title, book_assignments_path(channel_id: channel.id, book_id: @book.id, book_type: @book.class.name), method: :post, class: 'item'
    - if @channels.present?
      .ui.divider
    = link_to '(New Channel)', channels_path(book_id: @book.id, book_type: @book.class.name), method: :post, class: 'item'
&nbsp;
= link_to request.referer, class: 'ui basic responsive button' do
  Back to search
