.mb-50
  %h1.ui.large.header マイページ

  .mb-70
    %h5.ui.small.horizontal.divider.header
      %i.icon.user.outline
      アカウント情報
    %table.ui.fixed.definition.unstackable.table
      %tr
        %td.four.wide Email
        %td.twelve.wide= @user.email
      %tr
        %td.four.wide ステータス
        %td.twelve.wide
          %span.ui.label
            無料トライアル中
          %small （#{@user.trial_end_at.strftime("%m月%d日")}まで）
    -# = link_to 'Edit', edit_user_path(@user), class: 'ui blue small responsive button'

  .mb-70
    %h5.ui.small.horizontal.divider.header
      %i.icon.mail.outline
      今月の配信タイトル

    .mb-10
      .ui.one.cards
        .ui.card
          .content.ui.secondary.basic.segment
            .header
              %i.icon.play.circle
              宮沢賢治『注文の多い料理店』
              %small
                = link_to 'https://search.bungomail.com/authors/81/categories/short/books/43754', target: :_blank do
                  %i.icon.small.external
          .extra.content
            %span.ui.small.label 2020年5月
            &nbsp;
            %small 次回配信: 2020年5月3日 7:00AM
    %div
      %small= link_to '過去の配信タイトルを見る', '#'

  .mb-70
    %h5.ui.small.horizontal.divider.header
      %i.icon.credit.card.outline
      お支払い情報
    - if @user.charge.present?
      .mb-10
      %table.ui.fixed.definition.unstackable.table
        %tr
          %td.four.wide 登録カード情報
          %td
            = creditcard_icon(@user.charge.brand)
            \･･･
            = @user.charge.last4
            &nbsp;
            %small= link_to 'カード情報を変更する', edit_charge_path(@user.charge), "data-turbolinks": false

        %tr
          %td.four.wide 決済情報
          %td.twelve.wide
            前回決済日: （まだお支払いがありません）
            %br
            次回決済日: 2020年6月1日

    - else
      %p
        決済情報が登録されていません。
      %p
        = link_to 'クレジットカード情報を登録する', new_charge_path, class: 'ui red button', "data-turbolinks": false
