.mb-50
  %h1.ui.large.header マイページ

  .mb-70
    %h5.ui.small.horizontal.divider.header
      %i.icon.user.outline
      アカウント情報
    %table.ui.fixed.definition.unstackable.table
      %tr
        %td.four.wide Email
        %td.twelve.wide= @user.email
      %tr
        %td.four.wide ステータス
        %td.twelve.wide
          - if @user.before_trial?
            %span.ui.blue.basic.label
              無料トライアル開始待ち
            %small （#{@user.trial_start_at.strftime("%-m月%-d日")}トライアル開始）
          - elsif @user.trialing?
            %span.ui.red.basic.label
              無料トライアル中
            %small （#{@user.trial_end_at.strftime("%-m月%-d日")}終了）
          - elsif @user.list_subscribed?
            %span.ui.green.basic.label
              購読中
          - else
            %span.ui.black.basic.label
              配信停止中
            - if @user.charge&.active?
              %small （#{Time.current.next_month.beginning_of_month.strftime("%-m月%-d日")}から配信再開）

    - if @user.before_trial?
      = link_to 'いますぐトライアルを開始する', start_trial_now_user_path(@user), class: 'ui blue small responsive button', method: :post, data: { confirm: 'いますぐ無料トライアル期間を開始し、次回配信分からメールをお届けします。作品途中からの配信となり、無料トライアルは今月末で終了します。本当によろしいですか？' }

  .mb-70
    %h5.ui.small.horizontal.divider.header
      %i.icon.mail.outline
      今月の配信タイトル

    .mb-10
      .ui.one.cards
        .ui.card
          .content.ui.secondary.basic.segment
            .header
              %i.icon.play.circle
              宮沢賢治『注文の多い料理店』
              %small
                = link_to 'https://search.bungomail.com/authors/81/categories/short/books/43754', target: :_blank do
                  %i.icon.small.external
          .extra.content
            %span.ui.small.label 2020年5月
            &nbsp;
            %small 次回配信: 2020年5月3日 7:00AM
    .mb-30
      %small= link_to '過去の配信タイトルを見る', '#'

    - if @user.list_subscribed?
      = link_to '月末まで配信を停止する', pause_subscription_user_path(@user), class: 'ui red small responsive button', method: :post, data: { confirm: '月末まで配信を停止して、翌月1日から配信を再開します。この処理は取り消せません。本当によろしいですか？' }

  .mb-70
    %h5.ui.small.horizontal.divider.header
      %i.icon.credit.card.outline
      お支払い情報
    - if @user.charge.present?
      .mb-10
      %table.ui.fixed.definition.unstackable.table
        %tr
          %td.four.wide 登録カード情報
          %td
            = creditcard_icon(@user.charge.brand)
            \･･･
            = @user.charge.last4
            &nbsp;
            %small= link_to 'カード情報を変更する', edit_charge_path(@user.charge), "data-turbolinks": false

        %tr
          %td.four.wide 決済情報
          %td.twelve.wide
            前回決済日: （まだお支払いがありません）
            %br
            次回決済日: 2020年6月1日

    - else
      %p
        決済情報が登録されていません。
      %p
        = link_to 'クレジットカード情報を登録する', new_charge_path, class: 'ui red button', "data-turbolinks": false
