.mb-4.px-3.py-2.rounded.border.border-yellow-700.bg-yellow-100.text-yellow-800.text-opacity-70.bg-opacity-20.text-sm
  - if @results.count > 1
    = t :multiple_authors_found, scope: [:search, :authors, :index]
  - if @results.count == 0
    = t 'no_authors_found.html', scope: [:search, :authors, :index]

.mb-4
  %h1.font-bold.text-xl.mb-2
    = @meta_title
  .text-large
    = @results.count.to_s(:delimited)
    = t :items, scope: [:search, :defaults]

.rounded.bg-gray-200.px-3.py-2
  = form_tag(authors_path, method: :get, target: '_top', class: 'flex p-2') do
    = text_field_tag :author_name, '', placeholder: t(:author_name, scope: [:search, :authors, :index]), class: 'flex-1 p-2 rounded-l'
    = hidden_field_tag :category_id, @category[:id]
    %button.bg-blue-600.text-white.rounded-r.px-4.text-sm(type="submit")
      %i.fas.fa-search
      .hidden.sm:inline.ml-1
        = t :search, scope: [:search, :defaults]

.divide-y.mt-4.border-b
  - @results.each do |id, name|
    = link_to author_category_books_path(author_id: id, category_id: @category[:id]), class: 'block py-2' do
      = name
