%table.ui.single.line.table
  %thead
    %tr
      %th 作品名
      %th 著者
      %th 文字数
      %th 人気
      %th 書き出し
  %tbody
    - books.each do |book|
      %tr
        %td
          = book.title
          = link_to book.aozora_card_url, target: '_blank' do
            %i.icon.small.external
        %td
          = link_to search_author_path(book.author_id) do
            = book.author
        %td
          = book.words_count.to_s(:delimited)
          %small 文字
        %td
          = access_count_stars(book.access_count)
        %td
          %small= book.beginning.truncate(30)
