%h1.ui.header
  「#{@category.name}」の作品一覧
  （#{@books.total_count}作品）
%p
  青空文庫の作品の中で、「#{@category.name}」に該当する作品一覧を表示しています。
  %br
  （ゾラサーチで「#{@category.name}」は、#{@category.range_from}〜#{@category.range_to}文字の作品を対象としています）

.ui.basic.segment
  .ui.secondary.pointing.menu
    - @categories.each do |category|
      = link_to search_category_path(category.id), class: "item #{ 'active' if @category == category || (!@category && category.id == 'all') }" do
        = category.name

= render partial: 'table', locals: { books: @books }

.ui.basic.center.aligned.segment
  = paginate @books, window: 2
