%h1.ui.header
  %i.icon.folder.open
  「#{@category.name}」の作品一覧
  （#{@books.total_count}作品）
%p
  青空文庫の作品の中で、「#{@category.name}」に該当する作品一覧を表示しています。
  %br
  （ゾラサーチで「#{@category.name}」は、#{@category.range_from}〜#{@category.range_to}文字の作品を対象としています）

.ui.divider

.ui.middle.alligned.divided.relaxed.large.link.list
  - @books.each do |book|
    = link_to book.aozora_card_url, class: 'item', target: '_blank' do
      .right.floated.content
        %i.icon.chevron.right
      .content
        .header
          = book.title
          %small
            （#{book.author}）
          .ui.small.label
            = book.words_count
            文字
        .meta
          %small
            = book.beginning.truncate(30)

.ui.divider
.ui.basic.centered.segment
  = paginate @books, window: 2
