.mb-12
  %h1.text-lg.font-bold.mb-4.flex.items-center
    %svg(class="w-6 h-6 mt-1 mr-2" focusable="false" viewBox="0 0 24 24" aria-hidden="true")
      %path(d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z")
    マイページ
  .rounded.bg-gray-100.px-4.py-2
    = @user.email


.mb-12
  %h3.font-bold.mb-4 ▼ チャネル購読状況
  %div(class="grid sm:grid-cols-2 gap-4 mb-4")
    .rounded.border.flex.flex-col
      .p-4.flex-1
        .mb-2
          .h5.font-bold
            = link_to 'ブンゴウメール公式チャネル', channel_path('bungomail-official'), class: 'text-link'
        .text-sm.mb-4
          様々な文豪の短編作品を、毎月1冊ピックアップして配信するチャネルです。

      - if @user.plan == 'basic'
        %div(class='rounded-b p-2 bg-blue-600 text-white text-sm text-center opacity-50') 購読中です
        -# TODO: 配信予約状態のときの表示
      - else
        %div(class='rounded-b p-2 bg-blue-600 text-white text-sm text-center opacity-50')
          購読する
    .rounded.border.flex.flex-col
      .p-4.flex-1
        .mb-2
          .h5.font-bold
            = link_to '長編作品チャネル', channel_path('long-novel'), class: 'text-link'
            %span.rounded.bg-yellow-600.text-white.text-xs.px-1 無料
        .text-sm
          様々な文豪の長編作品を、数ヶ月かけて配信するチャネルです。
      - if sub = @user.subscriptions.find_by(channel_id: Channel::NOVEL_CHANNEL_ID)
        = link_to '購読解除する', subscription_path(sub, redirect_to: '/mypage'), method: :delete, class: 'rounded-b p-2 border border-blue-600 text-blue-600 text-sm text-center hover:bg-blue-50'
      - else
        = link_to '購読する', subscriptions_path(channel_id: Channel::NOVEL_CHANNEL_ID, redirect_to: '/mypage'), method: :post, class: 'rounded-b p-2 bg-blue-600 text-white text-sm text-center'
  .text-sm
    ※ブンゴウメール公式チャネルの購読には
    = link_to 'Basicプランへの登録', new_membership_path, class: 'text-link'
    が必要です


.mb-12
  %h3.font-bold.mb-4 ▼ 現在のプラン

  .mb-12.rounded.bg-gray-100.px-4.py-2
    .mb-1
      %span.font-bold= "#{@user.plan.capitalize}プラン"
      - if @user.trialing
        %span.text-sm （トライアル）
    - if log = @user.membership_logs.scheduled.first
      .text-sm= "#{log.apply_at.strftime('%Y年%-m月%-d日')}〜 #{log.plan.capitalize}プラン#{log.trialing && '(トライアル)'}"

  %div(class="grid sm:grid-cols-3 gap-4 text-center")
    .rounded.border.flex.flex-col
      .h5.text-sm.font-bold.px-4.py-1.border-b.bg-gray-100
        Freeプラン
        - if @user.plan == 'free'
          .inline.rounded.text-xs.px-1.bg-yellow-600.text-white 選択中
      .p-4.flex-1.border-b
        .mb-2.text-3xl.font-bold
          無料
        .text-sm
          まずは無料でお試し
      .p-6.space-y-6
        %div
          .text-xs.text-gray-500 購読できるチャネル
          .text-lg.font-bold 無料チャネルのみ
        %div
          .text-xs.text-gray-500 購読チャネル数の上限
          .text-xl.font-bold 1つ
        %div
          .text-xs.text-gray-500 好きな作品の配信
          .text-xl.font-bold
            %svg(class="w-6 h-6 mt-2 mx-auto" focusable="false" viewBox="0 0 24 24" aria-hidden="true")
              %path(d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z")

      - if @user.plan == 'basic'
        -# TODO: 解約時のリンクを用意する
        = link_to 'Freeプランに変更する', new_membership_path, class: 'rounded-b py-3 bg-red-600 text-white text-sm'
      - else
        .rounded-b.py-3.bg-red-400.text-white.text-sm.opacity-50 現在のプランです
    .rounded.border.flex.flex-col
      .h5.text-sm.font-bold.px-4.py-1.border-b.bg-gray-100
        Basicプラン
        - if @user.plan == 'basic'
          .inline.rounded.text-xs.px-1.bg-yellow-600.text-white 選択中
      .p-4.flex-1.border-b
        .mb-2.text-3xl.font-bold
          ￥350
          .text-sm.inline /月 (税込)
        .text-sm
          毎月1冊、おまかせ読書
      .p-6.space-y-6
        %div
          .text-xs.text-gray-500 購読できるチャネル
          .text-lg.font-bold すべてのチャネル
        %div
          .text-xs.text-gray-500 購読チャネル数の上限
          .text-xl.font-bold 3つ
        %div
          .text-xs.text-gray-500 好きな作品の配信
          .text-xl.font-bold
            %svg(class="w-6 h-6 mt-2 mx-auto" focusable="false" viewBox="0 0 24 24" aria-hidden="true")
              %path(d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z")
      - if @user.plan == 'free'
        - if @user.membership_logs.scheduled.present? # 変更適用待ち
          .rounded-b.py-3.bg-red-400.text-white.text-sm.opacity-50 申し込み済みです
        - else
          = link_to 'Basicプランに変更する', new_membership_path, class: 'rounded-b py-3 bg-red-600 text-white text-sm'
      - else
        .rounded-b.py-3.bg-red-400.text-white.text-sm.opacity-50 現在のプランです
    .rounded.border.flex.flex-col.opacity-50
      .h5.text-sm.font-bold.px-4.py-1.border-b.bg-gray-100
        Proプラン
      .p-4.flex-1.border-b
        .mb-2.text-3xl.font-bold
          ￥500
          .text-sm.inline /月 (税込)
        .text-sm
          もっと読書したい方へ
      .p-6.space-y-6
        %div
          .text-xs.text-gray-500 購読できるチャネル
          .text-lg.font-bold すべてのチャネル
        %div
          .text-xs.text-gray-500 購読チャネル数の上限
          .text-xl.font-bold 5つ
        %div
          .text-xs.text-gray-500 好きな作品の配信
          .text-xl.font-bold
            %svg(class="w-6 h-6 mt-2 mx-auto" focusable="false" viewBox="0 0 24 24" aria-hidden="true")
              %path(d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z")
      .rounded-b.py-3.bg-gray-500.text-white.text-sm 準備中です
