.mb-8
  %h1.text-lg.font-bold
    マイページ

.mb-8
  = @user.email

.mb-8
  %h3.font-bold.mb-4 ▼ 現在のプラン
  .inline-block.border.rounded.font-bold.px-4.py-2
    = @user.membership.plan
    - if @user.membership.trialing?
      （無料トライアル）

.mb-8
  = button_to '退会する', user_path(@user), method: :delete, class: 'text-link bg-transparent cursor-pointer'

.mb-8
  %h3.font-bold.mb-4 ▼ 購読中のチャネル
  %ul
  - @subscriptions.each do |sub|
    %li
      = sub.channel.title
      （#{sub.status}）
