%h1.ui.header
  %i.icon.setting
  アカウント情報

.ui.secondary.pointing.menu
  .active.item プロフィール

.ui.warning.small.message
  ニックネーム・プロフィール画像は、「
  = link_to 'Gravatar', 'https://ja.gravatar.com/', target: '_blank'
  」というプロフィール管理サービスに登録したものが使用されます。
  メールアドレスの変更や退会希望はinfo@notsobad.jpまで直接ご連絡ください。

%br
.ui.stackable.grid
  .row
    .three.wide.column
      = image_tag(@user.profile_image_url, class: 'ui circular small image', style: 'max-width: 100px;')
    .thirteen.wide.column
      .ui.form
        .field
          %label.label ニックネーム
          .ui.fluid.input
            %input(type="text" value="#{@user.display_name}" disabled)
        .field
          %label.label メールアドレス
          .ui.fluid.input
            %input(type="text" value="#{@user.email}" disabled)
        .field
          %label.label 現在のプラン
          = payment_status_label(@charge)
          - if @charge.try(:cancel_at)
            %small （#{@charge.cancel_at.strftime("%m月%d日で配信停止")}）
          - elsif @charge.try(:status) == 'trialing'
            %small （#{@charge.trial_end.strftime("%m月%d日まで")}）
          %br
          - if @charge.try(:cancel_at)
            %small= link_to '解約を取り消す', activate_charge_path(@charge), method: :post
          - elsif %w(trialing active past_due).include? @charge.try(:status)
            %small= link_to '解約する', charge_path(@charge), method: :delete, data: {confirm: 'これ以降の支払いをただちに停止しします。メール配信は、支払済み期間の終了まで継続したあと自動で停止します。本当によろしいですか？'}
          - else
            %br
            = link_to '有料プランに変更する', new_charge_path, class: 'ui red small button'
        - if %w(trialing active past_due).include?(@charge.try(:status)) && !@charge.try(:cancel_at)
          .field
            %label.label 決済情報
            = creditcard_icon(@charge.brand)
            •••• #{@charge.last4}
            %small （有効期限: #{@charge.exp_month}/#{@charge.exp_year}）
            %br
            %small= link_to '決済情報を変更する', edit_charge_path(@charge)
      %br
      .ui.divider
      = link_to  'https://ja.gravatar.com/',class: 'ui basic small black button', target: '_blank' do
        Gravatarでプロフィールを編集する
        &nbsp;
        %i.icon.small.external
      %br
      %small ※ブンゴウメールで登録したものと同じメールアドレスで登録してください。
