%h1.ui.header
  %i.icon.setting
  アカウント情報

%div
  .ui.secondary.pointing.menu
    .active.item プロフィール

  %br
  .ui.form
    .field
      %label.label
        %i.icon.mail.outline
        メールアドレス
      = @user.email
    .field
      %label.label
        %i.icon.credit.card.outline
        現在のプラン
      .ui.error.message.visible
        %i.icon.warning.circle
        有料プランの提供終了に伴い、2019年10月1日以降、すべての決済情報を削除し課金を停止しております。
        2019年11月30日の有料プラン終了まで、すべての機能はそのまま課金なしでご利用いただけます。

  %br
  .ui.warning.small.message
    メールアドレスの変更や退会希望はinfo@notsobad.jpまで直接ご連絡ください。
  %br
  %br


%div
  .ui.secondary.pointing.menu
    .active.item
      LINE配信機能
  %div
    ブンゴウメール公式チャネルの配信をLINEで受け取れる機能です。
    利用を希望される場合は以下のボタンから、ブンゴウメール公式アカウントを友だちに追加してください。
  %br
  %div
    - if current_user.pro?
      = link_to 'http://nav.cx/fEbnPiT', target: '_blank' do
        = image_tag('https://scdn.line-apps.com/n/line_add_friends/btn/ja.png', alt: "友だち追加", height: 36, border: 0)
    - else
      %button.ui.green.responsive.disabled.button
        %i.icon.chat
        LINE友だち追加
  %br
  %div
    %small
      ※LINE配信機能の利用には
      = link_to 'PROプランへの登録', new_charge_path
      が必要です。
  %br
  %br


%div
  .ui.secondary.pointing.menu
    .active.item
      読書ログ
  %div
    %small
      メール開封状況をもとに自動で読書ログを記録します。詳しくは
      = link_to '公式ブログの記事', 'https://bungomail.hatenablog.com/entry/2019/04/24/190742', target: '_blank'
      をご覧ください。
  %br
  - if @user.pixela_logging?
    %div
      = link_to "#{@user.pixela_url}.html", target: '_blank' do
        = image_tag(@user.pixela_url.to_s, class: 'ui image')
    %br
    %div
      = link_to "#{@user.pixela_url}.html", target: '_blank', class: 'ui black basic small button' do
        詳細な読書ログを確認する
        &nbsp;
        %i.icon.external.small
    %br
    %div
      %small
        = link_to '読書ログの記録を停止する',pixela_user_path(@user, logging: false), method: :post
  - else
    .ui.secondary.center.aligned.padded.segment
      = link_to pixela_user_path(@user, logging: true), method: :post, class: 'ui blue responsive button' do
        読書ログの記録を有効化する
      %br
      %br
      %div
        %small
          この機能は
          = link_to 'Pixela', 'https://pixe.la/', target: '_blank'
          という外部のAPIサービスを利用します。
          %br
          利用にあたっては、
          = link_to 'Pixelaの利用規約', 'https://github.com/a-know/Pixela/wiki/%E5%88%A9%E7%94%A8%E8%A6%8F%E7%B4%84%EF%BC%88Terms-of-Service-Japanese-Version%EF%BC%89', target: '_blank'
          をご確認いただき、同意の上で利用を開始してください。
