%h1.ui.header
  %i.icon.setting
  アカウント情報

.ui.secondary.pointing.menu
  .active.item プロフィール

.ui.warning.small.message
  ニックネーム・プロフィール画像は、「
  = link_to 'Gravatar', 'https://ja.gravatar.com/', target: '_blank'
  」というプロフィール管理サービスに登録したものが使用されます。
  メールアドレスの変更や退会希望はinfo@notsobad.jpまで直接ご連絡ください。

%br
.ui.stackable.grid
  .row
    .three.wide.column
      = image_tag(@user.profile_image_url, class: 'ui circular small image', style: 'max-width: 100px;')
    .thirteen.wide.column
      .ui.form
        .field
          %label.label ニックネーム
          .ui.fluid.input
            %input(type="text" value="#{@user.display_name}" disabled)
        .field
          %label.label メールアドレス
          .ui.fluid.input
            %input(type="text" value="#{@user.email}" disabled)
        .field
          %label.label 登録日
          = @user.created_at.strftime('%Y年%m月%d日')
        .field
          %label.label ステータス
          - case @user.charge.try(:status)
            - when 'trialing'
              %span.ui.orange.label 無料トライアル中
            - when 'active'
              %span.ui.orange.label PROプラン
            - when 'past_due'
              %span.ui.red.basic.label 決済失敗
            - when 'canceled'
              %span.ui.basic.label 解約済み
            - else
              %span.ui.orange.basic.label FREEプラン
        .field
          - if %w(trialing active past_due).include? @user.charge.try(:status)
            = link_to '決済情報の変更', edit_charge_path(@user.charge), class: 'ui blue small basic button'
            = link_to '支払いを停止する', charge_path(@user.charge), method: :delete, data: {confirm: 'これ以降の支払いをただちに停止し、メール配信も翌日から停止します。本当によろしいですか？'}, class: 'ui red small basic button'
          - else
            = link_to '有料プランに変更する', new_charge_path, class: 'ui red small button'
      %br
      .ui.divider
      = link_to  'https://ja.gravatar.com/',class: 'ui basic small black button', target: '_blank' do
        Gravatarでプロフィールを編集する
        &nbsp;
        %i.icon.small.external
      %br
      %small ※ブンゴウメールで登録したものと同じメールアドレスで登録してください。
