!!!
%html(lang="ja")
  %head
    = render partial: 'en/layouts/meta'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: true

    -# Google Tag Manager
    - if Rails.env.production?
      :javascript
        document.addEventListener('turbolinks:load', function(event) {
          var url = event.data.url;
          dataLayer.push({
            'event':'pageView',
            'virtualUrl': url
          });
        });
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer', "#{ENV['GOOGLE_TAG_MANAGER_ID']}");


  %body(data-path="#{controller_name}##{action_name}" data-controller="#{controller_name}" data-action="#{action_name}")
    -# Google Tag Manager
    %noscript
      %iframe(src="https://www.googletagmanager.com/ns.html?id=#{ENV['GOOGLE_TAG_MANAGER_ID']}" height="0" width="0" style="display:none; visibility:hidden;")

    #dimmer.ui.page.inverted.dimmer
      .ui.text.loader Loading..

    .ui.top.fixed.borderless.seigaiha.menu
      = link_to(root_path, class: 'header item') do
        Bungo Mail
      .right.menu
        - if current_user
          = link_to current_user.email, mypage_path, class: 'item'
          = link_to 'Sign Out', logout_path, method: :post, class: 'item'
        - else
          = link_to 'Sign In', login_path, class: 'item'

    %div#main-content
      .ui.error.top.attached.message
        .header
          %i.icon.circle.warning
          Subscription Required!
        %p
          You need to subscribe
          = link_to 'our subscription plan', 'https://www.buymeacoffee.com/bungomail', target: :_blank
          to continue receiving e-mail.

      = render partial: 'en/layouts/breadcrumb'
      .ui.container
        .ui.stackable.grid
          .ui.twelve.wide.column
            - %w(warning error success info).each do |status|
              - next unless flash[status]
              .ui.message(class="#{status}")
                - icon_class = %i(success info).include?(status) ? 'info' : 'warning'
                %i.icon.circle{class: icon_class}
                = sanitize flash[status]
            = yield
          #sidebar.ui.four.wide.column
            = render partial: 'en/layouts/sidebar'
    = render partial: 'en/layouts/footer'
