#lp
  %section#header.seigaiha
    %br.computer.only
    .ui.centered.stackable.grid.container
      .ui.two.column.row
        .right.aligned.column
          %h1
            %img.ui.medium.centered.image{alt: t(:bungo_mail, scope: [:mailing, :defaults]), src: "./images/logo.png"}
          %br
        .left.aligned.column
          .ui.huge.header
            Just 3 minutes a day.
            %br.computer.only
            Finish a book every month.
            .sub.header
              Receive a short excerpt to a literary masterpiece every morning via email.
              %br.computer.only
              Get the fun of reading back into your life :)
          .mb-10
            = link_to signup_path, class: 'ui blue large responsive button' do
              Signup for BungoMail
              %small ï¼ˆ30days FREEï¼‰
          %small
            Already user?
            = link_to 'Sign in', login_path
            from here.


  %section.ui.centered.stackable.grid.container
    .ui.three.column.row
      .center.aligned.column
        %img{:alt => "", :src => "./images/1.png"}/
        %h3.ui.header
          No time to read books?
        %p
          Each email will be no longer than 3 minutes.
          You can read them easily while checking emails :)
      .center.aligned.column
        %img{:alt => "", :src => "./images/2.png"}/
        %h3.ui.header
          Good use of small pockets of time.
        %p
          What do you do when you have small pockets of time?
          Read books instead of checking social media.
      .center.aligned.column
        %img{:alt => "", :src => "./images/3.png"}/
        %h3.ui.header
          Read masterpieces.
        %p
          Read classic masterpieces that you never had time for,
          hassle-free and delivered right to you.

  %section.ui.container
    .ui.stackable.two.cards
      .ui.card
        .image
          = image_tag("lp/feature_detail.png", class: 'ui image')
      %br.mobile.table.only
      .ui.card
        .image
          = image_tag("lp/feature_list.png", class: 'ui image')
    .ui.basic.center.aligned.segment
      (Images from Japanese ver. Your email will come in English.)


  .ui.mini.divider

  %section.ui.container
    %h2.ui.huge.center.aligned.header
      User Feedback
    %br
    .ui.scrolling.four.cards
      .ui.card
        .content
          Short and easy to read..!
          Feel like I can keep reading everyday with this length.
          And every time I wonder what happens nextðŸ‘
        .extra.content
          = image_tag("lp/helen.jpg", class: 'ui avatar image')
          .right.floated.meta #bungomail
      .ui.card
        .content
          The famous author but I avoided reading without any reason.
          Finally I read him because he was chosen by BungoMail.
          It was a good opportunity that I did not choose by myself.
        .extra.content
          = image_tag("lp/elyse.png", class: 'ui avatar image')
          .right.floated.meta #bungomail
      .ui.card
        .content
          It's amazing that I could keep reading even with the incredibly busy childcare.
          Thank you so muchðŸ™
        .extra.content
          = image_tag("lp/stevie.jpg", class: 'ui avatar image')
          .right.floated.meta #bungomail
      .ui.card
        .content
          With very short sentences everyday, I enjoy picking up some interesting words on dictionaries, or reading aloud my favorite parts again.
        .extra.content
          = image_tag("lp/elliot.jpg", class: 'ui avatar image')
          .right.floated.meta #bungomail

  .ui.mini.divider

  %section.ui.center.aligned.container
    %h2.ui.huge.header
      Plan
    %p.sub.header
      Free for the first month, no need for credit card.
    .ui.centered.fluid.card
      .ui.secondary.center.aligned.attached.segment
        %h3.ui.small.header Regular Plan
      .content
        .description
          .ui.huge.center.aligned.header
            %span.red $5
            %small /mo
            .sub.header 30days FREE trial
      .left.aligned.content
        .description
          .ui.small.header
            %i.icon.green.check
            Books will be auto-selected
          .ui.small.header
            %i.icon.green.check
            Start with FREE trial
          .ui.small.header
            %i.icon.green.check
            Enjoy everyday reading :)

      = link_to signup_path, class: 'ui bottom attached primary button' do
        %i.icon.mail
        Sign up for FREE trial

  .ui.mini.divider

  %section.ui.center.aligned.container
    %h2.ui.huge.center.aligned.header
      Media Coverage
      .sub.header
        (In Japanese media)
    %br
    .ui.horizontal.list
      %a.item{:href => "https://gigazine.net/news/20180531-bungomail/", :target => "_blank"}
        %img.ui.small.image{:alt => "GIGAZINE", :src => "./images/press/gigazine.png"}/
      %a.item{:href => "http://nlab.itmedia.co.jp/nl/articles/1804/27/news145.html", :target => "_blank"}
        %img.ui.small.image{:alt => "ã­ã¨ã‚‰ã¼", :src => "./images/press/nlab.png"}/
      %a.item{:href => "https://internet.watch.impress.co.jp/docs/yajiuma/1224590.html", :target => "_blank"}
        %img.ui.tiny.image{:alt => "InternetWatch", :src => "./images/press/internetwatch.png"}/
      %a.item{:href => "https://rocketnews24.com/2019/12/11/1303143/", :target => "_blank"}
        %img.ui.small.image{:alt => "RocketNews24", :src => "./images/press/rocketnews.png"}/
      %a.item{:href => "https://kai-you.net/article/69993", :target => "_blank"}
        %img.ui.small.image{:alt => "KAI-YOU", :src => "./images/press/kai-you.png"}/
      %a.item{:href => "https://amp.review/2019/04/08/search-bungomail/", :target => "_blank"}
        %img.ui.small.image{:alt => "AMP", :src => "./images/press/amp.png"}/
      %a.item{:href => "https://www.j-cast.com/trend/2019/04/08354695.html", :target => "_blank"}
        %img.ui.small.image{:alt => "jcast", :src => "./images/press/jcast.png"}/
      %a.item{:href => "https://lamire.jp/148287", :target => "_blank"}
        %img.ui.small.image{:alt => "lamire", :src => "./images/press/lamire.png", :style => "height:70px;width:auto;"}/
      %a.item{:href => "https://irorio.jp/nagasawamaki/20180912/492864/", :target => "_blank"}
        %img.ui.small.image{:alt => "IRORIO", :src => "./images/press/irorio.jpg"}/
      %a.item{:href => "https://isuta.jp/category/iphone/2019/04/599166", :target => "_blank"}
        %img.ui.small.image{:alt => "isuta", :src => "./images/press/isuta.png"}/


  %section.ui.centered.stackable.grid.secondary.attached.segment
    .ui.row
      .ten.wide.center.aligned.column
        .mb-10
          = link_to signup_path, class: 'ui blue large responsive button' do
            Signup for BungoMail
            %small ï¼ˆ30days FREEï¼‰
        %small
          Already user?
          = link_to 'Sign in', login_path
          from here.
