.ui.warning.message
  - if @results.count > 1
    = t '.multiple_authors_found'
  - if @results.count == 0
    = t '.no_authors_found.html'

%h1.ui.large.header
  = @meta_title
  .sub.header
    = @results.count.to_s(:delimited)
    = t :items, scope: [:search, :defaults]

.ui.secondary.segment
  = form_tag(authors_path, method: :get, target: '_top', class: 'ui form') do
    .ui.fluid.action.input
      = text_field_tag :author_name, '', placeholder: t('.author_name')
      = hidden_field_tag :category_id, @category[:id]
      %button.ui.primary.icon.button(type="submit")
        %i.fas.fa-search
        %span.computer.only
          &nbsp;
          = t :search, scope: [:search, :defaults]

.ui.divider
.ui.divided.very.relaxed.link.list
  - @results.each do |id, name|
    = link_to author_category_books_path(author_id: id, category_id: @category[:id]), class: 'item' do
      = name
      .right.floated.content
        %i.icon.chevron.right
