%h1.ui.header
  #{@books.first.author}の#{@category.try(:name)}作品一覧
  （#{@books.total_count}作品）
- if @category
  %p
    青空文庫の作品の中で、「#{@category.name}」に該当する作品一覧を表示しています。
    %br
    （ゾラサーチで「#{@category.name}」は、#{@category.range_from}〜#{@category.range_to}文字の作品を対象としています）

.ui.basic.segment
  .ui.secondary.pointing.menu
    - @categories.each do |category|
      = link_to category_search_author_path(@author[:id], category.id), class: "item #{ 'active' if @category == category || (!@category && category.id == 'all') }" do
        = category.name

= render partial: 'search/categories/table', locals: { books: @books }

.ui.basic.center.aligned.segment
  = paginate @books, window: 2
