.mb-12
  %h1.font-bold.text-2xl.mb-4
    About Bungo Search

  .mb-4
    %amp-img.block.sm:hidden(src="/assets/images/ogp_gutenberg.png" width="480" height="240" layout="responsive")
    %amp-img.hidden.sm:block(src="/assets/images/ogp_gutenberg.png" width="480" height="240")

  .mb-4
    Bungo Search lets you search free e-books on Project Gutenberg by
    %b Time-to-Read.
    %br
    You can search for example:
    = link_to "Mark Twain's short-short works of 10min to read.", author_category_books_path(author_id: 53, category_id: :shortshort), class: 'text-blue-700 hover:text-blue-800'

.mb-12
  %h3.font-bold.text-xl.mb-4.border-b
    %i.far.fa-clock
    Time-to-Read
  .mb-4
    Time-to-Read of each work is calculated by the average reading speed of
    %b
      = Book::WORDS_PER_MINUTES
      words per minutes.
  .mb-4
    See details below:

  %table.table-fixed.rounded.border.divide-y.w-full.text-sm.mb-4
    %thead
      %tr.divide-x.text-left.bg-gray-50
        %th.p-3(class="w-1/3") Time-to-Read
        %th.p-3(class="w-2/3") Words
    %tbody.divide-y
      - @categories.each do |id, category|
        - next if category[:id] == 'all'
        %tr.divide-x
          %td.p-3= category_label(category)
          %td.p-3= GutenBook.category_range(id)


.mb-12
  %h3.font-bold.text-xl.mb-4.border-b
    %i.far.fa-star
    Popularity
  .mb-4
    The popularity of each work is calculated on the download count on Project Gutenberg.
  .mb-4
    See details below:

  %table.table-fixed.rounded.border.divide-y.w-full.text-sm.mb-4
    %thead
      %tr.divide-x.text-left.bg-gray-50
        %th.p-3(class="w-1/3") Popularity
        %th.p-3(class="w-2/3") Downloads Count
    %tbody.divide-y
      %tr.divide-x
        %td.p-3.text-yellow-300= access_count_stars(3)
        %td.p-3 Over 51
      %tr.divide-x
        %td.p-3.text-yellow-300= access_count_stars(2)
        %td.p-3 Between 16 to 50
      %tr.divide-x
        %td.p-3.text-yellow-300= access_count_stars(1)
        %td.p-3 Between 1 to 15
      %tr.divide-x
        %td.p-3.text-yellow-300= access_count_stars(0)
        %td.p-3 0


.mb-12
  %h3.font-bold.text-xl.mb-4.border-b
    %i.fas.fa-globe
    English Words Level (NGSL ratio)
  .mb-4
    BungoSearch shows NGSL words ratio of each book for English learners.
  .mb-8
    NGSL stands for
    = link_to 'NEW GENERAL SERVICE LIST', 'http://www.newgeneralservicelist.org/', target: :_blank, rel: 'noopener', class: 'text-blue-700 hover:text-blue-800'
    , which is a list of basic english words which covers 92% of general english sentences.

  .mb-4
    The higher ratio means the book consists mainly of basic words and might be easier to read.
  .mb-8
    %amp-img.block.sm:hidden(src="/assets/images/ngsl_ratio.png" width="480" height="335" layout="responsive")
    %amp-img.hidden.sm:block(src="/assets/images/ngsl_ratio.png" width="480" height="335")

  .mb-4
    And if you go to the book detail page, you can download the words in CSV which appears in that book.
  .mb-8
    %amp-img.block.sm:hidden(src="/assets/images/ngsl_download.png" width="480" height="220" layout="responsive")
    %amp-img.hidden.sm:block(src="/assets/images/ngsl_download.png" width="480" height="220")

  .mb-4.px-3.py-2.rounded.border.border-yellow-700.bg-yellow-100.text-yellow-800.text-opacity-70.bg-opacity-20.text-sm
    %i.fas.fa-exclamation-triangle
    &nbsp;
    NGSL ratio and CSV download are currently available only for books of 5min and 10min to read.
