/ Header
%section#header.ui.centered.stackable.seigaiha.grid
  - if flash.present?
    .ui.row
      .ui.twelve.wide.column
        - %w(warning error success info).each do |status|
          - if flash[status]
            .ui.message(class="#{status}")
              = flash[status]
  .ui.row
  %br
    .six.wide.right.aligned.column
      %br/
      %div
        = image_tag('logo.png', id: 'logo', class: 'ui medium centered image', alt: 'ブンゴウメール')
      %br/
    #header-catch.six.wide.left.aligned.column.mt-30
      .ui.large.header
        もっと読書をたのしもう。
        .sub.header
          好きな作家をずっと配信したり、おまかせで中長編の配信を楽しんだり。
          %br.computer.only/
          ブンゴウメールPROは、もっと読書を楽しみたいあなたのためのサービスです。
      %br/
      %br/
      = link_to 'ベータ版を利用する（無料）', login_path, class: 'ui gray-accent inverted button'

%section.ui.centered.stackable.grid
  .ui.row
    .ten.wide.column
      .ui.error.message
        .content
          .header
            %i.icon.exclamation.circle
            これは正式リリース前のベータ版先行公開です
          %p
            正式リリースまでは無料でお使いいただけますが、一部の機能がまだ実装されていません。
            また不具合が発生する可能性もありますので、ご理解のうえご利用ください。
            不具合報告や改善要望などは、info@notsobad.jpまでご連絡いただけると大変助かります！


%section.ui.centered.stackable.grid
  %h2.ui.huge.header
    今後の開発スケジュール
    %p.sub.header
      ブンゴウメールPROプランの、今後のリリーススケジュールです。
      %br
      かなりの確率で予定通りには進まないと思いますが、温かい目で見守ってください。
  .ui.row
    .ten.wide.column
      .ui.info.message
        開発ロードマップを公開しています。詳しい進捗状況はこちら！
        = link_to 'https://trello.com/b/3V3wAp6S/', 'https://trello.com/b/3V3wAp6S/', target: '_blank'
  .ui.row
    .ten.wide.column
      .ui.divided.items
        .item
          .content
            .header
              %i.green.icon.check
              クローズドBETA版
              %span.ui.orange.mini.label NOW!
            .description
              先行登録ユーザーのみ利用可能な状態で、最低限の機能のベータ版を無料で公開します。
              できる限り努力しますが、登録したデータなどが引き継がれない可能性もありますのでご了承ください。
              まだまだ不具合なども多いと思いますので、バグ報告や要望などを積極的にフィードバックいただけると大変たすかります。
        .item
          .content
            .header
              %i.red.icon.check
              オープンBETA版
              %span.ui.mini.label 2019年初頭
            .description
              ある程度システムが安定してきたタイミングで、オープンBETAに移行します。
              これは引き続きベータ版として無料で公開しますが、誰でも利用可能にしたバージョンです。
              機能追加も続くため、引き続きバグ報告もご協力お願いします。
        .item
          .content
            .header
              %i.red.icon.check
              正式リリース
              %span.ui.mini.label 2019年春頃
            .description
              オープンBETA版での機能追加を終え、システム的にも問題ないことが確認できたら、正式版としてリリースします。
              このタイミングでPROプラン本来の料金体系を導入し、有料とさせていただきます。
              （登録後の無料期間を設ける場合、このタイミングからカウントして無料期間を付与いたします）
              早くここまでたどりつけるようにがんばります。。
