%h1
  = image_tag('/assets/images/campaigns/dogramagra.png', class: 'ui image')

.ui.basic.segment
  %p
    名作小説をメールで小分け配信するブンゴウメールで、2020年元旦より新企画
    %b.red 『ドグラ・マグラ365日配信チャレンジ』
    を実施いたします。
  %p
    一度は読んでみたかったけど手を出せていなかった人、途中まで読んだけどチャカポコで挫折した人、無事に読了したけど久しぶりに再読してみたい人、どなたでも大歓迎です。
    無料なのでぜひこの機会にチャレンジしてみてください。
  %p
  = link_to 'メールアドレス登録（無料）', root_path, class: 'ui red responsive button'

%h3.ui.dividing.header キャンペーン概要
.ui.basic.segment
  %p
    『ドグラ・マグラ』は、構想・執筆に10年以上をかけたと言われる夢野久作の代表作で、日本三大奇書の1つに数えられる一大長編です。
    内容の不可思議さとその長さに読了を諦める人も多い一方、最後まで読み切ると精神に異常をきたすとも言われている魅惑的な書物です。
  %p
    今回の「ドグラ・マグラ365日配信チャレンジ」では、この『ドグラ・マグラ』を365回に分けて、2020年1月1日から12月30日まで毎日配信いたします。
  %p
    １回あたりの配信文字数は約1,000文字程度で、標準的な読書スピードでおよそ3分程度の文量になる予定です（回によって多少変動します）。
    また内容的に朝の気分ではなさそうなので、夜に配信する予定です。
  %p
    ブゥーーーンで始まる素敵な1年を、みなさんと一緒に迎えられたら大変うれしく思います。

%h3.ui.dividing.header 配信期間
.ui.basic.segment
  %ul.ui.list
    %li.item 2020年1月1日〜2020年12月30日
    %li.item 毎日夜22時に配信予定です

  %small ※配信時間などは変更となる場合もあるかもしれません。

%h3.ui.dividing.header 登録方法
.ui.basic.segment
  %p 以下のリンクから受信を希望するメールアドレスを登録してください。配信は最後まで無料です。
  %p
    = link_to 'メールアドレス登録（無料）', root_path, class: 'ui red responsive button'
  %div
    %small ※通常のブンゴウメール本編とは別に配信されます。本編に登録している方も、ドグラ・マグラの受信を希望する場合は改めてこちらで登録してください。
  %div
    %small ※万が一登録が増えすぎた場合は有料化させていただくかもしれませんが、その場合は事前にご連絡いたします。申し訳ありませんがあらかじめご了承ください。

%h3.ui.dividing.header 注意や参考情報
.ui.basic.segment
  %ul.ui.list
    %li
      ご利用の環境によっては、メールがフィルタされたり迷惑メールなどに振り分けられる場合があります。
      = link_to '公式ブログの記事', 'https://bungomail.hatenablog.com/entry/2018/05/21/172542', target: '_blank'
      などを参考に設定をご確認ください。
    %li
      本配信を通して精神に何らかの異常をきたされても、弊社では一切責任を負いかねます。
      どうしても心配な方は先人による
      = link_to 'Yahoo!知恵袋の回答', 'https://detail.chiebukuro.yahoo.co.jp/qa/question_detail/q1027682090', target: '_blank'
      などが参考になるかと思いますので、ぜひ事前にご一読ください。
      大丈夫です。私も読んだことがありますが、精神に異常をきたしたりしておりません。
    %li
      難解な長編なので、途中迷子になることもあると思います。
      そんなときは
      = link_to 'こちらのイラスト解説', 'https://togetter.com/li/1230259', target: '_blank'
      などを見ると気持ちが落ち着くと思うのでぜひご参考ください（ちょっとだけネタバレします）。

%h3.ui.dividing.header 本件に関するお問い合わせ等
.ui.basic.segment
  ブンゴウメール編集部
  %br
  info@notsobad.jp
