.ui.warning.message
  .content
    .header
      %i.icon.warning.circle
      現在クローズドBETA版として提供しています
    一部の機能がまだ実装されていません。またバグや不具合が出る可能性もあります。お気づきのことや改善要望などあれば、info@notsobad.jpまでぜひご連絡ください。
    今後の開発ロードマップは
    = link_to 'こちら', 'https://trello.com/b/3V3wAp6S/', target: '_blank'
    で公開しています。


%h3.ui.small.dividing.header
  %i.icon.question.circle
  使い方
.ui.three.steps
  .step
    %i.icon.rss
    .content
      .title
        配信チャネルを作成
      自分の「チャネル」に追加した本が順番に配信されます。
      チャネルは3つまで同時に購読可能です。
  .step
    %i.icon.search
    .content
      .title
        本を検索して追加
      青空文庫の本を検索して、チャネルに追加できます。
      追加できる本の数に制限はありません。
  .step
    %i.icon.mail
    .content
      .title
        配信開始！
      チャネルを配信開始すると、翌日からメールが届き始めます。
      配信開始後も本の追加や並べ替えが可能です。



%h3.ui.small.dividing.header
  %i.icon.child
  人気の文豪
.ui.four.doubling.cards
  - @popular_authors.each do |author|
    = link_to books_path(keyword: author[:name], target: {author: true}), method: :post, class: 'ui card' do
      .image
        = image_tag("authors/#{author[:id]}.png")
      .content
        .header= author[:name]
        .meta
        .description
%br

%h3.ui.small.dividing.header
  %i.icon.book
  人気の作品
- if !current_user
  .ui.warning.message
    %i.icon.warning.circle
    作品をチャネルに追加するには
    = link_to 'ログイン', login_path
    してください
.ui.four.doubling.cards
  - @popular_books.each do |book|
    .ui.card
      .content
        .header= book.title
        .meta= book.author
        .description
      .extra.content
        - if current_user && @channels
          .ui.compact.small.menu
            .ui.simple.dropdown.item
              = link_to 'チャネルに追加', add_book_channel_path(current_user.default_channel.token, book_id: book.id, author_id: book.author_id), method: :post, remote: :true
              .dropdown.icon
              .menu
                - @channels.each do |channel|
                  = link_to channel.title, add_book_channel_path(channel.token, book_id: book.id, author_id: book.author_id), method: 'post', class: 'item', remote: true
