.ui.warning.message
  .content
    .header
      %i.icon.warning.circle
      現在クローズドBETA版として提供しています
    一部の機能がまだ実装されていません。またバグや不具合が出る可能性もあります。お気づきのことや改善要望などあれば、
    = link_to '問い合わせフォーム', 'https://goo.gl/forms/jE387feQLYysiv5m2', target: '_blank'
    または info@notsobad.jp までぜひご連絡ください。
    今後の開発ロードマップは
    = link_to 'こちら', 'https://trello.com/b/3V3wAp6S/', target: '_blank'
    で公開しています。


%h3.ui.small.dividing.header
  %i.icon.question.circle
  使い方
.ui.three.steps
  .step
    %i.icon.rss
    .content
      .title 配信チャネルを作成
      .description
        自分の「チャネル」に追加した本が順番に配信されます。
        %br
        %br
        = link_to subscriptions_path, class: 'ui basic small fluid black button' do
          %i.icon.rss
          購読中のチャネル
  .step
    %i.icon.search
    .content
      .title 本を検索して追加
      .description
        青空文庫の本を検索して、チャネルに追加できます。
        %br
        %br
        = link_to books_path, class: 'ui basic small fluid black button' do
          %i.icon.search
          作品検索
  .step
    %i.icon.mail
    .content
      .title 配信開始！
      .description チャネルを配信開始すると、翌日からメールが届き始めます。



%h3.ui.small.dividing.header
  %i.icon.child
  人気の文豪
.ui.four.scrolling.cards
  - @popular_authors.each do |author|
    = link_to books_path(keyword: author[:name], target: {author: true}), method: :post, class: 'ui card' do
      .image
        = image_tag("authors/#{author[:id]}.png")
      .content
        .header= author[:name]
        .meta
        .description
%br

%h3.ui.small.dividing.header
  %i.icon.book
  人気の作品
- if !current_user
  .ui.warning.message
    %i.icon.warning.circle
    作品をチャネルに追加するには
    = link_to 'ログイン', login_path
    してください
.ui.four.doubling.cards
  - @popular_books.each do |book|
    .ui.card
      .content
        .header
          = book.title
          = link_to book.aozora_card_url, target: '_blank' do
            %i.icon.mini.external
        .meta
          %i.icon.podcast
          配信回数:
          %span.ui.circular.label= book.chapters_count
        .description= book.author
      - if current_user && current_user.default_channel
        = link_to channel_books_channel_path(current_user.default_channel.token, book_id: book.id, author_id: book.author_id), method: :post, remote: :true, class: 'ui fluid bottom attached button' do
          %i.icon.plus
          チャネルに追加
      - else
        .ui.fluid.bottom.attached.disabled.button
          %i.icon.plus
          チャネルに追加
