.mb-4
  %h1.text-lg.font-bold
    配信停止

.mb-8
  「購読解除」した場合、登録情報を削除して今後の配信を完全に停止します。
  %br
  「月末まで一時停止」した場合、来月になると自動で配信を再開します。

.mb-24
  = form_with(url: subscriptions_path, method: :delete, local: true, class: 'max-w-lg') do |f|
    = f.email_field :email, class: "block w-full p-2 rounded border mb-2 #{flash[:error] ? 'border-red-500' : ''}", placeholder: 'メールアドレス', required: true
    .flex{class: "sm:flex-row flex-col space-x-0 sm:space-x-2 space-y-2 sm:space-y-0"}
      = button_tag type: 'submit', name: 'action_type', value: 'unsubscribed', class: 'flex-1 bg-red-600 border border-red-600 rounded text-white px-4 py-2 hover:opacity-75' do
        購読を解除する
      = button_tag type: 'submit', name: 'action_type', value: 'paused', class: 'flex-1 bg-indigo-600 border border-indigo-600 rounded text-white px-4 py-2 hover:opacity-75' do
        月末まで一時停止する
  - if flash[:error]
    .text-red-600
      = flash[:error]
