.ui.secondary.padded.segment
  = form_tag do
    .ui.action.fluid.input
      = text_field_tag :keyword, keyword, placeholder: 'キーワード'
      = button_tag type: :submit, class: 'ui primary button' do
        %i.search.icon
        検索
    %br
    .ui.checkbox
      = check_box_tag 'target[work]', true, @target[:work]
      %label 作品名
    &nbsp;
    .ui.checkbox
      = check_box_tag 'target[author]', true, @target[:author]
      %label 著者名
    - if keyword
      = link_to '検索条件をリセット', books_path, style: 'float: right;'
%div
  %small
    = link_to 'https://www.aozora.gr.jp/index_pages/index_top.html', target: '_blank' do
      青空文庫で作品を探す
      %i.icon.external
