- content_for :breadcrumb do
  - if @keyword
    = link_to '作品検索', books_path
    %i.icon.right.angle.divider
    = @keyword
  - else
    作品検索

%h1.ui.header
  %i.icon.search
  作品検索

= render partial: 'form', locals: {keyword: @keyword}

%br

- if @results.present?
  %h3.ui.small.dividing.header
    %i.icon.history
    検索結果
  .ui.middle.alligned.divided.relaxed.large.list
    - @results.each.with_index(1) do |result, index|
      .item
        .right.floated.content
          - if current_user && @channels
            .ui.basic.buttons
              = link_to 'チャネルに追加', add_book_channel_path(current_user.default_channel.token, book_id: result['作品ID'], author_id: result['人物ID']), method: :post, remote: :true, class: 'ui button'
              .ui.floating.dropdown.icon.button(tabindex="#{index}")
                %i.icon.dropdown
                .menu
                  = link_to 'ほげ', root_path, class: 'item'
                  - @channels.each do |channel|
                    = link_to channel.title, add_book_channel_path(channel.token, book_id: result['作品ID'], author_id: result['人物ID']), method: 'post', class: 'item', remote: true, tabindex: 2
          - else
            = link_to 'チャネルに追加', login_path, class: 'ui small basic button'
        .content
          .header
            = result['作品名']
            %small= result['副題']
            = link_to Book.aozora_card_url(book_id: result['作品ID'], author_id: result['人物ID']), target: '_blank' do
              %i.icon.mini.external
          .meta
            %small
              = result['姓']
              = result['名']


:javascript
  document.addEventListener("turbolinks:load", () => {
    // Ajaxで本のデータを受け取ってリストに追加
    document.body.addEventListener('ajax:success', (event) => {
      alert("チャネルに追加しました！");
    })
    document.body.addEventListener('ajax:error', (event) => {
      alert("チャネルへの追加に失敗しました…");
    })
  })
