- content_for :breadcrumb do
  - if @keyword
    = link_to '作品検索', books_path
    %i.icon.right.angle.divider
    = @keyword
  - else
    作品検索

%h1.ui.header
  %i.icon.search
  作品検索

= render partial: 'form', locals: {keyword: @keyword}

%br

- if @results.present?
  %h3.ui.small.dividing.header
    %i.icon.history
    検索結果
  .ui.middle.alligned.divided.relaxed.large.list
    - @results.each do |book|
      .item
        .right.floated.content
          - if current_user.try(:default_channel)
            .ui.basic.buttons
              = link_to 'チャネルに追加', books_channel_path(current_user.default_channel.token, book_id: book.id, redirect_to: request.fullpath), method: :post, class: 'ui button'
              .ui.simple.dropdown.icon.button
                %i.icon.dropdown
                .menu
                  - @channels.each do |channel|
                    = link_to channel.title, books_channel_path(channel.token, book_id: book.id, redirect_to: request.fullpath), method: 'post', class: 'item'
          - else
            .ui.basic.buttons
              .ui.disabled.button チャネルに追加
              .ui.simple.dropdown.icon.disabled.button
                %i.icon.dropdown
        .content
          .header
            = book.title
            = link_to book.aozora_card_url, target: '_blank' do
              %i.icon.mini.external
            = delivery_period_label(book.chapters_count)
          .meta
            %small
              = book.author
  .ui.divider
  .ui.basic.centered.segment
    = paginate @results, window: 2
