- content_for :breadcrumb do
  - if @keyword
    .section(itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem")
      = link_to books_path, itemprop: 'item' do
        %span(itemprop="name") 作品検索
    %i.icon.right.angle.divider
    .section(itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem")
      %div(itemprop='item')
        %span(itemprop="name")= @keyword
  - else
    .section(itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem")
      %div(itemprop='item')
        %span(itemprop="name") 作品検索


%h1.ui.header
  %i.icon.search
  作品検索

= render partial: 'form', locals: {keyword: @keyword}

%br

- if @results.blank?
  .ui.divider
  .ui.stackable.grid
    .ui.row
      .ui.eight.wide.column
        = link_to root_url(subdomain: 'search'), target: '_blank' do
          = image_tag('/assets/images/ogp_search.png', class: 'ui large image')
      .ui.eight.wide.column
        %h4.ui.small.header
          %i.icon.clock.outline
          ゾラサーチで検索
          %span.ui.mini.orange.label New!
        %div
          青空文庫の作品を読了時間と人気順で検索できる「ゾラサーチ」を、ブンゴウメールの姉妹サービスとして提供しています。
          読む本が決まっていない、新しい本に出会いたいというときは、ぜひゾラサーチをお試しください。
        %br
        %div
          = link_to root_url(subdomain: 'search'), target: '_blank' do
            ゾラサーチ
            %i.icon.small.external

- else
  %h3.ui.small.dividing.header
    %i.icon.history
    検索結果
  .ui.middle.alligned.divided.relaxed.large.list
    - @results.each do |book|
      .item
        .right.floated.content
          - if current_user.try(:default_channel)
            .ui.basic.buttons
              = link_to 'チャネルに追加', books_channel_path(current_user.default_channel, book_id: book.id, redirect_to: request.fullpath), method: :post, class: 'ui button'
              .ui.simple.dropdown.icon.button
                %i.icon.dropdown
                .menu
                  - @channels.each do |channel|
                    = link_to channel.title, books_channel_path(channel, book_id: book.id, redirect_to: request.fullpath), method: 'post', class: 'item'
          - else
            .ui.basic.buttons
              .ui.disabled.button チャネルに追加
              .ui.simple.dropdown.icon.disabled.button
                %i.icon.dropdown
        .content
          .header
            = book.title
            = link_to book.aozora_card_url, target: '_blank' do
              %i.icon.mini.external
            = delivery_period_label(book.chapters_count)
          .meta
            %small
              = book.author
  .ui.divider
  .ui.basic.centered.segment
    = paginate @results, window: 2
