- content_for :breadcrumb do
  = link_to '作品検索', books_path
  %i.icon.right.angle.divider
  = @book.title

%h1.ui.header
  %i.icon.search
  作品検索

= render partial: 'form'

%br
.ui.three.stackable.cards
  .ui.fluid.card
    .content
      .header
        = @book.title
        = link_to @book.aozora_card_url, target: '_blank' do
          %i.icon.mini.external
      .meta
        全#{@book.chapters_count}回配信
      .description= @book.author
    .extra.content
      .ui.small.basic.buttons
        = link_to 'チャネルに追加', add_book_channel_path(id: @default_channel_id, book_id: @book.id), method: :post, class: 'ui button'
        .ui.floating.dropdown.icon.button
          %i.dropdown.icon
          .menu
            .item
              %i.icon.edit Edit
              %i.icon.edit Edit
