%footer.ui.basic.center.aligned.inverted.segment{class: footer_hidden}
  %h5.ui.header
    ゾラサーチ
    &nbsp;
    %small by ブンゴウメール
  %br
  .ui.horizontal.list
    = link_to 'ブンゴウメールとは', page_path(:about), class: 'item', target: '_blank'
    = link_to '利用規約', page_path(:terms), class: 'item'
    = link_to 'プライバシーポリシー', page_path(:privacy), class: 'item'
    = link_to 'お問い合わせ', 'https://goo.gl/forms/jE387feQLYysiv5m2', target: '_blank', class: 'item'
    = link_to '運営会社', 'https://notsobad.jp', target: '_blank', class: 'item'
  %br/
  %br/
  %br/
  %div
    %small Copyright ゾラサーチ by ブンゴウメール 2019 All rights reserved.
    %small
      Powered by
      %a{:href => "https://notsobad.jp", :target => "_blank"} NOT SO BAD, LLC.
