%footer.ui.basic.center.aligned.inverted.segment{class: footer_hidden}
  %h5.ui.header
    ゾラサーチ
    &nbsp;
    %small by ブンゴウメール
  %p
    = link_to page_path(:about) do
      %i.icon.question.circle
      このサイトについて
  %br
  .ui.horizontal.list
    = link_to 'ブンゴウメール', page_url(:about, subdomain: ''), class: 'item', target: '_blank'
    = link_to '利用規約', page_url(:terms, subdomain: ''), class: 'item'
    = link_to 'プライバシーポリシー', page_url(:privacy, subdomain: ''), class: 'item'
    = link_to 'お問い合わせ', 'https://goo.gl/forms/jE387feQLYysiv5m2', target: '_blank', class: 'item'
    = link_to '運営会社', 'https://notsobad.jp', target: '_blank', class: 'item'
  %br/
  %br/
  %br/
  %div
    %small Copyright ゾラサーチ by ブンゴウメール 2019 All rights reserved.
    %small
      Powered by
      %a{:href => "https://notsobad.jp", :target => "_blank"} NOT SO BAD, LLC.
