%meta(content="text/html" charset="UTF-8" http-equiv="Content-Type")
%meta(name="viewport" content="width=device-width" initial-scale="1.0" maximum-scale="1.0")
%link(rel="shortcut icon" href="/favicon.ico")
%link(rel="apple-touch-icon" sizes="128x128" href="/apple-touch-icon.png")
%link(rel="apple-touch-icon-precomposed" sizes="128x128" href="/apple-touch-icon-precomposed.png")

- @meta_title = "#{@meta_title} | ゾラサーチ" if !current_page?(pro_root_path)
%title= @meta_title
%meta(name="description" content="#{@meta_description}")
%meta(name="keywords" content="#{@meta_keywords},ブンゴウメール,文豪,読書,青空文庫,無料,文学,古典,小説,毎日,毎月,継続,メール")

- canonical_url = url_for(only_path: false)
%link(rel="canonical" href="#{canonical_url}")

- if @meta_noindex
  %meta(name="robots" content="noindex")

%meta(property="og:site_name" content="ゾラサーチ")
%meta(property="og:title" content="#{@meta_title}")
%meta(property="og:type" content="website")
%meta(property="og:url" content="#{canonical_url}")
%meta(property="og:description" content="#{@meta_description}")
%meta(property="og:locale" content="ja_JP")

%meta(name="twitter:card" content="summary_large_image")
%meta(name="twitter:site" content="@bungomail")
%meta(name="twitter:description" content="#{@meta_description}")

- if @meta_image
  %meta(property="og:image" content="#{@meta_image}")
  %meta(name="twitter:image:src" content="#{@meta_image}")
- else
  %meta(property="og:image" content="https://bungomail.com/assets/images/ogp_search.png")
  %meta(name="twitter:image:src" content="https://bungomail.com/assets/images/ogp_search.png")
