.ui.secondary.attached.segment
  = form_tag(search_books_path, class: 'ui form') do
    .ui.stackable.grid
      .five.wide.column
        .field
          - author_name = @author[:name] unless @author[:id] == 'all'
          = text_field_tag :author_name, author_name, autocomplete: 'on', list: 'authors', placeholder: '著者名'
          = render partial: 'authors_list'
      .five.wide.column
        .field
          = select_tag :category_id, options_from_collection_for_select(@categories, :id, :name, @category.id), class: 'ui dropdown'
      .three.wide.column
        = submit_tag '検索', class: 'ui red responsive button'
