- channel = subscription.channel
- if channel.streaming?
  - user_subscription = subscription
  - subscription = channel.master_subscription

.ui.fluid.card
  .content
    .header
      = link_to channel.title, channel_path(channel)
    .description
      = subscription_status_label(subscription)
      %i.icon.clock.outline
      #{subscription.delivery_hour}:00
  .extra.content
    - if channel.streaming? && (user_subscription != subscription)
      = link_to '配信解除', subscription_path(user_subscription), method: :delete, class: 'ui black basic small button', data: {confirm: '配信を解除します。本当によろしいですか？'}
    - else
      = link_to '配信設定', edit_subscription_path(subscription), class: 'ui red basic small button'

    - if channel.user_id == current_user.id
      = link_to '編集', edit_channel_path(channel), class: "ui primary basic small button"
