%h1
  = @channel.title
  の配信設定

= form_for @subscription, url: {action: 'update'}, html: {class: 'ui form'} do |f|
  - if @channel.errors.any?
    .ui.error.visible.message
      .header データの保存に失敗しました
      .list
        - @channel.errors.full_messages.each do |e|
          %li= e

  .required.field
    = f.label :delivery_hour, '配信時間'
    = f.select :delivery_hour, delivery_hours, {}, class: 'ui fluid dropdown'

  .field
    = f.label :next_delivery_date, '次回配信日'
    = f.date_field :next_delivery_date, min: Date.current.tomorrow

  %button.ui.small.red.button(type="submit" value="draft") 保存する
  = link_to 'キャンセル', channel_path(@channel), class: 'item'

.ui.divider

= link_to subscription_path(@subscription), method: :delete, data: {confirm: '配信を解除します。本当によろしいですか？'} do
  %i.icon.trash
  配信を解除する
