- content_for :breadcrumb do
  配信チャネル

%h1.ui.header 配信チャネル

.ui.info.message
  「チャネル」に読みたい本を追加して配信を開始しましょう。チャネルは3つまで購読できます。

.ui.stackable.grid
  .ui.three.columns.row
    - 3.times do |i|
      - subscription = @subscriptions[i]
      .ui.column
        - if subscription
          - channel = subscription.channel
          .ui.fluid.card
            .content
              .header
                = link_to channel.title, channel_path(channel)
                - if !channel.public?
                  %small
                    %i.small.red.lock.icon
              .description= channel.description
            .extra.content
              - if channel.current_book
                .ui.small.list
                  .item
                    %i.icon.book
                    #{channel.books_count}冊
                  .item
                    %i.icon.rss
                    = "#{channel.current_book.author}『#{channel.current_book.title}』"
                    = "##{channel.index}（全#{channel.current_book.chapters_count}回）"
                  .item
                    %i.icon.clock.outline
                    = subscription.deliver_at.join(", ")
              - elsif channel.books_count == 0
                .ui.warning.message
                  .content
                    まだ本が登録されていないようです。「編集」ボタンから本を追加して配信開始しましょう！
            .extra.content
              - if !channel.current_book
                - publishable = channel.publishable? ? '' : 'disabled'
                = link_to '配信開始', publish_channel_path(subscription.channel), method: 'post', class: "ui red small button #{publishable}"
              = link_to '編集', edit_channel_path(channel), class: "ui primary small button"
              = link_to channel_path(channel), method: :delete, class: 'ui basic small icon right floated button', data: {confirm: 'チャネルを削除します。本当によろしいですか？'} do
                %i.icon.trash

        - else
          .ui.placeholder.segment
            .ui.icon.header
              %i.icon.rss

            = link_to 'チャネルを作成する', new_channel_path, class: 'ui primary small button'
            .ui.horizontal.divider OR
            = link_to '公開チャネルを購読する', channels_path, class: 'ui small button'
