- content_for :breadcrumb do
  マイページ
  %i.icon.right.angle.divider
  購読中コース

%h1.ui.header マイページ

.ui.secondary.pointing.menu
  .active.item 購読中コース
  = link_to '作成したコース', owned_courses_path, class: 'item'


- if @subscriptions.blank?
  .ui.secondary.basic.center.aligned.segment
    %p 購読中のコースがありません。
    = link_to courses_path, class: 'ui blue button' do
      %i.icon.search
      コースを探す

.ui.middle.alligned.divided.relaxed.large.list
  - @subscriptions.each do |subscription|
    - course = subscription.course
    .item
      .right.floated.content
        = link_to subscription_path(subscription), method: 'delete', class: 'ui black basic icon small button', 'data-tooltip'=>'購読解除', 'data-inverted'=>'', data: {confirm: '購読を解除します。本当によろしいですか？'} do
          %i.icon.trash
      .content
        .header
          = link_to course_path(course) do
            = course.title
          %span.ui.mini.label{class: label_class(subscription.status)}
            = label_name subscription.status
        %small.description
          = course.description.truncate(30)
