- content_for :breadcrumb do
  購読チャネル

%h1.ui.header
  %i.icon.rss
  購読チャネル

.ui.info.message
  「チャネル」に読みたい本を追加して配信を開始しましょう。チャネルは3つまで購読できます。

.ui.stackable.grid
  .ui.three.columns.row
    - 3.times do |i|
      - subscription = @subscriptions[i]
      .ui.column
        - if subscription
          - channel = subscription.channel
          .ui.fluid.card
            .content
              .header
                = link_to channel.title, channel_path(channel.token)
                - if !channel.public?
                  %small(data-tooltip="非公開" data-inverted="true")
                    %i.small.lock.icon
              .description
                - if channel.next_chapter_id
                  %span.ui.orange.mini.label 配信中
                - else
                  %span.ui.mini.label 配信停止中
                = channel.description
            .extra.content
              .ui.small.list
                .item
                  %i.icon.book
                  #{channel.books_count}冊
                .item
                  %i.icon.podcast
                  - if channel.current_chapter
                    = "#{channel.current_chapter.book.author}『#{channel.current_chapter.book.title}』"
                    = "##{channel.index}（全#{channel.current_chapter.book.chapters_count}回）"
                .item
                  %i.icon.clock.outline
                  #{channel.deliver_at}:00
              - if channel.books_count == 0
                .ui.warning.message
                  .content
                    まだ本が登録されていないようです。「編集」ボタンから本を追加して配信開始しましょう！
            .extra.content
              - if !channel.current_chapter
                - publishable = channel.publishable? ? '' : 'disabled'
                = link_to '配信開始', publish_channel_path(subscription.channel.token), method: 'post', class: "ui red small button #{publishable}"
              = link_to '編集', edit_channel_path(channel.token), class: "ui primary small button"
              = link_to channel_path(channel.token), method: :delete, class: 'ui basic small icon right floated button', data: {confirm: 'チャネルを削除します。本当によろしいですか？'} do
                %i.icon.trash

        - else
          .ui.placeholder.segment
            .ui.icon.header
              %i.grey.icon.rss

            = link_to 'チャネルを作成する', new_channel_path, class: 'ui primary small button'
            -# .ui.horizontal.divider OR
            -# = link_to '公開チャネルを購読する', channels_path, class: 'ui small button'
