%h1.ui.huge.header
  %i.icon.rss
  購読中のチャネル

- if !current_user
  .ui.warning.small.message
    %i.icon.warning.circle
    「チャネル」に読みたい本を追加して本を配信できます。
    利用には
    = link_to 'ログイン', login_path
    が必要です。

  .ui.stackable.grid
    .ui.three.columns.row
      - 3.times do |i|
        .ui.column
          .ui.placeholder.segment
            .ui.icon.header
              %i.grey.icon.rss
            = link_to 'チャネルを作成する', new_channel_path, class: 'ui primary small button'

- else
  = link_to new_channel_path, class: 'ui red small basic button' do
    %i.icon.plus
    新規チャネルを作成する

  - if !current_user.subscriptionable?
    .ui.warning.small.message
      .content
        %i.icon.warning.circle
        購読チャネル数の上限に達しています。新しく購読したい場合は他の配信中チャネルの購読を解除してください。

  .ui.secondary.pointing.menu
    - if @finished
      = link_to '配信中', subscriptions_path, class: 'item'
      .active.item 配信終了
    - else
      .active.item 配信中
      = link_to '配信終了', subscriptions_path(q: 'finished'), class: 'item'

  .ui.stackable.grid
    - if !@finished
      - @draft_channels.each do |channel|
        .ui.five.wide.column
          .ui.fluid.card
            .content
              .header
                = link_to channel.title, channel_path(channel)
                = channel_status_icon(channel.status)
              .description
                = channel.description.try(:truncate, 50)
            .extra.content
              - if channel.books_count == 0
                .ui.warning.small.message
                  .content
                    まだ本が登録されていないようです。「
                    = link_to '作品検索', books_path
                    」から本を追加して配信開始しましょう！
              - else
                .ui.small.list
                  .item
                    %i.icon.book
                    #{channel.books_count}冊
            .extra.content
              - if channel.books_count > 0 && current_user.subscriptionable?
                = link_to '配信開始', subscriptions_path(channel_id: channel.id), method: :post, class: "ui small red button"
              - else
                %button.ui.small.red.disabled.button 配信開始
              = link_to '編集', edit_channel_path(channel), class: "ui primary small basic button", data: {turbolinks: false}

    - if @finished && @subscriptions.blank?
      .ui.column
        チャネルがありません

    - @subscriptions.each do |subscription|
      .ui.five.wide.column
        - channel = subscription.channel
        .ui.fluid.card
          .content
            .header
              = link_to channel.title, channel_path(channel)
              - if channel.status == 'private'
                %small(data-tooltip="非公開" data-inverted="true")
                  %i.small.lock.icon
            .description
              - if subscription.current_book_id
                %span.ui.orange.mini.label 配信中
              - else
                %span.ui.mini.label 配信終了
              = channel.description.try(:truncate, 50)
          .extra.content
            - if channel.books_count == 0
              .ui.warning.small.message
                .content
                  まだ本が登録されていないようです。「
                  = link_to '作品検索', books_path
                  」から本を追加して配信開始しましょう！
            - else
              .ui.small.list
                .item
                  %i.icon.book
                  #{channel.books_count}冊
                .item
                  %i.icon.podcast
                  - if subscription.current_chapter
                    = "#{subscription.current_book.author}『#{subscription.current_book.title}』"
                    = "##{subscription.current_chapter.index}（全#{subscription.current_book.chapters_count}回）"
                .item
                  %i.icon.clock.outline
                  #{subscription.delivery_hour}:00
          .extra.content
            = link_to '配信設定', edit_subscription_path(subscription), class: 'ui red basic small button'
            - if channel.user_id == current_user.id
              = link_to '編集', edit_channel_path(channel), class: "ui primary basic small button"
