.mb-50
  .float-cleared
    %h1.ui.large.left.floated.header
      Search Books
    .right.floated
      = link_to guten_books_path do
        Gutenberg
        %i.icon.angle.right

  - book_type = @book_class == AozoraBook ? 'aozora' : 'gutenberg'
  = form_with(model: @book_class, url: guten_books_path(book_type: book_type), method: :get, local: true, class: 'ui form') do |f|
    .two.fields
      .field
        = f.label :title
        = f.text_field :title
      .field
        = f.label :author
        = f.text_field :author
    .three.fields
      .field
        = f.label :popularity
        - options = %w(★★★ ★★ ★ (なし))
        = f.select :popularity, options_for_select(options), { include_blank: "--" }, { class: 'ui dropdown' }
      .field
        = f.label "Time to Read"
        - options = @book_class::CATEGORIES.map{|k, v| [v[:name], v[:id]] }
        = f.select :category, options_for_select(options), { include_blank: "--" }, { class: 'ui dropdown' }

      .field
        %label 検索対象
        .ui.checkbox
          = f.text_field :juvenile, class: 'hidden'
          %label 児童文学のみ
    .field
      = f.submit 'Search', class: 'ui red responsive button'

.mb-50
  .ui.divider

.mb-50
  %table.ui.fixed.unstackable.table
    %thead
      %tr.computer.only
        %th.five.wide= t :title, scope: [:search, :defaults]
        %th.four.wide= t :author, scope: [:search, :defaults]
        %th.four.wide= t :minutes_to_read, scope: [:search, :defaults]
        - if lang_locale == :en && @category[:id] == "flash"
          %th.two.wide NGSL
        %th.two.wide= t :popularity, scope: [:search, :defaults]
        %th.five.wide.computer.only= t :beginning, scope: [:search, :defaults]

      %tr.mobile.only
        %th.six.wide
          %small= t :title, scope: [:search, :defaults]
        %th.six.wide
          %small= t :author, scope: [:search, :defaults]
        %th.nine.wide
          %small= t :minutes_to_read, scope: [:search, :defaults]
          %small.right.floated= t :popularity, scope: [:search, :defaults]
    %tbody
      - if @books.blank?
        %tr
          %td(colspan="3")= t :no_results, scope: [:search, :books]
      = render partial: 'mail/books/raw', collection: @books, as: :book
