<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5HS82L2');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Bungo Mail | Read 3mins email everyday and finish reading a whole book every month!</title>

    <meta name="description" content="No time to read books? We send you tiny pieces of novels every morning and you can finish reading a whole book every month!"/>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.3/semantic.min.css">
    <link rel="shortcut icon" href="favicon.ico" >
    <style media="screen">
      .gray-flat { background-color: #e7e8e9; }
      .gray-black { background-color: #c4c8d4; }
      .gray-accent { background-color: #443b55 !important; }
      section, footer { padding: 50px 10px !important; }
      .gray-accent.button {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
      }

      #header {
        padding-top: 30px !important;
        background: url('./images/seigaiha.png');
      }
      .sub.header { margin-top: 15px !important; }
      #header-logo img { max-width: 80%; }

      .ui.mini.divider {
        width: 50px;
        margin: 50px auto;
        border-width: 3px !important;
        border-color: #333 !important;
      }

      footer.ui.segment {
        background-color: #333 !important;
        color: rgba(255,255,255,.6);
        margin-bottom: 0;
      }
      footer a { color: #fff !important; }

      @media only screen and (max-width: 767px) {
        .computer.only { display: none; }
        #header-logo { padding-bottom: 0 !important;  }
        #header-catch { padding-top: 0 !important;  }
        .ui.large.button { width: 100%; }
      }
    </style>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HS82L2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Header -->
    <section id="header" class="ui centered stackable seigaiha grid">
      <div class="ui text fluid menu">
        <div class="ui item">
          <h1 class="ui medium header">
            Bungo Mail
            <span class="ui mini label orange">BETA</span>
          </h1>
        </div>
        <div class="ui right item">
          <%= link_to 'Sign in', login_path, class: 'ui black basic button' %>
        </div>
      </div>

      <% %i(warning success error info).each do |status| %>
        <% if flash[status].present? %>
          <div class="ui row">
            <div class="column">
              <div class="ui <%= status %> message">
                <% icon = %i(success info).include?(status) ? 'info' : 'warning' %>
                <i class="icon <%= icon %> circle"></i>
                <%= flash[status] %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <div class="ui row">
        <div id="header-logo" class="six wide right aligned column">
          <br class="computer only">
          <h1><img src="./images/logo.png" alt="BungoMail" class="ui medium centered image"></h1>
          <br>
        </div>
        <div id="header-catch" class="six wide center aligned column">
          <br class="computer only">
          <div class="ui huge header">
            Just 3 minutes a day.
            <br class="computer only">
            Finish a book every month.
            <div class="sub header">
              Receive a short excerpt to a literary masterpiece every morning via email.
              <br class="computer only">
              Get the fun of reading back into your life :)
            </div>
          </div>

          <%= form_with model: User do |form| %>
            <div class="ui action fluid input">
              <%= form.email_field :email, placeholder: "Your Email Address", required: true %>
              <button class="ui red button">Register</button>
            </div>
            <small>
              Already user?
              <%= link_to 'Sign in', login_path %>
              from here.
            </small>
          <% end %>
          <p>（FREE for 14 days）</p>
        </div>
      </div>
    </section>


    <section class="ui centered stackable grid">
      <div class="ui row">
        <div class="four wide center aligned column">
          <img src="./images/1.png" alt="">
          <h3 class="ui header">
            No time to read books?
          </h3>
          <p>
            Each email will be no longer than 3 minutes.
            You can read them easily while checking emails :)
          </p>
        </div>
        <div class="four wide center aligned column">
          <img src="./images/2.png" alt="">
          <h3 class="ui header">
            Good use of small pockets of time.
          </h3>
          <p>
            What do you do when you have small pockets of time?
            Read books instead of checking social media.
          </p>
        </div>
        <div class="four wide center aligned column">
          <img src="./images/3.png" alt="">
          <h3 class="ui header">
            Read masterpieces.
          </h3>
          <p>
            Read classic masterpieces that you never had time for,
            hassle-free and delivered right to you.
          </p>
        </div>
    </section>

    <div class="ui mini divider"></div>

    <section class="ui centered stackable grid">
      <div class="ui row">
        <div class="ten wide center aligned column">
          <h2 class="ui huge header">
            Plans
            <p class="sub header">
              Cheaper than buying a book, and in this way you can make sure that you finish reading.
            </p>
          </h2>
        </div>
      </div>

      <div class="ui row">
        <div class="six wide column">
          <div class="ui stackable centered one cards">
            <div class="ui card">
              <div class="ui secondary center aligned attached segment">
                <h3 class="ui small header">Regular Plan</h3>
              </div>
              <div class="content">
                <div class="description">
                  <div class="ui huge center aligned red header">
                    $5/mo
                    <div class="sub header">14 days FREE trial</div>
                  </div>
                  <div class="ui divider"></div>
                  <div class="ui small header">
                    <i class="icon green check"></i>
                    Books will be auto-selected
                  </div>
                  <div class="ui small header">
                    <i class="icon green check"></i>
                    Can customize delivery settings.
                  </div>
                  <div class="ui small header">
                    <i class="icon green check"></i>
                    Select your favorite books to deliver
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui row">
        <div class="six wide center aligned column">
          <%= form_with model: User do |form| %>
            <div class="ui action fluid input">
              <%= form.email_field :email, placeholder: "Your Email Address", required: true %>
              <button class="ui red button">Register</button>
            </div>
          <% end %>
          <p>（FREE for 14 days）</p>
      </div>
      </div>
    </section>

    <footer class="ui basic center aligned segment">
      <div>
        <small>Copyright BungoMail 2018 All rights reserved.</small>
      </div>
      <div>
        <small>
          Powered by
          <a href="https://notsobad.jp" target="_blank">NOT SO BAD, LLC.</a>
        </small>
      </div>
    </footer>
  </body>
</html>
