.required.field
  = f.label :title, 'タイトル'
  = f.text_field :title
.field
  = f.label :description, '説明'
  = f.text_area :description, rows: '3'


%br
.ui.horizontal.divider 本の追加
.ui.secondary.padded.segment
  .ui.action.fluid.input
    %input#searchInput(type="text" placeholder="青空文庫の図書カードURLを入力")
    = link_to '/books/scrape/?url=', id: 'searchButton', class: 'ui primary button', method: :post, remote: true do
      %i.add.icon
      追加

.ui.hidden.divider
#loader.ui.disabled.text.loader Loading..

#bookList.ui.middle.alligned.divided.relaxed.large.list
  = f.fields_for :course_books do |cb|
    - course_book = cb.object
    %div.item(id="#{course_book.book_id}" data-saved="true")
      .right.floated.content
        .ui.icon.basic.button(onclick="removeBook(#{course_book.book_id})")
          %i.icon.remove
      %i.icon.content.handler
      .content
        .header
          = course_book.book.author
          『#{course_book.book.title}』
        .description
          %small 文字数：
          = cb.hidden_field :id, value: course_book.id
          = cb.hidden_field :book_id, value: course_book.book_id
          = cb.hidden_field :index, value: course_book.index, id: "#{course_book.book_id}_index"
          = cb.hidden_field :_destroy, value: false, id: "#{course_book.book_id}_destroy"


.ui.bottom.fixed.borderless.menu
  .item
    %button.ui.red.button(type="submit" value="draft") 保存する
    %small （まだ一般公開はされません）
