.required.field
  = f.label :title, 'タイトル'
  = f.text_field :title
.field
  = f.label :description, '説明'
  = f.text_area :description, rows: '3'


%h3.ui.small.header 本の追加
.ui.secondary.padded.segment
  .ui.action.fluid.input
    %input#searchInput(type="text" placeholder="青空文庫の図書カードURLを入力")
    = link_to '/books/scrape/?url=', id: 'searchButton', class: 'ui primary button', method: :post, remote: true do
      %i.add.icon
      追加

.ui.divider

#bookList.ui.middle.alligned.divided.relaxed.large.list
  #loader.ui.disabled.text.loader Loading..

  - @course.course_books.each do |course_book|
    %div.item(id="#{course_book.id}")
      .right.floated.content
        .ui.icon.basic.button(onclick="removeBook(#{course_book.id})")
          %i.icon.remove
      %i.icon.content
      .content
        .header
          = course_book.book_id
        .description
          %small 文字数：
          %input(value="#{course_book.book_id}" type="hidden" name="course[course_books[][id]]")


.ui.bottom.fixed.borderless.menu
  .item
    %button.ui.red.button(type="submit" value="draft") 保存する
    %small （まだ一般公開はされません）



:javascript
  /***********************************************
  * Functions
  ***********************************************/
  function addBook(data) {
    var item = document.createElement('div');
    item.setAttribute('id', data['id']);
    item.setAttribute('class', 'item');
    item.innerHTML = `
      <div class="right floated content">
        <div class="ui icon basic button" onclick="removeBook(${ data['id'] })">
          <i class="icon remove"></i>
        </div>
      </div>
      <i class="icon content"></i>
      <div class="content">
        <div class="header">
          ${ data['author'] }『${ data['title'] }』
          <small><a href="#" target="_blank"><i class="icon external"></i></a></small>
        </div>
        <div class="description">
          <small>文字数：約12,000字</small>
          <input value="${ data['id'] }" type="hidden" name="course[course_books[][id]]">
        </div>
      </div>
    `;
    document.getElementById('bookList').appendChild(item);
  }

  function removeBook(book_id) {
    var element = document.getElementById(book_id);
    element.parentNode.removeChild(element);
  }


  /***********************************************
  * Events
  ***********************************************/
  document.getElementById("searchButton").onclick = function(e) {
    var baseHref = '/books/scrape/?url=';
    var searchButton = e.currentTarget;
    var searchInput = document.getElementById("searchInput");
    searchButton.setAttribute('href', baseHref + searchInput.value);
    searchInput.value = '';
  };

  document.body.addEventListener('ajax:before', function() {
    document.getElementById('loader').classList.replace('disabled', 'active');
  })

  document.body.addEventListener('ajax:success', function(event) {
    document.getElementById('loader').classList.replace('active', 'disabled');

    var detail = event.detail;
    var data = detail[0], status = detail[1],  xhr = detail[2];

    if(!data) {
      alert('データの追加に失敗しました(´；ω；｀) URLを再度ご確認いただき、それでも追加できない場合は運営までお問い合わせください。')
      return false;
    }

    if(document.getElementById(data['id'])) {
      alert('その本はもうリストに追加されているようです。他の本をお試しください。')
    }else {
      addBook(data);
    }
  })

  document.body.addEventListener('ajax:error', function(event) {
    document.getElementById('loader').classList.replace('active', 'disabled');
    alert('データの追加に失敗しました(´；ω；｀) URLを再度ご確認いただき、それでも追加できない場合は運営までお問い合わせください。')
  })
