- if @course.errors.any?
  .ui.error.visible.message
    .header データの保存に失敗しました
    .list
      - @course.errors.full_messages.each do |e|
        %li= e

.required.field
  = f.label :title, 'タイトル'
  = f.text_field :title, placeholder: '例）ロシア古典文学コース'
.field
  = f.label :description, '説明'
  = f.text_area :description, rows: '3', placeholder: '改行が使えます。またURLは自動でリンクに変換されます。'
%br


.ui.horizontal.divider 本の追加
- if @course.status == 2
  .ui.warning.visible.message
    %i.icon.warning.circle
    公開済みのコースでは本を編集することができません。修正したい場合は新しいコースを作り直してください。
- else
  %div
    %small
      = link_to 'https://www.aozora.gr.jp/index_pages/index_top.html', target: '_blank' do
        青空文庫で作品を探す
        %i.icon.external
.ui.secondary.padded.segment{class: "#{'hidden' if @course.status != 1}"}
  .ui.action.fluid.input
    %input#searchInput(type="text" placeholder="青空文庫の作品URL")
    = link_to '/books/scrape/?url=', id: 'searchButton', class: 'ui primary button', method: :post, remote: true do
      %i.add.icon
      追加
  %div
    %small
      （
      = link_to '図書カード', 'https://www.aozora.gr.jp/cards/000035/card1567.html', target: '_blank'
      もしくは
      = link_to 'XHTMLファイル', 'https://www.aozora.gr.jp/cards/000035/files/1567_14913.html', target: '_blank'
      のURL
      ）
#loader.ui.disabled.text.loader Loading..


#bookList.ui.middle.alligned.divided.relaxed.large.list
  - if @course.status == 1
    = f.fields_for :course_books do |cb|
      - course_book = cb.object
      .item(id="#{course_book.book_id}" data-saved="true")
        .right.floated.content
          .ui.icon.basic.button(onclick="removeBook(#{course_book.book_id})")
            %i.icon.remove
        %i.icon.content.handler
        .content
          .header
            = course_book.book.title
          .description
            %small= course_book.book.author
          .extra
            %small
              （#{course_book.book.text.length.to_s(:delimited)}文字）
            = cb.hidden_field :id, value: course_book.id
            = cb.hidden_field :book_id, value: course_book.book_id
            = cb.hidden_field :index, value: course_book.index, id: "#{course_book.book_id}_index"
            = cb.hidden_field :_destroy, value: false, id: "#{course_book.book_id}_destroy"
  - elsif @course.status == 2
    - @course.books.each do |book|
      %div.item
        .content
          .header
            = book.title
          .description
            %small= book.author
          .extra
            %small
              （#{book.text.length.to_s(:delimited)}文字）


.ui.bottom.fixed.borderless.menu
  .item
    %button.ui.red.button(type="submit" value="draft") 保存する
    - if @course.persisted?
      = link_to 'キャンセル', owned_courses_path, class: 'item'
  .right.floated.menu
    .item
      - if @course.persisted?
        = link_to '削除', course_path(@course), method: :delete, class: 'ui red basic button', data: {confirm: 'コースを削除します。本当によろしいですか？'}
      - else
        = link_to 'キャンセル', owned_courses_path, class: 'item'
