- content_for :breadcrumb do
  コース一覧

%h1.ui.header 配信コース一覧

.ui.cards
  - @courses.each do |course|
    = link_to course_path(course), class: 'ui card' do
      .content
        .header= course.title
        .meta
          .ui.horizontal.list
            .item
              %i.icon.book
              = course.course_books.count
              冊
            .item
              %i.icon.calendar.alternate.outline
              = course.updated_at.strftime('%Y年%m月%d日')
        .description= course.description.truncate(40)
