- content_for :breadcrumb do
  = link_to 'コース一覧', courses_path, class: 'section'
  %i.icon.right.angle.divider
  = @course.title


%h1
  = @course.title
  - if @user_course
    - if @user_course.status == 1
      %span.ui.red.mini.label 購読中
    - elsif @user_course.status == 2
      %span.ui.orange.mini.label 一時停止中
    - elsif @user_course.status == 3
      %span.ui.mini.label 配信完了

%div= simple_format_with_link @course.description

.ui.secondary.segment
  - if @user_course
    - if @user_course.active?
      = link_to skip_subscription_path(@user_course), method: 'post', class: 'ui blue basic icon small button', 'data-tooltip'=>'スキップ', 'data-inverted'=>'', data: {confirm: '現在の本をスキップして次の本を配信します。本当によろしいですか？'} do
        %i.icon.fast.forward
      = link_to subscription_path(id: @user_course.id, status: 2), method: 'put', class: 'ui red basic icon small button', 'data-tooltip'=>'一時停止', 'data-inverted'=>'' do
        %i.icon.pause
    - if @user_course.paused?
      = link_to subscription_path(id: @user_course.id, status: 1), method: :put, class: 'ui blue basic icon small button', 'data-tooltip'=>'再開', 'data-inverted'=>'' do
        %i.icon.play
    = link_to subscription_path(@user_course), method: 'delete', class: 'ui black basic icon small button', 'data-tooltip'=>'購読解除', 'data-inverted'=>'', data: {confirm: '購読を解除します。本当によろしいですか？'} do
      %i.icon.trash
  - else
    = link_to 'このコースを購読する', subscriptions_path(course_id: @course.id), method: :post, class: 'ui red button'
