= link_to courses_path, class: 'ui basic button' do
  %i.icon.reply
  戻る

%h1
  = @course.title
  - if @user_course
    - if @user_course.status == 1
      %span.ui.red.mini.label 購読中
    - elsif @user_course.status == 2
      %span.ui.orange.mini.label 一時停止中
    - elsif @user_course.status == 3
      %span.ui.mini.label 配信完了

%div= simple_format_with_link @course.description

- if current_user && current_user.id == @course.owner_id
  .ui.secondary.segment
    = link_to '編集する', edit_course_path(@course), class: 'ui primary button'
    = link_to '公開する', publish_course_path(@course), method: :post, class: 'ui red button', data: {confirm: '公開すると、本の編集はできなくなります。本当にいいですか？'}
    = link_to '削除', course_path(@course), method: :delete, class: 'ui basic button'

- if @user_course
  = link_to '購読を解除する', subscription_path(user_course_id: @user_course.id), method: :delete, class: 'ui red button'
- else
  = link_to '購読する', subscriptions_path(course_id: @course.id), method: :post, class: 'ui primary button'

- if @user_course && @user_course.status == 1
  = link_to '一時停止', subscription_path(user_course_id: @user_course.id, status: 2), method: :put, class: 'ui default button'
  = link_to '配信中の本をスキップする', skip_subscription_path(user_course_id: @user_course.id), method: :post, class: 'ui primary button'
  = link_to '配信', test_deliver_path(user_course_id: @user_course.id), method: :post, class: 'ui basic button'
- if @user_course && @user_course.status == 2
  = link_to '再開する', subscription_path(user_course_id: @user_course.id, status: 1), method: :put, class: 'ui default button'


- @course.books.each do |book|
  %ul
    %li
      = book.title
      = "（#{book.author}）"
