%h1.ui.large.header
  ゾラサーチとは

%amp-img.mobile.only(src="/assets/images/ogp_search.png" width="480" height="240" layout="responsive")
%amp-img.computer.only(src="/assets/images/ogp_search.png" width="480" height="240")

.ui.basic.segment
  %p
    ゾラサーチは、青空文庫の作品を
    %b 「読了目安時間」
    で検索できるサービスです。
    %br
    たとえば、「5分で読める夏目漱石の短編」などの条件で絞り込んで検索することができます。
%br

%h3.ui.dividing.header
  %i.far.fa-clock
  読了時間について
.ui.basic.segment
  %p
    サイト内で各作品の「読了時間」は、各作品の文字数を平均的な読書スピードとされる「400字/分」で割って計算しています。
    %br
    もちろん人によって読書スピードは異なるので、あくまで目安として参考にしてください。
  %p 具体的には、各カテゴリを以下の様に算出しています。

  %table.ui.unstackable.celled.table
    %thead
      %tr
        %th 読了時間
        %th 作品の文字数
    %tbody
      - @categories.each do |category|
        - next if category.id == 'all'
        %tr
          %td= category.name
          %td= characters_range(category)

  %p
    またこのサイト内では「〜12,000文字（=30分以内）」の作品を「短編」、
    「〜24,000文字（＝60分以内）」の作品を「中編」、
    「24,000文字〜（＝1時間〜）」の作品を「長編」と呼んでいますが、あくまで便宜的なものです。
    %br
    一般的な区分とは異なりますので、ご了承ください。
%br

%h3.ui.dividing.header
  %i.far.fa-star
  人気度について
.ui.basic.segment
  %p サイト内で各作品の「人気度」は、青空文庫で公開されている過去10年分のアクセスランキングを集計した累計アクセス数を基に算出しています。

  %p
    = link_to 'https://www.aozora.gr.jp/access_ranking/', target: '_blank' do
      青空文庫アクセスランキング
      %i.icon.external.small

  %p 具体的には、各カテゴリを以下の様に算出しています。
  %table.ui.unstackable.celled.table
    %thead
      %tr
        %th 人気
        %th 累計アクセス(PV)数
    %tbody
      %tr
        %td= access_count_stars(3)
        %td 10,000PV〜
      %tr
        %td= access_count_stars(2)
        %td 500PV〜
      %tr
        %td= access_count_stars(1)
        %td 〜500PV
      %tr
        %td= access_count_stars(0)
        %td ランキング入りなし
  %p
    各検索結果は、デフォルトでこの人気順（累計アクセス数順）に並んでいます。
  %p
    星の数が同じ作品は詳細な累計アクセス数の順に並びます。累計アクセス数は作品詳細ページで確認できます。
%br

%h3.ui.dividing.header
  %i.far.fa-envelope
  ブンゴウメールについて
%amp-img.mobile.only(src="/assets/images/ogp.png" width="480" height="240" layout="responsive")
%amp-img.computer.only(src="/assets/images/ogp.png" width="480" height="240")
.ui.basic.segment
  = link_to root_url(subdomain: ''), target: '_blank', class: 'ui basic responsive button' do
    ブンゴウメール公式サイト
    &nbsp;
    %small
      %i.fas.fa-external-link-alt

.ui.basic.segment
  %p
    ゾラサーチは、「ブンゴウメール」というサービスの姉妹サービスとして運営されています。
  %p
    「ブンゴウメール」は、青空文庫の作品を小分けにして毎日3分程度のメールで配信してくれるサービスです。
    %br
    忙しくて読書の時間を取れなくなった人や、ふだん文学作品を読まない人から反響を頂き、リリースから累計1万人近くのユーザーに登録いただいています。
  %p
    ゾラサーチは、ブンゴウメール開発の過程で青空文庫のテキストを解析したデータが大量にストックされたため、それを活用するプロジェクトとして提供しています。
  %p
    詳しい開発の背景などにもし興味をお持ちいただけたら、開発者ブログをご覧ください。
  %p
    = link_to 'https://blog.notsobad.jp', class: 'ui basic responsive button', target: '_blank' do
      開発者ブログ
      &nbsp;
      %small
        %i.fas.fa-external-link-alt

%br
%br
