.mb-8
  %h1.text-lg.font-bold
    = @meta_title

= form_with scope: :q, url: aozora_books_path, local: true, method: :get, class: '' do |f|
  = f.label :title
  = f.text_field :title, value: @q[:title]
  = f.label :author
  = f.text_field :author, value: @q[:author]

  = f.submit '検索', class: 'block sm:inline-block cursor-pointer rounded bg-indigo-600 text-white px-4 py-2 hover:opacity-75'

%ul
  - @books.each do |book|
    %li
      = link_to book.title, aozora_book_path(book.id, q: @q)
