.mb-8
  %h1.text-lg.font-bold
    = @book.title

.mb-8
  - if current_user && current_user.plan == 'basic'
    - channel = current_user.channels.first
    = form_with model: @book_assignment, url: book_assignments_path, local: true, class: '' do |f|
      = f.hidden_field :channel_id, value: channel.id
      = f.hidden_field :book_id, value: @book.id
      = f.hidden_field :book_type, value: 'AozoraBook'

      = f.label :start_date
      = f.date_field :start_date, required: true, value: channel.nearest_assignable_date
      = f.label :end_date
      = f.date_field :end_date, required: true

      = f.submit '配信予約する', class: 'block sm:inline-block cursor-pointer rounded bg-indigo-600 text-white px-4 py-2 hover:opacity-75'
  - else
    %div{class: 'block sm:inline-block rounded bg-indigo-600 text-white px-4 py-2 opacity-50 mb-2'}
      配信予約する
    .text-xs
      ※好きな作品の配信はBasicプラン以上で利用可能です。

.border-b.mb-8

.mb-8
  = link_to '検索結果に戻る', aozora_books_path(q: @q), class: 'border rounded px-3 py-2'
