%footer.bg-gray-900.text-gray-300.text-center.py-12.text-sm
  %h5.font-bold.text-white.text-base.mb-4
    ブンゴウメール
  .ui.horizontal.list.mb-8.space-x-2
    = link_to '利用規約', page_url(:terms), class: 'item'
    = link_to 'プライバシーポリシー', page_url(:privacy), class: 'item'
    = link_to '特定商取引法', page_url(:tokushoho), class: 'item'
    = link_to 'お問い合わせ', 'https://goo.gl/forms/jE387feQLYysiv5m2', target: '_blank', class: 'hover:text-white'
    = link_to '運営', 'https://notsobad.jp', target: '_blank', class: 'hover:text-white'
  %div
    .text-sm.mb-2
      Copyright ブンゴウメール 2018-#{Time.current.year} All rights reserved.
    .text-sm
      Powered by
      %a{:href => "https://notsobad.jp", :target => "_blank"} NOT SO BAD, LLC.
