- if Rails.env.development? || Time.current > Time.zone.parse("2021-07-01")
  .mb-8.space-y-4
    = link_to memberships_new_path, class: 'rounded bg-red-600 text-white w-full py-4 text-center flex items-center justify-center hover:bg-red-500' do
      %svg(class="mr-2 w-8 h-8 fill-current" focusable="false" viewBox="0 0 24 24" aria-hidden="true")
        %path(d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z")
      .flex.items-center
        新規登録
        .text-sm （1ヶ月無料）
    = link_to memberships_edit_path, class: 'rounded bg-indigo-500 text-white w-full py-3 text-center hover:bg-indigo-400 flex items-center justify-center' do
      %svg(class="mr-2 w-8 h-8 fill-current" focusable="false" viewBox="0 0 24 24" aria-hidden="true")
        %path(d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z")
      .flex.flex-col
        お支払い情報の管理
        .text-sm （利用者メニュー）

.mb-8
  %h5.font-bold.mb-2
    %svg(class="inline w-6 h-6 fill-current" focusable="false" viewBox="0 0 24 24" aria-hidden="true")
      %path(d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z")
    ブンゴウサーチ
  .mb-2
    = link_to 'https://bungo-search.com', target: :_blank do
      = image_tag('/assets/images/ogp_search.png', alt: 'ブンゴウサーチ', class: 'rounded')
  .text-sm
    青空文庫の作品を目安の読了時間で検索できる姉妹サービスです。
  = link_to nil, 'https://bungo-search.com', target: :_blank, class: 'text-link'
