%h5.ui.small.dividing.header
  %i.icon.question.circle
  お問い合わせ・フィードバック
.ui.secondary.segment
  %p サービスの不具合報告や改善要望などは、以下のフォームからお気軽にご連絡ください！
  = link_to 'https://goo.gl/forms/jE387feQLYysiv5m2', class: 'ui large fluid primary button', target: '_blank' do
    お問い合わせフォーム
  %small （匿名で投稿できます）

%h5.ui.small.dividing.header
  %i.icon.search
  作品検索
.ui.secondary.segment
  = form_tag books_path, method: :get do
    .ui.action.fluid.input
      = text_field_tag :keyword, nil, placeholder: 'キーワード'
      = button_tag type: :submit, class: 'ui primary button' do
        %i.search.icon
        検索

%h5.ui.small.dividing.header
  %i.icon.user
  アカウント
.ui.segment
  .ui.list
    - if current_user
      .item
        = image_tag(current_user.profile_image_url, class: 'ui avatar bordered image', alt: current_user.display_name)
        .content
          .header
            = link_to current_user.display_name, user_path(current_user.token)
          .description= current_user.email
          .list
            .item
              %i.icon.setting
              .content
                .description
                  = link_to 'アカウント情報', user_path(current_user.token)
            .item
              %i.icon.sign.in
              .content
                .description
                  = link_to 'ログアウト', logout_path, method: :post
    - else
      .item
        = image_tag('avatar.png', class: 'ui avatar bordered image', alt: 'ゲストユーザー')
        .content
          .header ゲストユーザー
          .description
          .list
            .item
              %i.icon.sign.in
              .content
                .description
                  = link_to 'ログイン', login_path
