- if Rails.env.production?
  .mt-8.mb-8
    %amp-ad(width="100vw" height="320" type="adsense" data-ad-client="ca-pub-7840479109197513" data-ad-slot="6582259022" data-auto-format="rspv" data-full-width="")
      %div(overflow="")

.mt-8.mb-8
  %h4.font-bold.mb-2
    %i.far.fa-clock
    = t :minutes_to_read, scope: [:search, :layouts, :sidebar]
  .border.rounded.divide-y.flex.flex-col.text-sm.text-gray-400
    - @categories.each do |category_id, category|
      = link_to author_category_books_path(author_id: 'all', category_id: category[:id]), class: 'flex justify-between p-3 hover:text-gray-700' do
        = category[:name]
        %small
          = category[:books_count].to_s(:delimited)
          = t :items, scope: [:search, :layouts, :sidebar]

.mb-8
  %h4.font-bold.mb-2
    %i.far.fa-user
    = t :popular_authors, scope: [:search, :layouts, :sidebar]
  .border.rounded.divide-y.flex.flex-col.text-sm.text-gray-400
    - @authors.each do |author, sum_access_count|
      = link_to author_category_books_path(author_id: author[1], category_id: 'all'), class: 'flex justify-between p-3 hover:text-gray-700' do
        = Book.author_name(author[0])
