!!!
%html(lang="ja")
  %head
    = render partial: 'layouts/meta'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: true

    -# Google Tag Manager
    - if Rails.env.production?
      :javascript
        document.addEventListener('turbolinks:load', function(event) {
          var url = event.data.url;
          dataLayer.push({
            'event':'pageView',
            'virtualUrl': url
          });
        });
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer', "#{ENV['GOOGLE_TAG_MANAGER_ID']}");


  %body(data-path="#{controller_name}##{action_name}" data-controller="#{controller_name}" data-action="#{action_name}")
    -# Google Tag Manager
    %noscript
      %iframe(src="https://www.googletagmanager.com/ns.html?id=#{ENV['GOOGLE_TAG_MANAGER_ID']}" height="0" width="0" style="display:none; visibility:hidden;")

    #dimmer.ui.page.inverted.dimmer
      .ui.text.loader Loading..

    .ui.top.fixed.borderless.seigaiha.menu
      = link_to(pro_root_path, class: 'header item') do
        ブンゴウメール
        %span.ui.red.label PRO
      = link_to subscriptions_path, class: 'computer only item' do
        %i.icon.rss
        購読中のチャネル
      = link_to books_path, class: 'computer only item' do
        %i.icon.search
        作品検索

      .right.menu
        .ui.simple.dropdown.item
          %i.content.icon
          .menu
            = link_to pro_root_path, class: 'item' do
              %i.icon.home
              ホーム
            = link_to subscriptions_path, class: 'item' do
              %i.icon.rss
              購読中のチャネル
            = link_to books_path, class: 'item' do
              %i.icon.search
              作品検索
            - if current_user
              = link_to user_path(current_user.token), class: 'item' do
                %i.icon.setting
                アカウント情報
              = link_to logout_path, method: :post, class: 'item' do
                %i.icon.sign.out
                ログアウト
            - else
              = link_to login_path, class: 'item' do
                %i.icon.sign.in
                ログイン
            = link_to 'https://goo.gl/forms/jE387feQLYysiv5m2', class: 'item', target: '_blank' do
              %i.icon.question
              お問い合わせ
    - if path == 'pages#top' && !current_user.try(:pro?)
      .ui.attached.warning.message(style="margin-top:45px;margin-bottom:-45px;")
        %i.icon.warning.circle
        現在【FREEプラン】で利用しています。RSSフィードのみ配信され、実際にメールは配信されません。メールを受け取るには
        = link_to '【PROプラン】に登録', user_path(current_user.token)
        してください。

    %div#main-content
      - if path == 'pages#top'
        %section#header.ui.centered.stackable.seigaiha.grid
          - %w(warning error success info).each do |status|
            - if flash[status]
              .ui.row
                .column
                  .ui.message(class="#{status}")
                    = sanitize flash[status]
          .ui.row
            %br
              .six.wide.right.aligned.column
                %br/
                %h1
                  = image_tag('logo.png', id: 'logo', class: 'ui medium centered image', alt: 'ブンゴウメール')
                %br/
              #header-catch.six.wide.left.aligned.column.mt-30
                .ui.large.header
                  もっと読書をたのしもう。
                  .sub.header
                    好きな作家をずっと配信したり、おまかせで中長編の配信を楽しんだり。
                    %br.computer.only/
                    ブンゴウメールPROは、もっと読書を楽しみたいあなたのためのサービスです。
                %br/
                %br/
                - if current_user
                  = link_to subscriptions_path, class: 'ui large primary left labeled icon button' do
                    %i.icon.rss
                    購読中のチャネルを見る
                - else
                  = link_to login_path, class: 'ui large red left labeled icon button' do
                    %i.icon.sign.in
                    ベータ版を利用する（無料）
        %br
        %br
        %br
      - else
        = render partial: 'layouts/breadcrumb'
      .ui.container
        .ui.stackable.grid
          .ui.twelve.wide.column
            - %w(warning error success info).each do |status|
              - if flash[status] && path != 'pages#top'
                .ui.message(class="#{status}")
                  = sanitize flash[status]
            = yield
          #sidebar.ui.four.wide.column
            = render partial: 'layouts/sidebar'
    = render partial: 'layouts/footer'
