!!!
%html
  %head
    %meta(content="text/html" charset="UTF-8" http-equiv="Content-Type")
    %meta(name="viewport" content="width=device-width" initial-scale="1.0" maximum-scale="1.0")
    %title ブンゴウメール
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    -# Google Tag Manager
    - if Rails.env.production?
      :javascript
        document.addEventListener('turbolinks:load', function(event) {
          var url = event.data.url;
          dataLayer.push({
            'event':'pageView',
            'virtualUrl': url
          });
        });
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer', ENV['GOOGLE_TAG_MANAGER_ID']);


  %body(data-controller="#{controller_name}" data-action="#{action_name}")
    -# Google Tag Manager
    %noscript
      %iframe(src="https://www.googletagmanager.com/ns.html?id=#{ENV['GOOGLE_TAG_MANAGER_ID']}" height="0" width="0" style="display:none; visibility:hidden;")


    .ui.top.fixed.borderless.seigaiha.menu
      = link_to(root_path, class: 'header item') do
        ブンゴウメール
        %span.ui.red.label PRO
      = link_to subscriptions_path, class: 'computer only item' do
        %i.icon.rss
        購読中のチャネル
      = link_to books_path, class: 'computer only item' do
        %i.icon.search
        作品検索

      .right.menu
        .ui.simple.dropdown.item
          %i.content.icon
          .menu
            = link_to root_path, class: 'item' do
              %i.icon.home
              ホーム
            = link_to subscriptions_path, class: 'item' do
              %i.icon.rss
              購読中のチャネル
            = link_to books_path, class: 'item' do
              %i.icon.search
              作品検索
            - if current_user
              = link_to user_path(current_user.token), class: 'item' do
                %i.icon.setting
                アカウント情報
              = link_to logout_path, method: :post, class: 'item' do
                %i.icon.sign.out
                ログアウト
            - else
              = link_to login_path, class: 'item' do
                %i.icon.sign.in
                ログイン
    - if path == 'pages#about'
      = yield
    - else
      %div#main-content
        - if path == 'pages#top'
          %section#header.ui.centered.stackable.seigaiha.grid
            .ui.row
              %br
                .six.wide.right.aligned.column
                  %br/
                  %div
                    = image_tag('logo.png', id: 'logo', class: 'ui medium centered image', alt: 'ブンゴウメール')
                  %br/
                #header-catch.six.wide.left.aligned.column.mt-30
                  .ui.large.header
                    もっと読書をたのしもう。
                    .sub.header
                      好きな作家をずっと配信したり、おまかせで中長編の配信を楽しんだり。
                      %br.computer.only/
                      ブンゴウメールPROは、もっと読書を楽しみたいあなたのためのサービスです。
                  %br/
                  %br/
                  - if current_user
                    = link_to subscriptions_path, class: 'ui large red left labeled icon button' do
                      %i.icon.rss
                      購読中のチャネルを見る
                  - else
                    = link_to login_path, class: 'ui large red left labeled icon button' do
                      %i.icon.sign.in
                      ベータ版を利用する（無料）
          %br
          %br
          %br
        - else
          = render partial: 'layouts/breadcrumb'
        .ui.container
          .ui.stackable.grid
            .ui.twelve.wide.column
              - %w(warning error success info).each do |status|
                - if flash[status]
                  .ui.message(class="#{status}")
                    = flash[status]
              = yield
            #sidebar.ui.four.wide.column
              = render partial: 'layouts/sidebar'
    = render partial: 'layouts/footer'
