!!!
%html(lang="ja")
  %head
    -# Google Tag Manager
    - if Rails.env.production?
      :javascript
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer', "#{ENV['GOOGLE_TAG_MANAGER_ID']}");

    = render partial: 'layouts/meta'
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_include_tag 'application', async: true
    - css_file_name = Rails.env.production? ? JSON.load(File.read('tmp/csv_version.json'))["application.css"] : 'application.css'
    %link(rel="stylesheet" href="/assets/stylesheets/#{css_file_name}")
    %link(rel="preconnect" href="https://fonts.gstatic.com")
    %link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet")


  %body.text-gray-700.font-sans
    -# Google Tag Manager
    - if Rails.env.production?
      %noscript
        %iframe(src="https://www.googletagmanager.com/ns.html?id=#{ENV['GOOGLE_TAG_MANAGER_ID']}" height="0" width="0" style="display:none; visibility:hidden;")

    - if current_page?(root_url) || current_page?(lp_new_url)
      = yield
    - else
      = render partial: 'layouts/header'
      .container.mx-auto.max-w-screen-lg.px-2(class="sm:px-0")
        .mb-32.grid.grid-cols-1(class="sm:grid-cols-3 sm:gap-12")
          .col-span-2.border-b.pb-8.mb-8(class="sm:border-b-0 sm:pb-0 sm:mb-0")
            = render partial: 'layouts/breadcrumb'
            = render partial: 'layouts/flash', locals: { style: '-mt-4 mb-4' }
            = yield
          .col-span-1
            = render partial: 'layouts/sidebar'

    = render partial: 'layouts/footer'
