!!!
%html
  %head
    %meta(content="text/html" charset="UTF-8" http-equiv="Content-Type")
    %meta(name="viewport" content="width=device-width" initial-scale="1.0" maximum-scale="1.0")
    %title ブンゴウメール
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body(data-controller="#{controller_name}" data-action="#{action_name}")
    .ui.top.fixed.borderless.menu
      = link_to(root_path, class: 'header item') do
        ブンゴウメール
        %span.ui.red.label PRO
      .right.menu
        .ui.simple.dropdown.item
          %i.content.icon
          .menu
            = link_to root_path, class: 'item' do
              %i.icon.home
              ホーム
            = link_to books_path, class: 'item' do
              %i.icon.search
              作品検索
            - if current_user
              = link_to user_path(current_user.token), class: 'item' do
                %i.icon.setting
                アカウント情報
              = link_to logout_path, method: :post, class: 'item' do
                %i.icon.sign.out
                ログアウト
            - else
              = link_to login_path, class: 'item' do
                %i.icon.sign.in
                ログイン
    - if path == 'pages#about'
      = yield
    - else
      %div#main-content
        - if path == 'subscriptions#index'
          %br
          %br
        - else
          = render partial: 'layouts/breadcrumb'
        .ui.container
          .ui.stackable.grid
            .ui.twelve.wide.column
              - %w(warning error success info).each do |status|
                - if flash[status]
                  .ui.message(class="#{status}")
                    = flash[status]
              = yield
            .ui.four.wide.column
              = render partial: 'layouts/sidebar'
    = render partial: 'layouts/footer'
