!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bungomailpro
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .ui.secondary.menu
      .header.item
        = link_to 'ブンゴウメール PRO', root_path
      .item
        = link_to '配信コース', courses_path
      .right.menu
        - if current_user
          .item
            = link_to current_user.email, subscriptions_path
          .item
            = link_to 'ログアウト', logout_path
        - else
          .item
            = link_to 'ログイン', login_path
    = yield
